@import '_config.scss';
@import 'plugin/_bootstrap.scss';
@import 'plugin/_fontawesome.all.scss';
@import 'component/_button-badge.scss';

html,
body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

// =================================

.body {
  background-color: #F2F2F2;
}

.container-custom {
  max-width: 1300px;
}

.navbar-brand-custom {
  margin-right: 130px;
}

.nav-custom {
  background-color: #FFF;
  padding: 3px 0;
  box-shadow: 0px 3px 18px #0000001C;
  margin-bottom: 45px;
  position: sticky;
  top: 0;
  z-index: 10;

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #4F4F4F;
    position: relative;

    &.dots {
      &::after {
        content: '';
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background-color: #FF3939;
        border-radius: 50%;
      }
    }

    // &::before {
    //   content: '';
    //   opacity: 1;
    //   position: absolute;
    //   right: 0;
    //   left: 100%;
    //   height: 5px;
    //   background-color: $secondaryColor;
    //   bottom: -11px;
    //   transition: all .3s ease;
    // }

    // &.active::before {
    //   left: 0;
    // }

    // &:hover {
    //   color: #4F4F4F;

    //   &::before {
    //     left: 0;
    //   }
    // }

    &::before {
      content: '';
      opacity: 1;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -11px;
      height: 5px;
      background-color: $secondaryColor;
      animation: slide-out 300ms ease-in-out forwards;
      pointer-events: none;
    }

    &.active::before {
      animation: slide-in 300ms;
    }

    &:hover {
      color: #4F4F4F;

      &::before {
        animation: slide-in 300ms;
      }
    }

    @keyframes slide-out {
      0% {
        left: 0;
      }

      100% {
        left: 100%;
      }
    }

    @keyframes slide-in {
      0% {
        right: 100%;
      }

      100% {
        right: 0;
      }
    }
  }

  &__notification {
    position: relative;
    // vertical-align: -webkit-baseline-middle;
    display: flex;

    &::before {
      content: '';
      position: absolute;
      width: 13px;
      height: 13px;
      top: -5px;
      left: 0px;
      background-color: #FF3939;
      border-radius: 50%;
      // -webkit-animation: breathing 1.5s ease-out infinite normal;
      // animation: breathing 1.5s ease-out infinite normal;
    }

    &::after {
      content: '';
      position: absolute;
      width: 13px;
      height: 13px;
      top: -5px;
      left: 0px;
      background-color: #FF3939;
      border-radius: 50%;
      -webkit-animation: breathing 1.5S ease-in-out infinite normal;
      animation: breathing 3S ease-in-out infinite normal;
    }

    &:focus {
      outline: none;
    }

    @keyframes breathing {
      85% {
        transform: scale(1);
        opacity: 0.4;
      }

      100% {
        transform: scale(4);
        opacity: 0;
      }

      // 50% {
      //   transform: scale(1);
      // }

      // 100% {
      //   transform: scale(0.5);
      // }
    }
  }

  &__profile {
    cursor: pointer;
  }
}

.section {
  &__bg {
    background-color: #FFF;
    padding: 50px 90px;
    border-radius: 5px;
    position: relative;
  }

  &__title {
    font-size: 26px;
    line-height: 39px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #000;

    // Mentor
    &--big {
      @extend .section__title;
      font-size: 40px;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 0;
      display: inline-block
    }

    // Mentor

    &--top {
      @extend .section__title;
      font-size: 20px;
      line-height: 30px;
      color: #4F4F4F;
      margin-bottom: 0
    }

    &--small {
      @extend .section__title;
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 0;
    }

    &--muted {
      @extend .section__title;
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      color: #989898;
    }
  }
}

.alert-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: .3s;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &__success {
    background-color: #6DDA5F;
  }

  &__fail {
    background-color: #FF3939;
  }
}

.dropdown-custom-nav,
.dropdown-custom {
  top: 140%;
  box-shadow: 0px 0px 19px #00000017;
  border-radius: 7px;
  background-color: #FFF;
  border: none;
  padding: 8px 0;

  &::before {
    content: '';
    position: absolute;
    right: 10%;
    top: -5px;
    transform: rotate(45deg);
    display: block;
    width: 20px;
    height: 20px;
    background-color: #FFF;
    z-index: -1;
  }

  &__notification {
    min-width: 20rem;
    border: none;
    box-shadow: 0px 0px 16px #00000021;
    border-radius: 7px;
    top: 290%;
    padding-bottom: 0;

    &::before {
      content: '';
      position: absolute;
      right: 7%;
      top: -5px;
      transform: rotate(45deg);
      display: block;
      width: 20px;
      height: 20px;
      background-color: #FFF;
      z-index: -1;
    }
  }

  &__head {
    font-size: 14px;
    font-weight: 500;
    color: #4F4F4F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
  }

  &__item {
    font-size: 14px;
    font-weight: 300;
    color: #4F4F4F;
    display: flex;
    white-space: inherit;

    &--green {
      @extend .dropdown-custom-nav__item;
      color: $secondaryColor;

      &:hover {
        background-color: inherit;
        color: $secondaryColor;
      }
    }

    &:active {
      background-color: lighten($color: $primaryColor, $amount: 10%);
    }
  }

  &__time {
    font-size: 12px;
  }

  &__footer {
    font-size: 14px;
    font-weight: 300;
    color: #4F4F4F;
    display: flex;
    white-space: inherit;
    padding: 10px 0;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  &__arrow {
    position: relative;

    &::before {
      content: "\f054";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: #CECECE;
    }
  }
}


// ======================================

.btn-whatsapp {
  position: fixed;
  z-index: 5;
  bottom: 110px;
  right: 22px;
  width: 44px;
  height: 44px;
  background-color: #02B920;
  border-radius: 50%;
  font-size: 28px;
  color: #FFF;
  text-align: center;
  line-height: 44px;
  border: none;
  transition: all .3s;
  text-decoration: none;

  &:hover {
    right: 18px;
    width: 52px;
    height: 52px;
    font-size: 32px;
    color: #FFF;
    line-height: 52px;

    .btn-whatsapp__text {
      height: 70px;
    }

    &::before {
      opacity: 1;
      visibility: visible;
    }
  }

  &__text {
    position: fixed;
    border-radius: 7px;
    height: 0;
    // width: 115px;
    bottom: 180px;
    right: 10px;
    background-color: #FFF;
    transition: height .5s ease;
    box-shadow: 0px 3px 8px #0000001A;
    line-height: normal;
    overflow: hidden;
  }

  &__title {
    margin: 16px 16px 0 16px;
    font-size: 14px;
    font-weight: 500;
    color: #6DDA5F;
    display: block;
  }

  &__desc {
    font-size: 10px;
    font-weight: 300;
    color: #707070;
    display: block;
  }

  &::before {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #FFF;
    line-height: normal;
    position: absolute;
    z-index: 5;
    bottom: 54px;
    right: 18px;
    font-size: 26px;
    opacity: 0;
    visibility: hidden;
    filter: drop-shadow(0px 3px 8px #0000001A);
    transition: all 0.3s ease;
  }
}

.btn-back-to-top {
  position: fixed;
  z-index: 10;
  bottom: 50px;
  right: 22px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primaryColor;
  border-radius: 50%;
  font-size: 20px;
  color: #FFF;
  border: none;
  transition: .3s;

  &:focus {
    background-color: $secondaryColor;
  }
}

// ===================================
.footer {
  padding-bottom: 30px;

  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__text {
    font-size: 12px;
    line-height: 28px;
    color: #4F4F4F;
    text-align: center;
  }
}