@import url(https://fonts.googleapis.com/css?family=Lato:700);

// -- vars
$bg-color: #34495e;
$default-size: 52PX;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 4;

// -- mixins
@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin draw-progress($progress, $color) {
  .pie {
    .half-circle {
      border-color: $color;
    }

    .left-side {
      transform: rotate($progress * 3.6deg);
    }

    @if $progress <=50 {
      .right-side {
        display: none;
      }
    }

    @else {
      clip: rect(auto, auto, auto, auto);

      .right-side {
        transform: rotate(180deg);
      }
    }
  }
}

@mixin draw-progress--solid($progress, $color, $bg-color) {
  background: linear-gradient(to right, $color 50%, $bg-color 50%);

  &:before {
    @if $progress <=50 {
      background: $bg-color;
      transform: rotate((100 - (50 - $progress)) / 100 * 360deg * -1);
    }

    @else {
      background: $color;
      transform: rotate((100 - $progress) / 100 * 360deg);
    }
  }
}

// -- selectors
// *,
// *:before,
// *:after {
//   box-sizing: border-box;
// }

// html,
// body {
//   background: #ecf0f1;
//   color: #444;
//   font-family: 'Lato', Tahoma, Geneva, sans-serif;
//   font-size: 16px;
//   padding: 10px;
// }

.set-size {
  font-size: 16PX;
}

.charts-container {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.pie-wrapper {
  @include size($default-size, $default-size);
  position: relative;
  display: inline-block;

  &:nth-child(3n + 1) {
    clear: both;
  }

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: ($default-size / 10) solid #3498db;
      border-radius: 50%;
      clip: rect(0, $default-size / 2, $default-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    background: $bg-color;
    border-radius: 50%;
    // bottom: $label-font-size-redo / 10;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: 12px;
    // left: $label-font-size-redo / 10;
    line-height: 52px;
    position: absolute;
    // right: $label-font-size-redo / 10;
    text-align: center;
    // top: $label-font-size-redo / 10;
    width: 52px;
    height: 52px;

    .smaller {
      color: #000;
      font-size: 12px;
      padding-bottom: 20px;
    }
  }

  .pie-shadow {
    @include size(100%, 100%);
    border: $default-size / 10 solid #CECECE;
    border-radius: 50%;
  }

  &.style-2 {
    .label {
      background: none;
      color: #000;

      .smaller {
        color: #000;
      }
    }
  }

  &.progress-0 {
    @include draw-progress(0, #CECECE);
  }

  &.progress-25 {
    @include draw-progress(25, #FFB300);
  }

  &.progress-50 {
    @include draw-progress(50, #ffee00);
  }

  &.progress-75 {
    @include draw-progress(75, #b3ff00);
  }

  &.progress-100 {
    @include draw-progress(100, #6DDA5F);
  }
}

// .pie-wrapper--solid {
//   border-radius: 50%;
//   overflow: hidden;

//   &:before {
//     border-radius: 0 100% 100% 0 / 50%;
//     content: '';
//     display: block;
//     height: 100%;
//     margin-left: 50%;
//     transform-origin: left;
//   }

//   .label {
//     background: transparent;
//   }

//   &.progress-65 {
//     @include draw-progress--solid(65, #e67e22, $bg-color);
//   }

//   &.progress-25 {
//     @include draw-progress--solid(25, #9b59b6, $bg-color);
//   }

//   &.progress-88 {
//     @include draw-progress--solid(88, #3498db, $bg-color);
//   }
// }