@import "../_config.scss";
@import "../component/_form.scss";
@import "../plugin/_bootstrap-select.scss";
@import "../component/_button-badge.scss";
@import "../component/_table-submission.scss";
@import "../component/_modal.scss";

// ========================

.account {
  margin-bottom: 52px;

  &__desc {
    font-size: 16px;
    font-weight: 400;
    color: #4f4f4f;
    margin-bottom: 10px;

    &--small {
      @extend .account__desc;
      font-size: 14px;
      color: #636363;
      margin-bottom: 38px;
    }
  }

  &__left {
    background-color: #fff;
    padding: 50px 90px;
    border-radius: 5px;
    height: 100%;
  }

  &__right {
    background-color: #fff;
    padding: 50px 50px;
    border-radius: 5px;
    width: 100%;
  }

  &__indicator {
    font-size: 16px;
    line-height: 25px;
    color: $secondaryColor;
    vertical-align: middle;

    &::before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: $secondaryColor;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;

    &--small {
      @extend .account__subtitle;
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__date {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
  }

  &__time {
    font-size: 12px;
    line-height: 28px;
    color: #989898;
  }
}

.progress-custom {
  position: relative;
  height: 25px;
  background-color: rgba(206, 206, 206, 0.2);
  border-radius: 12px;

  &__bar {
    background-color: $secondaryColor;
  }

  &__percent {
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 14px;
  }
}

.account-setting {
  &__bg {
    padding: 80px 60px;
  }
}

.account-navigation {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__item {
    font-size: 16px;
    font-weight: 400;
    color: #4f4f4f;
    margin-bottom: 30px;
    position: relative;
    transition: padding-left 0.3s;

    &.active {
      padding-left: 15px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 5px;
        height: 20px;
        background-color: $secondaryColor;
        opacity: 1;
      }
    }

    &:hover {
      text-decoration: none;
      color: inherit;
      // padding-left: 15px;

      // &::before {
      //   width: 5px;
      //   opacity: 1;
      // }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 5px;
      height: 20px;
      background-color: $secondaryColor;
      transition: 0.3s;
      opacity: 0;
    }

    &--green {
      @extend .account-navigation__item;
      color: $secondaryColor;
      margin-top: auto;
      margin-bottom: 0;
    }
  }
}

.account-info {
  &__title {
    font-size: 30px;
  }

  &__desc {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
  }

  &__image-wrapper {
    position: relative;
    cursor: pointer;

    &::before {
      content: "\f304";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 12px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 25px;
      height: 25px;
      background-color: $secondaryColor;
      border-radius: 50%;
      z-index: 1;
    }
  }

  &__image {
    border: none;
    padding: 0;
    position: relative;
  }

  &__image-text {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #636363;
    margin-top: 25px;
  }

  &__btn {
    font-size: 12px;
  }
}





// Mentor
.progress-custom {
  position: relative;
  height: 25px;
  width: 100%;
  background-color: rgba(206, 206, 206, 0.3);
  border-radius: 12px;
  margin-top: 10px;

  &__bar {
    background-color: $secondaryColor;
    border-radius: 12px;
  }

  &__percent {
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 14px;
  }
}

.overview {
  margin-bottom: 50px;

  &__left {
    background-color: #fff;
    padding: 40px 90px;
    border-radius: 5px;
    height: 100%;
  }

  &__right {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 5px;
    width: 100%;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }

  &__title-date {
    font-size: 12px;
    font-weight: 300;
    color: #636363;
  }

  &__subtitle {
    font-size: 15px;
    font-weight: 400;
  }

  &__badge {
    background-color: #32826d;
    color: #fff;
    font-size: 22px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    vertical-align: middle;
  }

  &__badge-text {
    margin-left: 12px;
    font-size: 20px;
    font-weight: 500;
    color: #32826d;
    vertical-align: middle;
  }

  &__badge-info {
    cursor: pointer;
  }

  &__score {
    font-size: 40px;
    font-weight: 500;
    color: $secondaryColor;
  }
}

.modal-custom {
  &__title {
    padding-top: 10px;
  }

  &__desc {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 30px;
  }

  &__badge-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__badge-desc {
    font-size: 14px;
    font-weight: 500;
    margin-top: 18px;
    margin-bottom: 0;

    &--green {
      @extend .modal-custom__badge-desc;
      color: $secondaryColor;
    }

    &--darkgreen {
      @extend .modal-custom__badge-desc;
      color: #32826d;
    }

    &--orange {
      @extend .modal-custom__badge-desc;
      color: #ffb300;
    }
  }

  &__score {
    font-size: 12px;
    color: #636363;
    font-weight: 400;
  }
}