@import '../_config.scss';

.nav-custom{
  margin-bottom: 0;
}

.body {
  // background-color: #F2F2F2;
  // min-height: 700px;
  // height: 100%;
  position: relative;
  min-height: 100vh;

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    background-image: url(../../img/chapter-opening/bg-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 231px;
    height: 303px;
  }
}

.chapter {

  // height: 75vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  z-index: 2;
  padding-top: 50px;
  padding-bottom: 50px;

  &__bg {
    border-radius: 10px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    // max-width: 887px;
    // min-width: 887px;
    // padding: 121px 140px;
    width: 100%;
    min-height: 421px;
    padding: 55px;
  }

  &__title {
    // font-size: 20px;
    // color: $secondaryColor;
    // font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #242E3B;
    font-weight: 500;
  }

  &__subtitle {
    font-size: 26px;
    line-height: 39px;
    font-weight: 500;
    color: #000;
    
    &--green{
      @extend .chapter__subtitle;
      color: $secondaryColor;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #4f4f4f;
    // margin-top: 20px;
    // margin-bottom: 92px;
    
    &--green{
      @extend .chapter__desc;
      color: $secondaryColor;
    }
  }

  &__content{
    &.hidden{
     display: none; 
    }
  }

  &__robot-image{
    &.hidden{
      display: none;
    }
  }

  &__button-container{
    position: absolute;
    right: 55px;
    bottom: 55px;
    left: 55px;
    text-align: right;
  }

  &__next, &__prev{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: $secondaryColor;
    cursor: pointer;
  }
}