@import '../_config.scss';
@import '../component/_chapter-topic-accordion.scss';
@import '../component/_modal.scss';
@import '../component/_header-chapter.scss';
@import '../component/_side-bar.scss';

html {
  scroll-behavior: smooth;
}

.nav-custom {
  margin-bottom: 0;
  position: unset;
}

.header-chapter {
  top: 0;
}

.topic {
  &__title {
    width: inherit;
    font-size: 14px;
    font-weight: 300;
  }
}

.btn-accordion-inner {
  padding: 10px 0;
}

// ===================================

.slide-first {
  width: 100%;
  height: calc(100vh - (63px + 66px));
  position: relative;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../img/slide/slide-bg-left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 51%;
    width: 16%;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../../img/slide/slide-bg-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    height: 42%;
    width: 20%;
  }

  &__bg {
    background-color: #FFF;
    width: 55%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    // padding: 100px 0 20px 0;
  }

  &__icon {
    position: absolute;
    top: 25px;
    right: 38px;
  }

  &__scroll {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #636363;
    margin: 0;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    color: #000;
  }

  &__desc {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #636363;
    margin: 20px auto;
    width: 50%;
    text-align: center;
  }

  &__time {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: $secondaryColor;
    margin-bottom: 0;
  }
}

.slide-second {
  background-color: $primaryColor;
  height: calc(100vh - 63px);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 5% 7%;
  position: relative;
  @include imageRatio(934, 427);

  &__bg {
    background-color: #FFF;
    // width: 100%;
    // height: 100%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
  }

  &__content {
    // width: 100%;
    // height: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    transition: .3s ease-in-out;

    &:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.active {
      transform: translateY(0);
    }

    &.next {
      transform: translateY(100%);
    }

    &.prev {
      transform: translateY(-100%);
    }
  }
}

.btn-slide {
  background-color: $secondaryColor;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #FFF;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  &.scroll {
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.up {
    padding-bottom: 10px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.down {
    padding-top: 10px;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
  }

}

.slide-finish {
  background-color: #FFF;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  padding: 100px 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    background-image: url(../../img/timedoor-logo-black.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 141px;
    height: 33px;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(../../img/slide/slide-bg-right-inside.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 220px;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 46px;
    color: $primaryColor;
  }

  &__desc {
    font-size: 16px;
    font-weight: 400;
    color: #4F4F4F;
    margin-top: 13px;
    margin-bottom: 33px;
  }
}