@import '../_config.scss';
@import '../component/_chapter-topic-accordion.scss';
@import '../component/_modal.scss';
@import '../component/_side-bar.scss';
@import '../component/_header-chapter.scss';

// Side bar Chapter ========
.topic {
  &__title {
    width: inherit;
    font-size: 14px;
    font-weight: 300;
  }
}

// =====================

.btn-green {
  font-size: 12px;
  font-weight: 400;
  padding: 7px 25px;
  align-self: center;
}

.btn-accordion-inner {
  padding: 10px 0;
}

.nav-custom {
  margin-bottom: 0;
}

.progress-bar-custom {
  position: relative;

  &.highlight{
    &::before{
      content: "";
      position: absolute;
      top: -8px;
      left: -30px;
      right: 0px;
      bottom: -10px;
      border: 5px solid $secondaryColor;
      animation: blink 1.5s linear infinite;
    }
  }
  

  &__item {
    margin-right: 30px;
    display: inline-block;
    font-size: 12px;
    color: #CECECE;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: .3s;

    &.active,
    &:hover {
      color: #FFF;

      &::before {
        background-color: $secondaryColor;
        border: 2px solid $secondaryColor;
      }

      &:not(:first-child)::after {
        background-position: left;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 24px;
      border: 2px solid #CECECE;
      border-radius: 50%;
      z-index: -1;
      transition: .3s;
    }
  }

  &__line {
    position: relative;

    &:not(:first-child)::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -27px;
      transform: translateY(-50%);
      width: 20px;
      height: 3px;
      background: linear-gradient(to right, $secondaryColor 50%, #CECECE 50%);
      transition: .3s;
      background-position: right;
      background-size: 200% 100%;
    }
  }
}

.coding {
  height: calc(100vh - (63px + 66px));
  // background-color: lightcyan;

  &__left {
    height: calc(100vh - (63px + 66px));
    overflow: auto;
    background-color: #fff;

    &.highlight{
      border: 5px solid $secondaryColor;
      animation: blink 1.5s linear infinite;
    }

    @keyframes blink {
      0%{
        border-color: $secondaryColor;
      }
      
      25%{
        border-color: #fff;
      }
      
      50%{
        border-color: $secondaryColor;
      }

      75%{
        border-color: #fff;
      }

      100%{
        border-color: $secondaryColor;
      }
    }

  }

  &__left-head {
    display: flex;
  }

  &__left-title {
    padding: 8px 37px;
    background-color: $secondaryColor;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
  }

  &__left-container {
    padding: 30px 37px;
  }

  &__left-number {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 16px;
    color: #FFF;
    line-height: 31px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: #6DDA5F;
  }

  &__left-subtitle {
    display: inline-block;
    margin-bottom: 38px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #4F4F4F;
    width: 90%;
  }

  &__left-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #4F4F4F;
    margin-bottom: 20px;
  }

  &__left-video {
    text-align: center;
  }

  &__right {
    height: calc(100vh - (63px + 66px));
  }
}

.editor {
  background-color: #161926;
  color: #FFF;
  display: flex;
  position: relative;
  overflow-x: hidden;

  &__content {
    width: 100%;
    overflow-y: hidden;
    position: relative;
  }

  &__head {
    background-color: $primaryColor;
    position: sticky;
    top: 0;
    z-index: 2;

    &.highlight{
      border: 5px solid $secondaryColor;
      animation: blink 1.5s linear infinite;
    }
  }

  &__head-items {
    margin: 0;
    padding: 0;
  }

  &__head-item {
    display: inline-block;
    list-style: none;
    position: relative;
    width: 120px;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    color: #fff;

    &.active,
    &:hover {
      background-color: #32826D;
      cursor: pointer;
    }
  }

  &__text-wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - (63px + 66px + 47px + 68px));
    color: #fff;

    &.highlight{
      border: 5px solid $secondaryColor;
      animation: blink 1.5s linear infinite;
    }
  }

  &__footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primaryColor;
    padding: 13px 30px;
    display: flex;
    justify-content: space-between;
  }

  &__footer-text {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    vertical-align: middle;
    line-height: 3;
  }

  &__footer-check{
    position: relative;

    &.highlight{
      &::before{
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        bottom: -10px;
        right: -10px;
        border: 5px solid $secondaryColor;
        animation: blink 1.5s linear infinite;
      }
    }

  }

  &__sidebar {
    width: 200px;
    height: calc(100vh - (66px + 63px));
    background-color: #1D202D;
    transition: margin-left .3s;
    position: relative;
    flex: 0 0 200px;

    &.highlight{
      position: absolute;
      top: -8px;
      left: -30px;
      right: 0px;
      bottom: -10px;
      border: 5px solid #6DDA5F;
      animation: blink 1.5s linear infinite;
    }

    &.hide {

      margin-left: -200px;
      color: #1D202D;
      padding: 0;

      .editor__sidebar-btn {
        color: #FFF;
        right: -16px;

        & .arrow-right {
          display: block !important;
        }

        & .arrow-left {
          display: none;
        }
      }

      // >*:not(.editor__sidebar-btn) {
      //   // display: none;
      // }

      // .editor__sidebar-head,
      // .editor__sidebar-subtitle,
      // .editor__sidebar-content {
      //   display: none;
      // }
    }
  }

  &__sidebar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
    width: 16px;
    height: 32px;
    background-color: #2c3545;
    cursor: pointer;
    font-size: 20px;
    transition: .3s;
  }

  &__sidebar-head {
    height: 47px;
    font-size: 16px;
    background-color: $primaryColor;
    padding: 10px 20px;
    color: #FFF;
    vertical-align: middle;
  }

  &__sidebar-content {
    height: calc(100% - 47px - 66px - 67px);
    overflow: auto;
  }

  &__sidebar-subtitle {
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    color: $secondaryColor;
    margin: 0;
  }

  &__sidebar-footer {
    background-color: #1D202D;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding: 20px 20px;
    padding-left: 0;
    width: 80%;
    border-top: 1px solid rgba($color: #CECECE, $alpha: 0.18);

    &.highlight{
      border: 5px solid $secondaryColor;
      animation: blink 1.5s linear infinite;
    }
  }
}

.sidebar-content {
  padding: 10px 20px;

  &__folder {
    font-size: 12px;
    font-weight: 400;
    margin-top: 15px;
    color: #FFF;
    padding: 0;
    text-align: left;
    width: 100%;

    &.collapsed {
      .folder-close {
        display: inline-block !important;
      }

      .folder-open {
        display: none;
      }
    }

    &:focus {
      box-shadow: none;
    }

    &:hover {
      cursor: pointer;
      color: $secondaryColor;
    }
  }

  &__files,
  &__subfolder {
    font-size: 10px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    color: #FFF;
    width: 100%;
    text-align: left;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      cursor: pointer;
      color: $secondaryColor;
    }
  }

  &__subfolder {
    line-height: 1;

    &.collapsed {
      .folder-close {
        display: inline-block !important;
      }

      .folder-open {
        display: none;
      }
    }
  }

  &__files {
    &.active {
      color: $secondaryColor;
    }

    &--sub {
      @extend .sidebar-content__files;
      padding-left: 40px;
    }
  }
}

.overlay {
  position: absolute;
  // display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  transition: .5s;

  &.show {
    // display: block;
    visibility: visible;
    opacity: 1;
  }

  &__icon-check {
    position: absolute;
    // display: none;
    visibility: hidden;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    transition: .5s;
    animation: breathing 1.5s linear infinite;

    &.show {
      // display: block;
      visibility: visible;
      opacity: 1;
    }

    @keyframes breathing {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.5;
      }

      100% {
        opacity: 1;
      }
    }
  }

  &__icon {
    position: absolute;
    // display: none;
    visibility: hidden;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) scale(0);
    text-align: center;
    background-color: #FFF;
    border-radius: 10px;
    width: 276px;
    height: 236px;
    padding: 50px;
    color: #4F4F4F;
    transition: .5s;
  }

  &__error,
  &__success {
    &.show {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -60%) scale(1);
    }
  }

  &__icon-title {
    font-size: 20px;
    font-weight: 500;
    color: #4F4F4F;
  }

  &__icon-desc {
    font-size: 12px;
    font-weight: 300;
    color: #636363;
  }
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #161926;
}

.ace-tomorrow-night-bright .ace_gutter {
  background: #161926;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242e3b;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c4a5e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #556a88;
}


.robot-overlay{
  position: absolute;
  z-index: 5;
  top: 129px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.9);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  transition: .5s;

  &.hidden{
    visibility: hidden;
    opacity: 0;
  }

  &__image{
    position: absolute;

    &.opening{
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
    }

    &.first{
      bottom: 50px;
      left: 40%;
    }

    &.second{
      top: 10%;
      left: 65%;
    }

    &.third{
      top: 10%;
      left: 75%;
    }

    &.fourth{
      top: 30%;
      left: 50%;
    }

    &.fifth{
      bottom: 15%;
      left: 40%;
    }

    &.sixth{
      top: 40%;
      left: 40%;
    }

    &.eighth{
      top: 15%;
      right: 20%;
    }

    &.ninth{
      bottom: 50px;
      right: 12%;
    }
  }

  &__text{
    // margin-left: -80px;
    position: absolute;
    top: 0;
    right: -400px;
    background-color: #fff;
    border-radius: 6px;
    padding: 35px 40px;
    max-width: 373px;

    &.opening{
      top: -10px;
      right: -300px;

      &::before{
        content: "";
        position: absolute;
        top: 145px;
        left: -15px;
        width: 0;
        height: 0;
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        border-right: 15px solid #fff;
      }
    }

    &--small{
      @extend .robot-overlay__text;
      padding: 35px 20px;
      max-width: 320px;

      &.first{
        top: -250px;
        left: 0;

        &::before{
          content: '';
          position: absolute;
          bottom: -15px;
          left: 15%;
          width: 0; 
          height: 0; 
          border-left: 15px solid transparent;
          border-top: 15px solid #fff;
          border-right: 15px solid transparent;
        }
      }

      &.second{
        top: -35px;
        left: -350px;

        &::before{
          content: "";
          position: absolute;
          top: 70px;
          right: -15px;
          width: 0;
          height: 0;
          border-bottom: 15px solid transparent;
          border-top: 15px solid transparent;
          border-left: 15px solid #fff;
        }
      }

      &.third{
        top: -35px;
        left: -350px;

        &::before{
          content: "";
          position: absolute;
          top: 70px;
          right: -15px;
          width: 0;
          height: 0;
          border-bottom: 15px solid transparent;
          border-top: 15px solid transparent;
          border-left: 15px solid #fff;
        }
      }

      &.fourth{
        top: -35px;
        right: -350px;

        &::before{
          content: "";
          position: absolute;
          top: 70px;
          left: -15px;
          width: 0;
          height: 0;
          border-bottom: 15px solid transparent;
          border-top: 15px solid transparent;
          border-right: 15px solid #fff;
        }
      }

      &.fifth{
        top: -35px;
        left: -350px;

        &::before{
          content: "";
          position: absolute;
          top: 70px;
          right: -15px;
          width: 0;
          height: 0;
          border-bottom: 15px solid transparent;
          border-top: 15px solid transparent;
          border-left: 15px solid #fff;
        }
      }

      &.sixth{
        top: -35px;
        left: -350px;

        &::before{
          content: "";
          position: absolute;
          top: 70px;
          right: -15px;
          width: 0;
          height: 0;
          border-bottom: 15px solid transparent;
          border-top: 15px solid transparent;
          border-left: 15px solid #fff;
        }
      }

      &.eighth{
        top: -35px;
        left: -350px;

        &::before{
          content: "";
          position: absolute;
          top: 70px;
          right: -15px;
          width: 0;
          height: 0;
          border-bottom: 15px solid transparent;
          border-top: 15px solid transparent;
          border-left: 15px solid #fff;
        }
      }

      &.ninth{
        top: -250px;
        left: -150px;

        &::before{
          content: '';
          position: absolute;
          bottom: -15px;
          left: 63%;
          width: 0; 
          height: 0; 
          border-left: 15px solid transparent;
          border-top: 15px solid #fff;
          border-right: 15px solid transparent;
        }
      }
    }

    // &::before{
    //   content: '';
    //   position: absolute;
    //   top: 50%;
    //   left: -15px;
    //   transform: translateY(-50%);
    //   width: 0; 
    //   height: 0; 
    //   border-top: 15px solid transparent;
    //   border-bottom: 15px solid transparent;
    //   border-right: 15px solid #fff;
    // }
  }

  &__title{
    font-size: 21px;
    font-weight: 500;
    color: $secondaryColor;
    line-height: 31px;

    &--small{
      @extend .robot-overlay__title;
      font-size: 16px;
    }
  }

  &__desc{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #636363;
  }

  &__info{
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
  }

  &__number{
    font-size: 14px;
    font-weight: 300;
    color: #989898;
  }

  &__next, &__prev{
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: $secondaryColor;
    cursor: pointer;
    padding: 0;

    &--small{
      @extend .robot-overlay__next;
      padding: 0;
      font-size: 14px;
    }

    &:hover{
      color: $secondaryColor;
      text-decoration: none;
    }
  }

  &__prev{
    &--small{
      margin-left: auto;
      margin-right: 10px;
    }
  }

  &__close{
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 1;
    color: #707070;
    cursor: pointer;
  }
}