@import '../_config.scss';
@import '../component/chapter-topic-accordion.scss';
@import '../component/modal.scss';
@import '../component/side-bar.scss';
@import '../component/_header-chapter.scss';

// Side bar Chapter ========
.topic {
  &__title {
    width: inherit;
    font-size: 14px;
    font-weight: 300;
  }
}

// =====================

.btn-green {
  font-size: 12px;
  font-weight: 400;
  padding: 7px 25px;
  align-self: center;
}

.btn-accordion-inner {
  padding: 10px 0;
}

.topic-inner {
  width: 85%;
}

.nav-custom {
  margin-bottom: 0;
}

.btn-whatsapp {
  bottom: 52px;

  &__text {
    bottom: 120px;
  }
}

.btn-requirement {
  padding: 11px 37px;
  background-color: $secondaryColor;
  font-size: 16px;
  font-weight: 500;
  color: #FFF;
  position: relative;
  border-radius: 0;
  border: none;
  display: block;
  width: 100%;
  text-align: left;

  &::before {
    content: '\f107';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    color: #FFF;
    transition: .3s;
  }

  &.collapsed {
    &.btn-requirement::before {
      // arrow Down
      transform: translateY(-50%) scaleY(-1);
    }
  }
}

.accordion>.card {
  overflow: inherit;
}

// ==============================

.progress-bar-custom {

  &__item {
    margin-right: 30px;
    display: inline-block;
    font-size: 12px;
    color: #CECECE;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: .3s;

    &.active,
    &:hover {
      color: #FFF;

      &::before {
        background-color: $secondaryColor;
        border: 2px solid $secondaryColor;
      }

      &::after {
        background-color: $secondaryColor;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 24px;
      border: 2px solid #CECECE;
      border-radius: 50%;
      z-index: -1;
      transition: .3s;
    }
  }

  &__line {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -27px;
      transform: translateY(-50%);
      width: 20px;
      height: 2px;
      background-color: #CECECE;
    }
  }
}

// =====================================================



.coding {
  height: calc(100vh - (90px + 66px));
  // background-color: lightcyan;

  &__right {
    height: 100%;
  }

  &__right-title {
    position: relative;
    background-color: #7aff69;
    box-shadow: 0px 3px 10px #00000071;
    z-index: 2;
  }

  &__right-container {
    padding: 30px 37px;
    height: calc(100vh - (90px + 66px + 42px + 42px));
    overflow-y: auto;
  }

  &__right-number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 65px;
    height: 31px;
    border-radius: 50%;
    background-color: #6DDA5F;
    color: #FFF;
  }

  &__right-subtitle {
    font-size: 26px;
    font-weight: 500;
    line-height: 25px;
    color: #4F4F4F;
    margin-bottom: 38px;
  }

  &__right-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #4F4F4F;
    margin-bottom: 20px;
  }

  &__right-name {
    font-size: 16px;
    font-weight: 500;
    color: #4F4F4F;
  }

  &__right-date {
    font-size: 14px;
    font-weight: 300;
    color: $secondaryColor;
  }

  &__right-badge {
    background-color: #FF3939;
    border-radius: 50%;
    font-size: 10px;
    padding: 5px;
    width: 17px;
    height: 17px;
  }

  &__left {
    height: calc(100vh - (90px + 66px));
  }
}

.editor {
  background-color: #161926;
  color: #FFF;
  display: flex;
  position: relative;

  &__content {
    width: 100%;
    overflow-y: hidden;
    position: relative;
  }

  &__head {
    background-color: $primaryColor;
    position: sticky;
    top: 0;
    z-index: 5;
  }

  &__head-items {
    margin: 0;
    padding: 0;
  }

  &__head-item {
    display: inline-block;
    list-style: none;
    position: relative;
    width: 120px;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;

    &.active,
    &:hover {
      background-color: #32826D;
      cursor: pointer;
    }
  }

  &__text-wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - (66px + 90px + 47px + 68px));
  }

  &__footer {
    position: sticky;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primaryColor;
    padding: 13px 30px;
    display: flex;
    justify-content: space-between;
  }

  &__footer-text {
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    line-height: 3;

    &--green {
      @extend .editor__footer-text;
      margin-right: auto;
      font-size: 12px;
      font-weight: 300;
      color: #6DDA5F;
      align-self: center;
    }
  }

  &__sidebar {
    width: 200px;
    height: calc(100vh - 66px - 90px);
    background-color: #1D202D;
    transition: margin-left .3s;
    position: relative;

    &.hide {

      margin-left: -200px;
      color: #1D202D;
      padding: 0;

      .editor__sidebar-btn {
        color: #FFF;
        right: -16px;

        & .arrow-right {
          display: block !important;
        }

        & .arrow-left {
          display: none;
        }
      }

      // >*:not(.editor__sidebar-btn) {
      //   // display: none;
      // }

      // .editor__sidebar-head,
      // .editor__sidebar-subtitle,
      // .editor__sidebar-content {
      //   display: none;
      // }
    }
  }

  &__sidebar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
    width: 16px;
    height: 32px;
    background-color: #2c3545;
    cursor: pointer;
    font-size: 20px;
    transition: .3s;
  }

  &__sidebar-head {
    height: 47px;
    width: 200px;
    font-size: 16px;
    background-color: $primaryColor;
    padding: 10px 20px;
    color: #FFF;
    vertical-align: middle;
  }

  &__sidebar-content {
    height: calc(100% - 47px - 66px - 67px);
    overflow: auto;
  }

  &__sidebar-subtitle {
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    color: $secondaryColor;
    margin: 0;
  }

  &__sidebar-footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding: 20px 20px;
    padding-left: 0;
    width: 80%;
    border-top: 1px solid rgba($color: #CECECE, $alpha: 0.18);
  }

  &__btn-draft {
    margin-right: auto;
    margin-left: 20px;
    cursor: pointer;

    &.disabled {
      pointer-events: none;
      color: #636363;
    }
  }
}

.sidebar-content {
  padding: 10px 20px;

  &__folder {
    font-size: 12px;
    font-weight: 400;
    margin-top: 15px;
    color: #FFF;
    padding: 0;
    text-align: left;
    width: 100%;

    &.collapsed {
      .folder-close {
        display: inline-block !important;
      }

      .folder-open {
        display: none;
      }
    }

    &:focus {
      box-shadow: none;
    }

    &:hover {
      cursor: pointer;
      color: $secondaryColor;
    }
  }

  &__files,
  &__subfolder {
    font-size: 10px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    color: #FFF;
    width: 100%;
    text-align: left;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      cursor: pointer;
      color: $secondaryColor;
    }
  }

  &__subfolder {
    line-height: 1;

    &.collapsed {
      .folder-close {
        display: inline-block !important;
      }

      .folder-open {
        display: none;
      }
    }
  }

  &__files {
    &.active {
      color: $secondaryColor;
    }

    &--sub {
      @extend .sidebar-content__files;
      padding-left: 40px;
    }
  }
}

.overlay {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  transition: .5s;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &__icon-check,
  &__icon-update {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    transition: .5s;

    &.show {
      visibility: visible;
      opacity: 1;
    }
  }

  &__submited,
  &__draft {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -60%) scale(0);
    background-color: #FFF;
    width: 276px;
    height: 236px;
    border-radius: 10px;
    padding: 30px;
    transition: .5s;

    &.show {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -60%) scale(1);
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: #4F4F4F;
    text-align: center;
    margin-top: 16px;
  }

  &__subtitle {
    font-size: 12px;
    font-weight: 300;
    color: #636363;
    padding: 5px 35px;
    text-align: center;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    background-color: #FFF;
    border-radius: 10px;
    width: 276px;
    height: 236px;
    padding: 50px;
    color: #4F4F4F;
  }

  &__icon-title {
    font-size: 20px;
    font-weight: 500;
    color: #4F4F4F;
  }

  &__icon-desc {
    font-size: 12px;
    font-weight: 300;
    color: #636363;
  }
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #161926;
}

.ace-tomorrow-night-bright .ace_gutter {
  background: #161926;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242e3b;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c4a5e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #556a88;
}