@import '../_config.scss';
@import '../plugin/_tmdrPreset.scss';

.body-subscribe {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 66px;
    right: 0;
    background-image: url(../../img/subscription-course/bg-top-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 349px;
    height: 421px;
  }

  @media (max-width: 425px) {
    &::before {
      width: 157px;
      height: 230px;
    }
  }

  @media (max-width: 320px) {
    &::before {
      width: 149px;
      height: 221px;
    }
  }
}

.nav-custom{
  margin-bottom: 0;
}

.section{
  padding: 70px 0;

  &__title{
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    color: #000;
  }

  &__desc{
    font-size: 16px;
    font-weight: 300;
    line-height: 38px;
    color: #4f4f4f;
  }

  @media (max-width: 425px) {

    padding: 50px 0;
    padding-top: 0;

    &__title{
      font-size: 34px;
      line-height: 51px;
    }

    &__desc{
      font-size: 14px;
      line-height: 36px;
    }
  }
}

.heading{

  padding: 20px 0;
  padding-top: 60px;

  &__title{

    font-size: 50px;
    font-weight: 600;
    line-height: 76px;
    color: #000;

    &--green{
      @extend .heading__title;
      color: $secondaryColor;
    }
  }

  @media (max-width: 425px) {

    padding-top: 20px;

    &__title{
      font-size: 34px;
      line-height: 50px;
    }
  }
}

.mentor{
  position: relative;

  &::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    background-image: url(../../img/subscription-course/green-dot-3x7.svg);
    background-repeat: no-repeat;
    width: 59px;
    height: 159px;
  }

  @media (max-width: 768px) {
    padding-top: 0;

    &__title{
      margin-top: 50px;
    }
  }
}

.how-to{
  position: relative;
  overflow: hidden;

  // &::before{
  //   content: '';
  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   right: -200px;
  //   background-color: #F7F7F7;
  //   border-radius: 50%;
  //   width: 650px;
  //   height: 650px;
  // }

  // &::after{
  //   content: '';
  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   right: 400px;
  //   background-color: #F7F7F7;
  //   border-radius: 50%;
  //   width: 90px;
  //   height: 90px;
  // }

  &__subtitle{
    font-size: 26px;
    line-height: 39px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
  }

  // &__image{
  //   background-color: #E6F9E6;
  //   width: 100%;
  //   height: 290px;
  // }

  &__desc{
    line-height: 28px;
  }
}

.curriculum{

  &__desc{
    margin-bottom: 20px;
    line-height: 28px;
   
  }
}

.schedule{
  position: relative;

  &::before{
    content: '';
    position: absolute;
    top: -20px;
    right: 10px;
    background-image: url(../../img/subscription-course/green-dot-border-3x10.svg);
    background-repeat: no-repeat;
    width: 82px;
    height: 250px;
  }

  &__title{
    text-align: center;
    margin-bottom: 35px;
  }

  &__subtitle{
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    color: #000;
  }

  &__recomend-text{
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: $secondaryColor;
  }

  &__image-container{
    position: relative;
  }

  &__dot{
    line-height: 28px;
    margin-right: 10px;
  }

  &__desc{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #4f4f4f;
    display: flex;
  }

  &__btn-dark, &__btn-grey{
    background-color: #242E3B;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    padding: 6px 0;

    &:hover{
      color: #fff;
    }
  }

  &__btn-grey{
    background-color: #3E4F66;
  }
}

.subscribe{
  position: relative;

  &::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: -150px;
    left: -100px;
    background-color: #FAFAFA;
    border-radius: 50%;
    max-width: 446px;
    width: 100%;
    height: 446px;
  }

  &::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: -250px;
    left: 25px;
    background-color: #FAFAFA;
    border-radius: 50%;
    width: 66px;
    height: 66px;
  }

  &__title{
    margin-bottom: 85px;
    text-align: center;

    &::before{
      content: "";
      position: absolute;
      top: 15%;
      right: 10px;
      width: 89px;
      height: 180px;
      background-image: url(../../img/subscription-course/green-dot-4x6.svg);
      background-repeat: no-repeat;
    }
  }

  &__image{
    text-align: center;
    padding-bottom: 50px;
  }

  &__step-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #4f4f4f;
    padding: 0 10%;
  }

  &__step-desc{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #4f4f4f;
    padding: 0 10%;
  }

  @media (max-width: 768px) {
    text-align: center;

    &__image{
      padding-bottom: 30px;
    }

    &__step-desc{
      margin-bottom: 50px;
    }
  }
}

.payment{
  position: relative;

  &::before{
    content: '';
    position: absolute;
    top: 20%;
    left: 10px;
    background-image: url(../../img/subscription-course/green-dot-border-2x10.svg);
    background-repeat: no-repeat;
    width: 80px;
    height: 265px;
  }

  &__desc{
    line-height: 28px;
    margin-bottom: 60px;
  }

  &__image{
    text-align: center;
  }

  &__choices{
    margin-bottom: 50px;
  }

  &__choices-item{

    &::before{
      content: '';
      width: 15px;
      height: 15px;
      display: inline-block;
      background-color: #3B567A;
      border-radius: 50%;
      margin-right: 10px;
    }

    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 28px;
    color: #4f4f4f;
    margin-bottom: 10px;
  }

  &__best-deal{
    vertical-align: bottom;
  }

  &__price-container{
    margin-bottom: 30px;
  }

  &__price{
    font-size: 48px;
    font-weight: 400;
    color: #242E3B;
    display: inline-block;

    &--small{
      @extend .payment__price;
      font-size: 28px;
    }

    &--month{
      @extend .payment__price;
      font-size: 20px;
    }
  }

  &__btn{
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    font-weight: 500;
    width: 100%;
    background-color: $secondaryColor;

    &--border{
      @extend .payment__btn;
      color: $secondaryColor;
      background: #fff;
      border: 1px solid $secondaryColor;
    }
  }

  @media (max-width: 425px) {
    
    &__desc{
      margin-bottom: 30px;
    }

    &__choices{
      margin-bottom: 20px;
    }

    &__price{

      &--month{
        @extend .payment__price;
        font-size: 16px;
        display: block;
      }
    }
  }
}

.faq{
  padding: 50px 0;
  background-color: $primaryColor;
  position: relative;

  &::before{
    content: '';
    width: 50px;
    height: 290px;
    background-image: url(../../img/subscription-course/green-dot-border-2x10.svg);
    position: absolute;
    top: 20%;
    left: 0px;
  }

  &__title{
    color: #fff;
    text-align: center;
    margin-bottom: 65px;
  }

  &__accordion{
    margin-bottom: 50px;
  }

  &__accordion-title{
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    font-weight: 600;
    color: $secondaryColor;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    
    &:focus, &:active, &:hover{
      color: $secondaryColor;
      box-shadow: none;
    }

    &.collapsed {
      .faq__accordion-icon::after {
        transform: translate(-50%, -50%) rotate(270deg);
      }
    }
  }

  &__accordion-icon{
    flex: 0 0 23px;
    width: 23px;
    height: 23px;
    background-color: $secondaryColor;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease 0s;
    position: relative;

    &::before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 2px;
      background-color: #fff;
    }

    &::after{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 2px;
      background-color: #fff;
      transition: .5s;
    }
  }

  &__accordion-body{
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #fff;
    padding: 10px 0;
    max-width: 95%;
  }

  &__divider{
    border-color: #fff;
    opacity: .3;
    margin: 25px 0;
  }

  @media (max-width: 768px) {
    
    &::before{
      content: unset;
    }
  }
}

.terms{

  &__title{
    text-align: center;
    margin-bottom: 26px;
  }

  &__desc{
    text-align: center;
    line-height: 28px;
    margin-bottom: 30px;
  }

  &__btn{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: $secondaryColor;
    padding: 12px 30px;
  }

  @media (max-width: 425px) {
    padding-bottom: 100px;
  }
}

.contact{
  position: relative;

  &::before{
    content: '';
    background-image: url(../../img/subscription-course/green-dot-border-2x10.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 265px;
    position: absolute;
    top: -120px;
    right: 10px;
  }

  &__text{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #4f4f4f;
    display: flex;
  }
}

.footer{
  padding-bottom: 20px;
  position: relative;

  &::before{
    content: '';
    background-image: url(../../img/subscription-course/bg-bottom-left.svg);
    background-repeat: no-repeat;
    width: 211px;
    height: 254px;
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: 0;
  }

  &__text{
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    color: #636363;
    opacity: .6;
  }

  @media (max-width: 768px) {
    &::before{
      content: unset;
    }
  }
}