@import '../_config.scss';
@import '../component/_chapter-topic-accordion.scss';
@import '../plugin/_progress-circle.scss';
@import '../component/_table-submission.scss';


// Topic Accordion

.topic-inner {
  width: 45%;
}

// Topic Accordion

.jumbotron-custom {
  background-color: $primaryColor;
  color: #FFF;
  border-radius: 5px;
  padding: 35px 90px;
  position: relative;

  &__title {
    font-size: 26px;
    line-height: 39px;
    font-weight: 500;
  }

  &__desc {
    font-size: 12px;
    line-height: 21px;
    font-weight: 300;
  }

  &__image {
    position: absolute;
    top: -55px;
    right: 80px;
  }
}

.recent {
  margin-bottom: 52px;

  &__left {
    background-color: #FFF;
    padding: 50px 90px;
    border-radius: 5px;
  }

  &__right {
    background-color: #FFF;
    padding: 35px 50px;
    border-radius: 5px;
    width: 100%;
  }

  &__indicator {
    font-size: 16px;
    line-height: 25px;
    color: $secondaryColor;
    vertical-align: middle;

    &::before {
      content: '';
      display: inline-block;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: $secondaryColor;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  &__joined {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 0;
  }

  &__date {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 0;
  }

  &__time {
    font-size: 12px;
    line-height: 28px;
    color: #989898;
  }
}

.progress-custom {
  position: relative;
  height: 25px;
  width: 80%;
  background-color: rgba(206, 206, 206, 0.3);
  border-radius: 12px;

  &--submission {
    @extend .progress-custom;
    height: 11px;
    width: 100%;
    margin-top: 6px;
  }

  &__bar {
    background-color: $secondaryColor;
    border-radius: 12px;
  }

  &__percent {
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 14px;
  }
}

.freetrial {
  margin-bottom: 76px;
}

.accordion-border {
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin: 0 -20px;
  padding: 0 20px;
  transition: .3s;

  &.show {
    border: 2px solid #989898;
  }
}

.subscribe-course {
  margin-bottom: 40px;

  &__note {
    font-size: 12px;
    align-self: center;
    padding-right: 125px;
  }
}





// Mentor
.submission__title {
  &.border-darkgreen {
    border-left: 12px solid #32826d;
    padding-left: 20px;
  }

  &.border-orange {
    border-left: 12px solid #ffb300;
    padding-left: 20px;
  }

  &.border-green {
    border-left: 12px solid $secondaryColor;
    padding-left: 20px;
  }

  &.border-darkblue {
    background-color: #44546A;
  }

  &.border-dark {
    background-color: $primaryColor;
  }
}



.overview {
  margin-top: 50px;
  margin-bottom: 40px;
}

.total-student {
  background-color: #FFF;
  padding: 3px 38px;
  min-width: 260px;
  // height: 54px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    text-align: left;
    gap: 10px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      bottom: 0;
      right: 10px;
      // height: 90%;
      width: 2px;
      background-color: rgba(112, 112, 112, 0.25);
    }
  }

  &__img {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      right: -4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $secondaryColor;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
  }

  &__number {
    font-size: 30px;
    font-weight: 500;
    color: #000;
  }
}

.categories {
  margin-bottom: 80px;
  overflow-x: hidden;

  &__wrapper {
    display: flex;
    gap: 27px;
    transition: all .7s ease-in-out;

    &.next {
      margin-left: -758px;
    }
  }

}

.card-custom {
  background-color: #FFF;
  min-height: 110px;
  min-width: 352px;
  display: flex;
  color: #4F4F4F;
  cursor: pointer;

  & img {
    transition: .5s;
  }

  &:hover {
    color: #4F4F4F;
    text-decoration: none;

    & img {
      transform: scale(1.2) scaleX(-1) rotateY(180deg);
    }
  }

  &__bg {
    background-color: #FFB300;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.orange {
      background-color: #FFB300;
    }

    &.green {
      background-color: $secondaryColor;
    }

    &.darkgreen {
      background-color: #32826D;
    }

    &.darkblue {
      background-color: #44546A;
    }

    &.dark {
      background-color: $primaryColor;
    }
  }

  &__text {
    padding-left: 20px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
  }

  &__desc {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
  }
}

.arrow-slider {

  &__left,
  &__right {
    transition: .3s;
    cursor: pointer;
    color: $secondaryColor;

    &:hover {
      color: #32826d;
    }

    // &.active {}

    &.disabled {
      color: #CECECE;
      pointer-events: none;
      cursor: none;
    }
  }
}

.dropdown-action {
  min-width: 164px;
  top: -260%;
  right: -90%;
  box-shadow: 0px 3px 6px #00000029;
  padding: 15px 0;

  &::before {
    content: unset;
  }

  &__item {
    font-size: 12px;
    font-weight: 300;
    color: #4F4F4F;
    display: flex;
    white-space: inherit;

    &:active {
      background-color: lighten($color: $primaryColor, $amount: 10%);
    }
  }
}

.btn-action {
  background-color: #FFF;
  border-radius: 6px;
  font-size: 14px;

  &:focus {
    box-shadow: none;
  }
}

// Mentor