@import '../_config.scss';
@import '../component/chapter-topic-accordion.scss';
@import '../component/modal.scss';
@import '../component/side-bar.scss';
@import '../component/_header-chapter.scss';

@import '../component/_form.scss';

// =====================

.nav-custom {
  margin-bottom: 0;
}

.btn-requirement {
  padding: 11px 37px;
  background-color: $secondaryColor;
  font-size: 16px;
  font-weight: 500;
  color: #FFF;
  position: relative;
  border-radius: 0;
  border: none;
  display: block;
  width: 100%;
  text-align: left;

  &::before {
    content: '\f107';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    color: #FFF;
    transition: .3s;
  }

  &.collapsed {
    &.btn-requirement::before {
      // arrow Down
      transform: translateY(-50%) scaleY(-1);
    }
  }
}

.accordion>.card {
  overflow: inherit;
}

// ===================================================



.coding {
  height: calc(100vh - (90px + 66px));
  // background-color: lightcyan;

  &__right {
    height: 100%;
  }

  &__right-title {
    position: relative;
    background-color: #7aff69;
    box-shadow: 0px 3px 10px #00000071;
    z-index: 2;
  }

  &__right-container {
    padding: 30px 37px;
    height: calc(100vh - (90px + 66px + 42px + 42px));
    overflow-y: auto;
  }

  &__right-number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 65px;
    height: 31px;
    border-radius: 50%;
    background-color: #6DDA5F;
    color: #FFF;
  }

  &__right-subtitle {
    font-size: 26px;
    font-weight: 500;
    line-height: 25px;
    color: #4F4F4F;
    margin-bottom: 38px;
  }

  &__right-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #4F4F4F;
    margin-bottom: 20px;
  }

  &__right-name {
    font-size: 16px;
    font-weight: 500;
    color: #4F4F4F;
  }

  &__right-date {
    font-size: 14px;
    font-weight: 300;
    color: $secondaryColor;
  }

  &__right-badge {
    background-color: #FF3939;
    border-radius: 50%;
    font-size: 10px;
    padding: 5px;
    width: 17px;
    height: 17px;
  }

  &__left {
    height: calc(100vh - (90px + 66px));
  }
}

.editor {
  background-color: #161926;
  color: #FFF;
  display: flex;
  position: relative;

  &__content {
    width: 100%;
    overflow-y: auto;
    position: relative;
  }

  &__head {
    background-color: $primaryColor;
    position: sticky;
    top: 0;
    z-index: 5;
  }

  &__head-items {
    margin: 0;
    padding: 0;
  }

  &__head-item {
    display: inline-block;
    list-style: none;
    position: relative;
    width: 120px;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;

    &.active,
    &:hover {
      background-color: #32826D;
      cursor: pointer;
    }
  }

  &__text-wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - (66px + 90px + 47px + 68px));
  }

  &__footer {
    position: sticky;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primaryColor;
    padding: 13px 30px;
    display: flex;
    justify-content: space-between;
  }

  &__footer-text {
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    line-height: 3;

    &--green {
      @extend .editor__footer-text;
      margin-right: auto;
      font-size: 12px;
      font-weight: 300;
      color: #6DDA5F;
      align-self: center;
    }
  }

  &__footer-badge {
    margin-left: 10px;
    cursor: pointer;
  }

  &__sidebar {
    width: 200px;
    height: calc(100vh - (66px + 90px));
    background-color: #1D202D;
    transition: width .3s;
    position: relative;

    &.hide {

      width: 0;
      color: #1D202D;
      padding: 0;

      .editor__sidebar-btn {
        color: #FFF;
        right: -16px;

        & .arrow-right {
          display: block !important;
        }

        & .arrow-left {
          display: none;
        }
      }

      // overflow-x: hidden;

      .editor__sidebar-head,
      .editor__sidebar-subtitle,
      .sidebar-content,
      .editor__sidebar-footer {
        display: none;
      }
    }
  }

  &__sidebar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
    width: 16px;
    height: 32px;
    background-color: #2c3545;
    cursor: pointer;
    font-size: 20px;
    transition: .3s;
  }

  &__sidebar-head {
    height: 47px;
    width: 200px;
    font-size: 16px;
    background-color: $primaryColor;
    padding: 10px 20px;
    color: #FFF;
    vertical-align: middle;
  }

  &__sidebar-subtitle {
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    color: $secondaryColor;
  }

  &__sidebar-footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding: 20px 20px;
    padding-left: 0;
    width: 80%;
    border-top: 1px solid rgba($color: #CECECE, $alpha: 0.18);
  }

  &__btn-draft {
    margin-right: auto;
    margin-left: 20px;
    cursor: pointer;

    &.disabled {
      pointer-events: none;
      color: #636363;
    }
  }
}

.sidebar-content {
  padding: 10px 20px;

  &__folder {
    font-size: 12px;
    font-weight: 400;
    margin-top: 15px;
    color: #FFF;
    padding: 0;
    text-align: left;
    width: 100%;

    &.collapsed {
      .folder-close {
        display: inline-block !important;
      }

      .folder-open {
        display: none;
      }
    }

    &:focus {
      box-shadow: none;
    }

    &:hover {
      cursor: pointer;
      color: $secondaryColor;
    }
  }

  &__files,
  &__subfolder {
    font-size: 10px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    color: #FFF;
    width: 100%;
    text-align: left;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      cursor: pointer;
      color: $secondaryColor;
    }
  }

  &__subfolder {
    line-height: 1;

    &.collapsed {
      .folder-close {
        display: inline-block !important;
      }

      .folder-open {
        display: none;
      }
    }
  }

  &__files {
    &.active {
      color: $secondaryColor;
    }

    &--sub {
      @extend .sidebar-content__files;
      padding-left: 40px;
    }
  }
}

.overlay {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  transition: .5s;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &__score-close {
    color: #CECECE;
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
  }

  &__score {
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    background-color: #FFF;
    min-width: 391px;
    min-height: 335px;
    border-radius: 10px;
    padding: 30px;
    transition: .5s;

    &.show {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -60%) scale(1);
    }
  }

  &__score-text {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    text-align: left;

    &--green {
      @extend .overlay__score-text;
      color: $secondaryColor;
    }

    &--darkgreen {
      @extend .overlay__score-text;
      color: #32826D;
    }

    &--orange {
      @extend .overlay__score-text;
      color: #FFB300;
    }
  }

  &__score-points {
    font-size: 12px;
    font-weight: 300;
    color: #636363;
    text-align: left;
  }

  &__title {
    font-size: 26px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 20px;
    display: block;
  }
}

.comment {
  background-color: #CECECE;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 24px;
  display: flex;
  justify-content: space-between;

  &__input {
    border: 1px solid #CECECE;
    border-radius: 7px;
    padding: 10px 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    width: 100%;

    &:focus {
      border: 1.5px solid #636363;
      box-shadow: none;
    }
  }
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #161926;
}

.ace-tomorrow-night-bright .ace_gutter {
  background: #161926;
}