@import '../_config.scss';
@import '../plugin/_swiper.scss';

.nav-custom{
  margin-bottom: 0;

  &__language-mobile{
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__flag{
    opacity: 0.5;
    transition: .3s;

    &:hover{
      opacity: 1;
    }

    &.active{
      opacity: 1;
    }
  }
}

.section{
  padding: 50px 0;

  &__title{
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    color: #000;
    text-align: center;
  }

  &__desc{
    font-size: 16px;
    font-weight: 300;
    line-height: 38px;
    color: #4f4f4f;
    text-align: center;
  }

  @media (max-width: 425px) {

    padding-bottom: 80px;
    padding-top: 0;

    &__title{
      font-size: 34px;
      line-height: 51px;
    }

    &__desc{
      line-height: 28px;
    }
  }
}

.landing-bg{
	overflow-x: hidden;
	position: relative;
	
  &::before{
    content: '';
    position: absolute;
    top: -150px;
    right: -200px;
    max-width: 536px;
    width: 100%;
    height: 536px;
    // background-color: $secondaryColor;
    background: radial-gradient(circle, rgba($secondaryColor,0.3) 0%, rgba(255,255,255,0) 70%);
    border-radius: 50%;
  }

  @media (max-width: 425px) {
    &::before{
      content: unset;
    }
  }
}

.top-hero{
  padding-bottom: 65px;
  position: relative;

  &::before{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 38px;
    height: 120px;
    background-image: url('../../img/landing-page/green-dot-2x7.svg');
    background-repeat: no-repeat;
    background-size: contain;

  }

  & .btn-green{
    width: 75%;
  }

  &__image{
    position: absolute;
    top: -200px;
    left: 10%;
  }

	&__text-container{
		padding-top: 80px;
	}

  &__title{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #000;
    font-weight: 600;
    line-height: 76px;

    &--span{
      @extend .top-hero__title;
      color: $secondaryColor;
    }
  }

  &__desc{
    font-size: 16px;
    line-height: 28px;
    color: #4f4f4f;
    font-weight: 300;
    max-width: 80%;
    margin-top: 16px;
  }

  &__icon-container{
    max-width: 75%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon-wrapper{
    text-align: center;
  }

  &__icon-text{
    display: block;
    color: #242E3B;
    font-size: 30px;
    font-weight: 600;
    text-align: center;

    &--small{
      @extend .top-hero__icon-text;
      color: #A6A6A6;
      font-size: 16px;
      font-weight: 400;
      text-align: left;
    }
  }

  @media (max-width: 1920px) {
    &__image{
      position: absolute;
      top: -200px;
      left: 0;
    }
  }

  @media (max-width: 1440px) {
    &__image{
      position: absolute;
      top: -200px;
      left: -15%;
    }
  }

  @media (max-width: 991px) {

    & .btn-green{
      width: 100%;
    }

    &__image{
      position: unset;
      margin-top: -220px;
      margin-bottom: 20px;
    }

    &__icon-container{
      justify-content: space-evenly;
    }

    &__desc, &__desc-container{
      max-width: 100%;
    }

    &__text-container{
      padding-top: 0;
    }

    &__icon-container{
      max-width: 100%;
    }
  }

  @media (max-width: 425px) {
    padding-top: 0;

    &__image{
      margin-top: -60px;
      margin-bottom: 20px;
    }

    &__icon-container{
      justify-content: space-between;
    }

    &__title{
      font-size: 34px;
      line-height: 51px;
    }
  }
}

.online-course{

  &__desc{
    margin-bottom: 50px;
  }

  &__icon{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon-title{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: $primaryColor;
    text-align: center;
    margin-top: 30px;
  }

  &__icon-desc{
    font-size: 16px;
    line-height: 28px;
    color: #4f4f4f;
    font-weight: 300;
    margin-top: 12px;
    text-align: center;
  }
}

.feature{

  &__title{
    text-align: left;
    margin-bottom: 30px;
  }

  &__image-container{
    padding-top: 70px;
		text-align: right;
  }

  &__card{
    padding: 10px 0;
  }

  // &__accordion{
  //    margin-bottom: 50px;
  // }

  &__accordion-title{
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    font-weight: 600;
    color: #4f4f4f;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &:focus, &:active{
      box-shadow: none;
    }

    &.collapsed {
      .feature__accordion-icon::after {
        transform: translate(-50%, -50%) rotate(270deg);
      }
    }
  }

  &__accordion-icon{
    width: 23px;
    height: 23px;
    background-color: $secondaryColor;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease 0s;
    position: relative;

    &::before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 2px;
      background-color: #fff;
    }

    &::after{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 2px;
      background-color: #fff;
      transition: .5s;
    }
  }

  &__accordion-body{
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #4f4f4f;
    padding: 10px 0;
    max-width: 95%;
  }

  @media (max-width: 991px) {

    &__image-container{
      padding-top: 0;
    }
  }
}

.curriculum{

  &__title{
    text-align: left;
  }

  &__desc{
    line-height: 28px;
    margin-bottom: 20px;
    text-align: left;
  }
}

.mentor{
  position: relative;

  &__title{
    position: relative;
    text-align: left;

    &::before{
      content: '';
      background-image: url(../../img/landing-page/green-dot-2x7.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 160px;
      position: absolute;
      top: 0;
      left: -70px;
    }
  }

  &__desc{
    text-align: left;
    margin-bottom: 40px;
  }

  &__image{
    // width: 100%;
    // height: 500px;
    // background-color: #E6F9E6;
    text-align: right;
  }

  @media (max-width: 425px) {
    &__title{
      padding-left: 50px;
  
      &::before{
        left: 0px;
      }
    }
  }
}

.why-important{
  position: relative;

  &__title{
    text-align: left;
  }

  &__desc{
    text-align: left;
    margin-bottom: 40px;
  }

  &__ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__li{
    font-size: 16px;
    color: #4f4f4f;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    display: flex;
  }

  @media (max-width: 991px) {
    &__image{
      text-align: center;
    }
  }
}

.our-story{
  padding-top: 140px;
  padding-bottom: 100px;
  background-color: $primaryColor;
	position: relative;
  overflow: hidden;

	&::before{
		content: '';
		position: absolute;
		top: 40px;
		right: 15px;
		background-image: url(../../img/landing-page/green-dot-4x6.svg);
		background-size: contain;
		background-repeat: no-repeat;
		width: 84px;
		height: 134px;
	}

  &__title{
    position: relative;
    z-index: 1;
    text-align: left;
		color: $secondaryColor;
    margin-bottom: 90px;

    &::before{
      content: '';
      position: absolute;
      z-index: -1;
      top: -40px;
      left: -50px;
      background-image: url(../../img/landing-page/icon-quote-2.svg);
			background-size: contain;
			background-repeat: no-repeat;
      opacity: .7;
      width: 105px;
      height: 91px;
    }
  }

  &__desc{
    text-align: left;
		font-weight: 300;
    margin-bottom: 90px;
		color: #fff;
  }

  &__slide{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
		padding: 60px;
		display: flex;
    position: relative;
    box-shadow: -0px 55px 40px -50px rgba(0,0,0,0.54);
    -webkit-box-shadow: -0px 55px 40px -50px rgba(0,0,0,0.54);
    -moz-box-shadow: -0px 55px 40px -50px rgba(0,0,0,0.54);
  }

	// &__image{
	// 	width: 50%;
	// 	height: 100px;
	// 	background-color: $secondaryColor;
	// }

	&__text{
		padding-left: 20px;
	}

	&__story, &__name, &__job{
		font-size: 16px;
		font-weight: 300;
		line-height: 38px;
		color: #4f4f4f;
	}

	&__story{
		margin-bottom: 20px;
	}

	&__name{
		font-weight: 600;
		line-height: 1.8;
	}

	&__job{
		opacity: 40%;
		line-height: 1.8;
	}

  &__pagination{
    position: unset;
    margin-top: 100px;
  }

  .swiper-slide{
    padding: 0 15px;
  }

  .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
  }

  .swiper-pagination-bullet{
    background: rgba($color: #FFFFFF, $alpha: 0.8);
  }

  .swiper-pagination-bullet-active{
    background: $secondaryColor;
  }

  @media (max-width: 425px) {
    &::before{
      top: 0px;
      right: -42px;
    }
  }

  @media (max-width: 768px) {
    
    &__slide{
      flex-wrap: wrap
    }

    &__image{
      margin: auto;
      text-align: center;

      img{
        width: 100px;
      }
    }

    &__text{
      padding-left: 0;
      text-align: center;
    }
  }
}

.payment{

  &__title{
    font-size: 30px;
    font-weight: 600;
    line-height: 46px;
    text-align: left;
  }

  &__desc{
    text-align: left;
    font-size: 16px;
    margin-bottom: 50px;
  }

  &__price{
    font-size: 48px;
    font-weight: 400;
    color: #242E3B;
    display: inline-block;

    &--small{
      @extend .payment__price;
      font-size: 28px;
    }

    &--month{
      @extend .payment__price;
      font-size: 20px;
    }
  }

  &__image{
    text-align: center;
  }

  &__best-deal{
    vertical-align: bottom;
  }

  &__price-container{
    margin-bottom: 30px;
  }

  &__btn{
    font-size: 16px;
    color: #fff;
    line-height: 32px;
    font-weight: 500;
    width: 100%;
    background-color: $secondaryColor;

    &--border{
      @extend .payment__btn;
      color: $secondaryColor;
      background: #fff;
      border: 1px solid $secondaryColor;
    }
  }

  &__metode{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #4f4f4f;
    margin-top: 50px;
  }

  @media (max-width: 425px) {

    &__metode{
      margin-top: 0px;
      margin-bottom: 40px
    }

    &__price{

      &--month{
        @extend .payment__price;
        font-size: 16px;
        display: block;
      }
    }
  }
}

.contact{
  position: relative;

  &__text{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #4f4f4f;
    display: flex;
  }

  @media (max-width: 425px) {
    padding-bottom: 40px;
  }
}

.footer{
  padding-bottom: 20px;
  position: relative;

  &::before{
    content: '';
    background-image: url(../../img/landing-page/bg-bottom-left.svg);
    background-repeat: no-repeat;
    width: 211px;
    height: 254px;
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: 0;
  }

  &__text{
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    color: #636363;
    opacity: .6;
  }

  @media (max-width: 425px) {
    &::before{
      content: unset;
    }
  }
}