@import '../_config.scss';
@import '../component/_chapter-topic-accordion.scss';
@import '../component/_modal.scss';
@import '../component/_header-chapter.scss';
@import '../component/_side-bar.scss';


.nav-custom {
  margin-bottom: 0;
}

.video {
  width: 100%;
  height: calc(100vh - (63px + 66px));
  object-fit: cover;
  position: relative;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: .5s;

    &.hide {
      opacity: 0;
    }

    &::before {
      content: '\f04b';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 130px;
      height: 130px;
      background-color: $secondaryColor;
      padding-left: 10px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      cursor: pointer;
      opacity: 1;
    }

    &:hover::before {
      background-color: #32826D;
    }
  }
}

.topic {
  &__title {
    width: inherit;
    font-size: 14px;
    font-weight: 300;
  }
}

.btn-accordion-inner {
  padding: 10px 0;
}

.topic-inner {
  &__container {
    width: 85%;
  }
}