@import '../_config.scss';
@import '../component/_modal.scss';

.btn-language {
  & .arrow-down {
    transition: .3s;
  }

  &.show {
    & .arrow-down {
      transform: scaleY(-1);
    }
  }
}

.input-password {
  position: relative;

  &__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
    transition: .3s;

    &.show {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      transform: translateY(-50%) scale(0.9);
    }
  }
}

.body-bg {
  &::before {
    content: '';
    background-image: url(../../img/login/bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 95vh;
  }
}

.header {
  background-color: #FFF;
}

.banner {
  padding-top: 30px;

  &__title {
    padding-top: 40px;
    font-size: 30px;
    font-weight: 600;
    line-height: 46px;
    margin-bottom: 0;

    &--small {
      @extend .banner__title;
      font-size: 26px;
    }
  }

  &__desc {
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #636363;
  }
}

.form {
  color: #4F4F4F;

  &__title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;

    &--green {
      @extend .form__title;
      color: #6DDA5F;
      cursor: pointer;
      font-weight: 400;

      &:hover {
        color: darken($color: #6DDA5F, $amount: 15%);
        text-decoration: none;
      }
    }
  }

  &__input {
    border: 1px solid #CECECE;
    border-radius: 7px;
    padding: 10px 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;

    &--password {
      @extend .form__input;
      padding-right: 40px;
    }

    &:focus {
      border: 1.5px solid #636363;
      box-shadow: none;
    }
  }

  &__checkbox {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
  }

  &__remember {
    font-size: 12px;
    line-height: 28px;
    font-weight: 300;
    vertical-align: middle;
  }

  &__member {
    font-size: 12px;
    line-height: 28px;
    margin-top: 67px;

    &--green {
      @extend .form__member;
      color: #6DDA5F;
      cursor: pointer;

      &:hover {
        color: darken($color: #6DDA5F, $amount: 15%);
        text-decoration: none;
      }
    }
  }
}