@import '../_config.scss';
@import '../component/_chapter-topic-accordion.scss';
@import '../plugin/_progress-circle.scss';

// Topic Accordion

.topic-inner {
  width: 45%;
}

.accordion-border {
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin: 0 -20px;
  padding: 0 20px;
  transition: .3s;
}

.jumbotron-custom {
  background-color: $primaryColor;
  color: #FFF;
  border-radius: 5px;
  padding: 35px 80px;
  position: relative;

  &__text {
    width: 80%;
    margin-left: auto;
  }

  &__title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }

  &__desc {
    font-size: 26px;
    line-height: 26px;
    font-weight: 500;
  }

  &__image {
    position: absolute;
    top: -20px;
    left: 80px;
  }
}

.material {
  margin-bottom: 55px;
}