@import '../_config.scss';

.nav-custom{
  margin-bottom: 0;
}

.policy{
  position: relative;
  z-index: 1;
  background-color: #F2F2F2;
  padding-top: 70px;
  padding-bottom: 70px;

  &::before{
    content: '';
    background-image: url(../../img/privacy-terms/bg-top-right.svg);
    background-repeat: no-repeat;
    width: 230px;
    height: 276px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }
  
  &__title{
    font-size: 40px;
    line-height: 60px;
    color: #000;
    margin-bottom: 40px;
  }

  &__inner{
    background-color: #fff;
    padding: 50px 90px;
  }

  &__accordion-title{
    font-size: 30px;
    line-height: 30px;
    padding: 30px 0;
    font-weight: 500;
    color: #000000;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &:focus, &:active{
      box-shadow: none;
    }

    &.collapsed {
      .policy__accordion-icon::after {
        transform: translate(-50%, -50%) rotate(270deg);
      }
    }
  }

  &__accordion-icon{
    width: 23px;
    height: 23px;
    background-color: $secondaryColor;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease 0s;
    position: relative;

    &::before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 2px;
      background-color: #fff;
    }

    &::after{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 2px;
      background-color: #fff;
      transition: .5s;
    }
  }

  &__accordion-subtitle{
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: $secondaryColor;
    margin-bottom: 19px;
  }

  &__accordion-body{
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #4f4f4f;
    padding: 10px 0;
    max-width: 95%;
  }

  &__accordion-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #4f4f4f;
  }

  @media (max-width: 425px) {
    padding-top: 50px;
    padding-bottom: 50px;
    
    &__inner{
      padding: 20px 30px;
    }
    
    &__title{
      font-size: 32px;
      line-height: 42px;
    }
  }
}

.footer{
  position: relative;
  z-index: 1;
  background-color: #F2F2F2;

  &::before{
    content: '';
    background-image: url(../../img/privacy-terms/bg-bottom-left.svg);
    background-repeat: no-repeat;
    width: 188px;
    height: 220px;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
  }

  &__text{
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    color: #4f4f4f;
  }
}