@import '../_config.scss';
@import '../component/_chapter-topic-accordion.scss';
@import '../component/_modal.scss';
@import '../component/_header-chapter.scss';
@import '../component/_side-bar.scss';

html {
  scroll-behavior: smooth;
}

.nav-custom {
  margin-bottom: 0;
}

.topic {
  &__title {
    width: inherit;
    font-size: 14px;
    font-weight: 300;
  }
}

.btn-accordion-inner {
  padding: 10px 0;
}


// ===================================

.quiz {
  width: 100%;
  min-height: calc(100vh - (63px + 66px));
  position: relative;
  background-color: #F2F2F2;
  padding-top: 40px;
  padding-bottom: 40px;

  &__header {
    background-color: #FFF;
    padding: 33px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__progress {
    background-color: rgba(206, 206, 206, 0.2);
    border-radius: 12px;
    width: 85%;
  }

  &__progress-bar {
    background-color: $secondaryColor;
    border-radius: 12px;
  }

  &__progress-text {
    font-size: 16px;
    color: #989898;
  }

  &__content {
    margin-top: 20px;
    background-color: #FFF;
    padding: 60px 130px;
    position: relative;
    min-height: 430px;
  }

  &__title {
    font-size: 20px;
    line-height: 30px;
    color: #4F4F4F;
    margin-bottom: 23px;

    &--small {
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__desc {
    font-size: 14px;
    font-weight: 300;
    color: #4F4F4F;
  }

  &__question {
    font-size: 26px;
    font-weight: 500;
    padding: 0 70px;
  }

  &__select {
    display: block;
    position: relative;
    padding: 13px 36px;
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    line-height: 24px;
    color: #4F4F4F;
    border: 1px solid #CECECE;
    border-radius: 5px;
    background-color: #FFF;
    width: 100%;
    transition: .3s;

    &:hover {
      background-color: #CECECE;
    }

    &.correct {
      background-color: $secondaryColor;
      color: #FFF;
    }

    &.wrong {
      background-color: #FF3939;
      color: #FFF;

      &::before {
        content: '\f00d';
        position: absolute;
        right: -50px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #FF3939;
        font-size: 30px;
      }
    }

    &.disabled {
      pointer-events: none;
    }
  }

  &__box {
    display: flex;
    // justify-content: center;
    align-items: center;
    border: 1px solid #CECECE;
    border-radius: 5px;
    padding: 12px 90px;
    color: #4F4F4F;
    margin-top: 27px;
    position: relative;

    &.wrong {
      border: 2px solid #FF3939;

      &::before {
        content: 'Incorect Answer';
        position: absolute;
        top: -50px;
        right: 0;
        color: #FF3939;
        font-weight: 500;
      }
    }

    &.correct {
      border: 2px solid $secondaryColor;
    }
  }

  &__box-fill {
    display: inline-block;
    width: 84px;
    height: 41px;
    padding: 8px 18px;
    color: #4F4F4F;
    border: 1px solid $secondaryColor;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    margin-right: 15px;
  }

  &__puzzle-btn {
    // max-width: 76px;
    display: inline-block;
    padding: 8px 15px;
    color: #4F4F4F;
    border: 1px solid $secondaryColor;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-right: 12px;
    cursor: pointer;
    transition: .3s;
    max-width: 230px;

    &.selected {
      background-color: $secondaryColor;
      color: #FFF;
    }

    &:hover {
      background-color: $secondaryColor;
      color: #FFF;
    }
  }

  &__answer-btn {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}