@import '../_config.scss';
@import '../component/_chapter-topic-accordion.scss';
@import '../component/_modal.scss';
@import '../component/_header-chapter.scss';
@import '../component/_side-bar.scss';

html {
  scroll-behavior: smooth;
}

.nav-custom {
  margin-bottom: 0;
}

.topic {
  &__title {
    width: inherit;
    font-size: 14px;
    font-weight: 300;
  }
}

.btn-accordion-inner {
  padding: 10px 0;
}

.topic-inner {
  &__container {
    width: 85%;
  }
}

// ===================================

.score {
  width: 100%;
  height: calc(100vh - (63px + 66px));
  position: relative;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../img/slide/slide-bg-left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 75%;
    width: 20%;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../../img/slide/slide-bg-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    height: 61%;
    width: 25%;
  }

  &__bg {
    background-color: #FFF;
    width: 55%;
    padding: 51px 165px;
    text-align: center;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    color: #000;
  }

  &__subtitle {
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    color: #989898;
  }

  &__score {
    font-size: 118px;
    font-weight: 500;
    line-height: 1.2;
    display: block;
    color: $secondaryColor;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../../img/score-bg.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 70%;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #989898;
    text-align: center;
    margin-bottom: 34px;
  }

  &__back {
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin-top: 16px;
    color: #636363;

  }
}