@import '../_config.scss';
@import '../component/_form.scss';
@import '../plugin/_bootstrap-select.scss';

// ==============================================================

.btn-language {
  & .arrow-down {
    transition: .3s;
  }

  &.show {
    & .arrow-down {
      transform: scaleY(-1);
    }
  }
}

.sign-up-bg {

  &::before {
    content: '';
    background-image: url(../../img/sign-up/bg-left.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25vw;
    height: 323px;
  }

  &::after {
    content: '';
    background-image: url(../../img/sign-up/bg-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    height: 683px;
  }
}

.header {
  background-color: #FFF;
}

.banner {

  &__title {
    padding-top: 40px;
    font-size: 30px;
    font-weight: 500;
    line-height: 46px;
    margin-bottom: 40px;
    text-align: center;
  }

  &__desc {
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #636363;
  }
}


.sign-up-bg-success {

  &::before {
    content: '';
    background-image: url(../../img/sign-up/bg-top-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
    height: 323px;
  }

  &::after{
    content: '';
    background-image: url(../../img/sign-up/green-dot-border-3x8.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 73px;
    height: 213px;
  }
}

.success {
  padding-top: 20px;

  &__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-top: 30px;
    margin-bottom: 19px;
    text-align: center;
  }

  &__desc {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #989898;
    max-width: 350px;
    margin: auto;
    margin-bottom: 80px;
    text-align: center;
  }

  &__button{
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 137px;
    background-color: $primaryColor;
    border-radius: 14px;
    box-shadow: 0px 52px 61px #0000000F;
    width: 100%;
    height: 157px;
    padding: 10px;
    margin-bottom: 60px;
    transition: .3s;

    &:hover{
      color: #fff;
      text-decoration: none;
      background-color: rgba($color: $primaryColor, $alpha: 0.95);
    }

    &:hover .success__button-icon{
      transform: scale(1.1);
    }
  }

  &__button-icon{
    margin-top: -75px;
    margin-right: 20px;
    transition: .3s;
  }

  &__explore{
    display: block;
    text-align: center;
    font-size: 16px;
    color: $secondaryColor;
    line-height: 25px;

    &:hover{
      color: inherit;
      text-decoration: none;
    }
  }
}