@import "../_config.scss";
@import "../component/_table-submission.scss";

.btn-dark {
  padding: 6px 18px;
  font-size: 13px;

  &.disabled {
    background-color: #cecece;
    border-color: #cecece;
    color: #fff;
  }
}

// Mentor
.submission__title {
  &.border-darkgreen {
    border-left: 12px solid #32826d;
    padding-left: 20px;
  }

  &.border-orange {
    border-left: 12px solid #ffb300;
    padding-left: 20px;
  }

  &.border-green {
    border-left: 12px solid $secondaryColor;
    padding-left: 20px;
  }
}

.categories {
  margin-bottom: 80px;
  overflow-x: hidden;

  &__wrapper {
    display: flex;
    gap: 27px;
    transition: all 0.7s ease-in-out;

    &.next {
      margin-left: -758px;
    }
  }
}

.card-custom {
  background-color: #fff;
  color: #4f4f4f;
  min-height: 77px;
  min-width: 352px;
  display: flex;

  &:hover {
    color: #4f4f4f;
    text-decoration: none;
  }

  &__bg {
    background-color: #ffb300;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.orange {
      background-color: #ffb300;
    }

    &.green {
      background-color: $secondaryColor;
    }

    &.darkgreen {
      background-color: #32826d;
    }

    &.darkblue {
      background-color: #44546a;
    }

    &.dark {
      background-color: $primaryColor;
    }
  }

  &__text {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
  }

  &__title-badge {
    margin-left: 10px;
    display: inline-block;
    background-color: #ff3939;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
  }

  &__desc {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
  }
}

.progress-custom {
  position: relative;
  height: 25px;
  width: 80%;
  background-color: rgba(206, 206, 206, 0.3);
  border-radius: 12px;

  &--submission {
    @extend .progress-custom;
    height: 11px;
    width: 100%;
    margin-top: 6px;
  }

  &__bar {
    background-color: $secondaryColor;
    border-radius: 12px;
  }

  &__percent {
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 14px;
  }
}

.star-badge {
  color: #fff;
  font-size: 6px;
  padding: 4px;
  border-radius: 100%;
  vertical-align: middle;
  position: relative;

  &.darkgreen {
    background-color: #32826d;

    &::after {
      content: 'Good';
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      position: absolute;
      top: 0;
      right: -55px;
      background-color: #F0F0F0;
      // background-color: lightblue;
      border-radius: 2px;
      padding: 2px 10px;
      color: #636363;
      font-size: 10px;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
    }

    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.green {
    background-color: $secondaryColor;

    &::after {
      content: 'Excellent';
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      position: absolute;
      top: 0;
      right: -70px;
      background-color: #F0F0F0;
      // background-color: lightblue;
      border-radius: 2px;
      padding: 2px 10px;
      color: #636363;
      font-size: 10px;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
    }

    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.orange {
    background-color: #ffb300;

    &::after {
      content: 'Try Again';
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      position: absolute;
      top: 0;
      right: -75px;
      background-color: #F0F0F0;
      // background-color: lightblue;
      border-radius: 2px;
      padding: 2px 10px;
      color: #636363;
      font-size: 10px;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
    }

    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.btn.dropdown-toggle.btn-reviewby__wrap {
  &:focus {
    outline: none !important;
    box-shadow: none;
  }
}

.btn-reviewby {
  & .btn.dropdown-toggle.btn-reviewby__wrap {
    &:focus {
      outline: none !important;
      box-shadow: none;
    }
  }

  &.show {
    & .btn-reviewby__wrap::after {
      transform: scaleY(-1);
    }
  }

  &__wrap {
    font-size: 14px;
    padding: 20px 30px;
    color: #fff !important;

    &::after {
      color: $secondaryColor;
      border-top: 0.5em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }
  }

  &__list {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;

    &.active {
      background-color: $primaryColor;
      color: #fff;
    }

    &:hover {
      background-color: $primaryColor;
      color: #fff;
    }
  }
}