.btn-outline-dark {
  background-color: #FFF;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  padding: 5px 35px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    background-color: $primaryColor;
    color: #FFF;
  }
}

.btn-dark {
  background-color: $primaryColor;
  color: #FFF;
  border-color: $primaryColor;
  padding: 10px 35px;
  border-radius: 5px;
  font-weight: 500;

  &--small {
    @extend .btn-dark;
    font-size: 12px;
    padding: 3px 18px;
  }

  &--wide {
    @extend .btn-dark;
    padding: 10px 80px;
    font-size: 14px;
    height: 40px;
  }

  &:hover {
    background-color: lighten($color: $primaryColor, $amount: 10%);
    color: #FFF;
  }
}

.btn-white {
  background-color: #FFF;
  color: $primaryColor;
  border-color: #FFF;
  padding: 5px 35px;
  border-radius: 5px !important;

  &:hover {
    background-color: $primaryColor;
    color: #FFF;
    border: 1px solid $primaryColor;
  }
}

.btn-transparent {
  background-color: transparent;
  color: $primaryColor;
  padding: 5px 35px;
  border-radius: 5px !important;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    color: $primaryColor;
    box-shadow: none;
  }
}

.btn-grey {
  background-color: rgba($color: #CECECE, $alpha: 0.3);
  color: $primaryColor;
  padding: 12px 25px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: rgba($color: #CECECE, $alpha: 1.0);
    box-shadow: none;
  }
}

.btn-yellow {
  background-color: #FFB300;
  color: #FFF;
  padding: 12px 25px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;

  &:hover,
  &:focus {
    color: #FFF;
    background-color: darken($color: #FFB300, $amount: 4%);
    box-shadow: none;
  }
}

.btn-green {
  background-color: $secondaryColor;
  color: #FFF;
  padding: 12px 25px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;

  &.disabled {
    background-color: #CECECE;
    color: #636363;
    pointer-events: none;
    opacity: 1;
  }

  &:hover,
  &:focus {
    color: #FFF;
    background-color: darken($color: $secondaryColor, $amount: 5%);
    box-shadow: none;
  }
}

.btn-red {
  background-color: #FF3939;
  color: #FFF;
  padding: 12px 25px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;

  &:hover,
  &:focus {
    color: #FFF;
    background-color: lighten($color: #FF3939, $amount: 10%);
    box-shadow: none;
  }
}

.btn-back {
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;
  background-color: $secondaryColor;
  border-radius: 50%;
  display: inline-flex;
  color: #FFF;
  border: none;
  outline: none;
  font-size: 18px;
  margin-right: 20px;
  transition: .3s;

  &:hover {
    background-color: darken($color: $secondaryColor, $amount: 10%);
    color: #FFF;
    text-decoration: none;
  }
}

.btn-start-free-trial, .btn-sign-up-dark{
 font-size: 12px;
 color: #fff;
 background-color: $primaryColor;
 border: none;
 padding: 10px 20px;
 min-width: 100px;
}

.btn-start-free-trial{
  background-color: $secondaryColor;
}

.badge-red {
  background-color: #FF3939;
  padding: 2px 8px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
}

.badge-yellow {
  background-color: #FFB300;
  color: #FFF;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
}

.badge-green {
  background-color: $secondaryColor;
  color: #FFF;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
}

.badge-darkgreen {
  background-color: #32826D;
  color: #FFF;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
}

button {
  &:focus {
    outline: none;
  }
}

.text-green {
  color: $secondaryColor;
}

.text-grey {
  color: #CECECE;
}