.topic {
  padding: 20px 0 20px 0;

  &__title {
    width: 40%;
    transition: .3s;
  }

  &__progress {
    width: 15%;
    text-align: center;
  }

  &__progress-bar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 5px solid $secondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #4F4F4F;

    &--50 {
      @extend .topic__progress-bar;
      border: 5px solid #CECECE;
      border-top: 5px solid #FFB300;
    }

    &--0 {
      @extend .topic__progress-bar;
      border: 5px solid #CECECE;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #4F4F4F;
    width: 40%;
  }

  &__progress-text {
    font-size: 14px;
    line-height: 15px;
    font-weight: 300;
    color: #4F4F4F;
    display: inline-flex;
    flex-direction: column;

    &--small {
      @extend .topic__progress-text;
      font-size: 12px;
    }
  }

  &__checkbox {
    position: relative;

    &::before {
      content: "";
      font-size: 10px;
      color: #FFF;
      opacity: 1;
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      border-radius: 50%;
      border: 1px solid #707070;
      background-color: #FFF;
      transition: .2s;
    }

    &::after{
      content: '';
      display: block;
      margin: auto;
      width: 6px;
      height: 10px;
      border: solid #FFF;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:checked::before {
      background-color: $secondaryColor;
      border: 1px solid $secondaryColor;
    }
  }
}

.topic-inner {
  margin-left: auto;
  width: 85%;
  padding: 0 0 0 5px;

  &__detail {
    min-height: 50px;
    display: flex;
    align-items: baseline;
  }

  &__button {
    padding-left: 0;
    padding-right: 0;
    width: 25%;
  }
}

.btn-accordion {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.collapsed {
    .btn-accordion__icon::after {
      transform: translate(-50%, -50%) rotate(270deg);
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    background-color: $secondaryColor;
    border-radius: 50%;
    color: #FFF;
    transition: .5s;
    text-align: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 2px;
      background-color: #FFF;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 2px;
      background-color: #FFF;
      transition: .5s;
    }
  }
}

.btn-accordion-inner {

  text-align: left;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  text-decoration: none;
  position: relative;

  &.collapsed {
    &::before {
      transform: scaleY(-1);
    }
  }

  &::before {
    content: '\f077';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 22px;
    order: 1;
    align-self: center;
    margin-left: auto;
    border-radius: 50%;
    color: #989898;
    transition: .5s;
  }

  &:hover {
    .topic__title {
      color: $secondaryColor;
    }
  }
}