/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// Bootstrap select
button.btn.dropdown-toggle.btn-light {
  color: #4F4F4F;
  background-color: #FFF;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #CECECE;
}

// .dropdown-menu {
//   padding-top: 0;
//   padding-bottom: 0;
// }

// .dropdown-item {
//   color: #4F4F4F;
//   font-size: 14px;
//   padding-top: 10px;
//   padding-bottom: 10px;

//   &.active {
//     background-color: $primaryColor;
//   }

//   &:hover {
//     background-color: $primaryColor;
//     color: #FFF;
//   }
// }

.form__input--small button.btn.dropdown-toggle.btn-light {
  color: #4F4F4F;
  background-color: #FFF;
  border-radius: 7px;
  font-size: 12px;
  font-weight: 300;
}

.form__input--small .dropdown-item {
  color: #4F4F4F;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;

  &.active {
    color: #FFF;
    background-color: $primaryColor;
  }

  &:hover {
    background-color: $primaryColor;
    color: #FFF;
  }
}

// End boostrap select

.input-password {
  position: relative;

  &__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
    transition: .3s;

    &.show {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      transform: translateY(-50%) scale(0.9);
    }
  }
}

.form-control.is-invalid {
  color: #FF3939;
  background-image: unset;
}

.form {
  color: #4F4F4F;

  &__title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;

    &--green {
      @extend .form__title;
      color: #6DDA5F;
      cursor: pointer;
      font-weight: 400;

      &:hover {
        color: darken($color: #6DDA5F, $amount: 15%);
        text-decoration: none;
      }
    }
  }

  &__input {
    border: 1px solid #CECECE;
    border-radius: 7px;
    padding: 10px 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    position: relative;

    & .dropdown-item {
      color: #4F4F4F;
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 10px;

      &.active {
        color: #FFF;
        background-color: $primaryColor;
      }

      &:hover {
        background-color: $primaryColor;
        color: #FFF;
      }
    }

    &--small {
      @extend .form__input;
      font-size: 12px;
      color: #000;
      padding: 11px 10px;
    }

    &--password {
      @extend .form__input;
      padding-right: 40px;
    }

    &:focus {
      border: 1.5px solid #636363;
      box-shadow: none;
    }
  }

  &__slash {
    font-weight: 400;
    color: #9e9e9e;
    vertical-align: middle;
    margin-top: 5px;
  }

  &__checkbox {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
  }

  &__remember {
    font-size: 12px;
    line-height: 28px;
    font-weight: 300;
    vertical-align: middle;
  }

  &__member {
    font-size: 12px;
    line-height: 28px;
    margin-top: 67px;

    &--green {
      @extend .form__member;
      color: #6DDA5F;
      cursor: pointer;
      margin-top: 0;
      line-height: 12px;

      &:hover {
        color: darken($color: #6DDA5F, $amount: 15%);
        text-decoration: none;
      }
    }
  }

  &__custom-invalid {
    width: unset;
    margin-top: 0.25rem;
    font-size: 70%;
    color: #dc3545;
    position: absolute;
    top: 0;
    right: 0;
  }
}