.header-chapter {
  width: 100%;
  background-color: #FFF;
  box-shadow: 0px 3px 13px #00000029;
  padding: 14px 0 13px 0;
  position: sticky;
  top: 66px;
  z-index: 8;

  &__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 26px;
    font-weight: 500;
    display: inline-block;
    padding-right: 25px;
    margin-bottom: 0;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #4F4F4F;
    display: inline-block;
    margin-bottom: 0;
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-back {
  width: 36px;
  height: 36px;
}