.custom-close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;

  &__button {
    color: #a0a0a0;
  }
}

.modal-custom {
  padding: 40px 50px;
  border: none;

  &__title {
    padding-top: 40px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;

    &--small {
      @extend .modal-custom__title;
      font-size: 26px;
    }
  }

  &__desc {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #636363;
  }

  &__btn {
    font-size: 14px;
    font-weight: 400;
  }

  &__footer-text {
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin-top: 16px;
    color: #636363;

    &:hover {
      color: #636363;
    }
  }
}