.side-bar {
  position: fixed;
  z-index: 8;
  top: 63px;
  bottom: 0;
  right: -600px;
  width: 583px;
  padding: 30px 70px;
  background-color: #FFF;
  box-shadow: 0px 3px 6px #00000029;
  transition: .6s;
  overflow-y: auto;

  &__btn-show,
  &__btn-close {
    cursor: pointer;
  }
  
  &__btn-show{
    position: relative;

    &.highlight{
      &::after{
        content: "";
        position: absolute;
        top: -10px;
        left: -15px;
        right: -15px;
        bottom: -10px;
        border: 5px solid #6DDA5F;
        animation: blink 1.5s linear infinite;
      }
    }

  }

  &__btn-close {
    color: #CECECE;
  }

  &.show {
    right: 0;
  }

  &__head {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 26px;
    font-weight: 500;
  }

  &__subtitle {
    font-size: 16px;
    margin-bottom: 0;
    display: block;

    &--small {
      @extend .side-bar__subtitle;
      font-size: 12px;
      font-weight: 300;
      line-height: normal;
    }
  }
}