@import '../plugin/_bootstrap-select.scss';

// Select Picker

.btn-sort {
  display: inline-block;
  width: 100px;

  &__wrap {
    width: 100% !important;

    & .dropdown-toggle::after {
      color: $secondaryColor;
      border-top: 0.7em solid;
      border-right: 0.4em solid transparent;
      border-bottom: 0;
      border-left: 0.4em solid transparent;
    }

    &.show {
      & .dropdown-toggle::after {
        transform: scaleY(-1);
      }
    }

    & button.btn.dropdown-toggle.btn-light {
      background-color: #FFF;
      font-size: 14px;
      border-radius: 6px;
      font-weight: 300;

      &:focus {
        outline: none !important;
      }
    }
  }

  & .dropdown-item {
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;

    &.active {
      color: #FFF;
      background-color: $primaryColor;
    }

    &:hover {
      background-color: $primaryColor;
      color: #FFF;
    }
  }
}

// End Select Picker

.submission {

  &__head {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 30px;
    // display: inline-block;
  }

  &__table {
    width: 100%;
    margin-top: 50px;
  }

  &__sort {
    // display: inline-block;
    margin-left: auto;
    font-weight: 500;
  }
}


.custom-table {

  & tr:last-child &__body-td:first-child {
    border-bottom-left-radius: 6px;
  }

  & tr:last-child &__body-td:last-child {
    border-bottom-right-radius: 6px;
  }

  &__head-td {
    background-color: $primaryColor;
    color: #FFF;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    padding: 20px 30px;

    &:first-child {
      border-top-left-radius: 6px;
    }

    &:last-child {
      border-top-right-radius: 6px;
    }
  }

  &__body-td {
    background-color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding: 30px 30px;
    border-bottom: 1px solid rgba($color: #707070, $alpha: 0.2);

    &--muted {
      @extend .custom-table__body-td;
      font-size: 12px;
      color: #cecece;
      font-weight: 300
    }

    &--small {
      @extend .custom-table__body-td;
      font-size: 12px;
    }
  }

  &__body-text {
    color: #000;
    transition: .1s;
    font-size: 16px;
    font-weight: 400;

    &:hover {
      color: $secondaryColor;
      text-decoration: none;
    }
  }
}

.pagination-custom {
  margin: 64px auto 47px auto;
  width: 262px;
  display: flex;
  justify-content: space-between;

  &__item {
    font-size: 16px;
    font-weight: 500;
    color: #4F4F4F;
    position: relative;
    z-index: 1;
    transition: .2s;
    width: 24px;
    height: 24px;
    text-align: center;

    &::before {
      content: '';
      margin-top: -1px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $secondaryColor;
      width: 0px;
      height: 0px;
      border-radius: 50%;
      z-index: -1;
      transition: .2s;
    }

    &:hover {
      color: #FFF;
      text-decoration: none;

      &::before {
        width: 24px;
        height: 24px;
        animation: big .3s ease-in-out;
      }
    }

    &.active {
      color: #FFF;

      &::before {
        width: 24px;
        height: 24px;
      }
    }
  }

  @keyframes big {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }

    50% {
      transform: translate(-50%, -50%) scale(1.2);
    }

    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}