@charset "UTF-8";
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button.btn.dropdown-toggle.btn-light {
  color: #4F4F4F;
  background-color: #FFF;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #CECECE;
}

.form__input--small button.btn.dropdown-toggle.btn-light {
  color: #4F4F4F;
  background-color: #FFF;
  border-radius: 7px;
  font-size: 12px;
  font-weight: 300;
}

.form__input--small .dropdown-item {
  color: #4F4F4F;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form__input--small .dropdown-item.active {
  color: #FFF;
  background-color: #242E3B;
}
.form__input--small .dropdown-item:hover {
  background-color: #242E3B;
  color: #FFF;
}

.input-password {
  position: relative;
}
.input-password__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}
.input-password__icon.show {
  opacity: 1;
}
.input-password__icon:hover {
  opacity: 1;
}
.input-password__icon:active {
  transform: translateY(-50%) scale(0.9);
}

.form-control.is-invalid {
  color: #FF3939;
  background-image: unset;
}

.form {
  color: #4F4F4F;
}
.form__title, .form__title--green {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
.form__title--green {
  color: #6DDA5F;
  cursor: pointer;
  font-weight: 400;
}
.form__title--green:hover {
  color: #3dc02c;
  text-decoration: none;
}
.form__input, .form__input--password, .form__input--small {
  border: 1px solid #CECECE;
  border-radius: 7px;
  padding: 10px 22px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  position: relative;
}
.form__input .dropdown-item, .form__input--password .dropdown-item, .form__input--small .dropdown-item {
  color: #4F4F4F;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form__input .dropdown-item.active, .form__input--password .dropdown-item.active, .form__input--small .dropdown-item.active {
  color: #FFF;
  background-color: #242E3B;
}
.form__input .dropdown-item:hover, .form__input--password .dropdown-item:hover, .form__input--small .dropdown-item:hover {
  background-color: #242E3B;
  color: #FFF;
}
.form__input--small {
  font-size: 12px;
  color: #000;
  padding: 11px 10px;
}
.form__input--password {
  padding-right: 40px;
}
.form__input:focus, .form__input--small:focus, .form__input--password:focus {
  border: 1.5px solid #636363;
  box-shadow: none;
}
.form__slash {
  font-weight: 400;
  color: #9e9e9e;
  vertical-align: middle;
  margin-top: 5px;
}
.form__checkbox {
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}
.form__remember {
  font-size: 12px;
  line-height: 28px;
  font-weight: 300;
  vertical-align: middle;
}
.form__member, .form__member--green {
  font-size: 12px;
  line-height: 28px;
  margin-top: 67px;
}
.form__member--green {
  color: #6DDA5F;
  cursor: pointer;
  margin-top: 0;
  line-height: 12px;
}
.form__member--green:hover {
  color: #3dc02c;
  text-decoration: none;
}
.form__custom-invalid {
  width: unset;
  margin-top: 0.25rem;
  font-size: 70%;
  color: #dc3545;
  position: absolute;
  top: 0;
  right: 0;
}

/*!
 * Bootstrap-select v1.13.14 (https://developer.snapappointments.com/bootstrap-select)
 *
 * Copyright 2012-2020 SnapAppointments, LLC
 * Licensed under MIT (https://github.com/snapappointments/bootstrap-select/blob/master/LICENSE)
 */
@-webkit-keyframes bs-notify-fadeOut {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes bs-notify-fadeOut {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bs-notify-fadeOut {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
select.bs-select-hidden,
.bootstrap-select > select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}

.bootstrap-select {
  width: 220px \0 ;
  /*IE9 and below*/
  vertical-align: middle;
}

.bootstrap-select > .dropdown-toggle {
  position: relative;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bootstrap-select > .dropdown-toggle:after {
  margin-top: -1px;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #999;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark--wide,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark--small,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:active {
  color: rgba(255, 255, 255, 0.5);
}

.bootstrap-select > select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: 0.5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: none;
  z-index: 0 !important;
}

.bootstrap-select > select.mobile-device {
  top: 0;
  left: 0;
  display: block !important;
  width: 100% !important;
  z-index: 2 !important;
}

.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle,
.bootstrap-select.is-invalid .dropdown-toggle,
.was-validated .bootstrap-select select:invalid + .dropdown-toggle {
  border-color: #b94a48;
}

.bootstrap-select.is-valid .dropdown-toggle,
.was-validated .bootstrap-select select:valid + .dropdown-toggle {
  border-color: #28a745;
}

.bootstrap-select.fit-width {
  width: auto !important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 220px;
}

.bootstrap-select > select.mobile-device:focus + .dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
  outline: thin dotted #333333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}

.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
  height: auto;
}

:not(.input-group) > .bootstrap-select.form-control:not([class*=col-]) {
  width: 100%;
}

.bootstrap-select.form-control.input-group-btn {
  float: none;
  z-index: auto;
}

.form-inline .bootstrap-select,
.form-inline .bootstrap-select.form-control:not([class*=col-]) {
  width: auto;
}

.bootstrap-select:not(.input-group-btn),
.bootstrap-select[class*=col-] {
  float: none;
  display: inline-block;
  margin-left: 0;
}

.bootstrap-select.dropdown-menu-right,
.bootstrap-select[class*=col-].dropdown-menu-right,
.row .bootstrap-select[class*=col-].dropdown-menu-right {
  float: right;
}

.form-inline .bootstrap-select,
.form-horizontal .bootstrap-select,
.form-group .bootstrap-select {
  margin-bottom: 0;
}

.form-group-lg .bootstrap-select.form-control,
.form-group-sm .bootstrap-select.form-control {
  padding: 0;
}

.form-group-lg .bootstrap-select.form-control .dropdown-toggle,
.form-group-sm .bootstrap-select.form-control .dropdown-toggle {
  height: 100%;
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}

.bootstrap-select.form-control-sm .dropdown-toggle,
.bootstrap-select.form-control-lg .dropdown-toggle {
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}

.bootstrap-select.form-control-sm .dropdown-toggle {
  padding: 0.25rem 0.5rem;
}

.bootstrap-select.form-control-lg .dropdown-toggle {
  padding: 0.5rem 1rem;
}

.form-inline .bootstrap-select .form-control {
  width: 100%;
}

.bootstrap-select.disabled,
.bootstrap-select > .disabled {
  cursor: not-allowed;
}

.bootstrap-select.disabled:focus,
.bootstrap-select > .disabled:focus {
  outline: none !important;
}

.bootstrap-select.bs-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 0 !important;
  padding: 0 !important;
}

.bootstrap-select.bs-container .dropdown-menu {
  z-index: 1060;
}

.bootstrap-select .dropdown-toggle .filter-option {
  position: static;
  top: 0;
  left: 0;
  float: left;
  height: 100%;
  width: 100%;
  text-align: left;
  overflow: hidden;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.bs3.bootstrap-select .dropdown-toggle .filter-option {
  padding-right: inherit;
}

.input-group .bs3-has-addon.bootstrap-select .dropdown-toggle .filter-option {
  position: absolute;
  padding-top: inherit;
  padding-bottom: inherit;
  padding-left: inherit;
  float: none;
}

.input-group .bs3-has-addon.bootstrap-select .dropdown-toggle .filter-option .filter-option-inner {
  padding-right: inherit;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  overflow: hidden;
}

.bootstrap-select .dropdown-toggle .filter-expand {
  width: 0 !important;
  float: left;
  opacity: 0 !important;
  overflow: hidden;
}

.bootstrap-select .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}

.input-group .bootstrap-select.form-control .dropdown-toggle {
  border-radius: inherit;
}

.bootstrap-select[class*=col-] .dropdown-toggle {
  width: 100%;
}

.bootstrap-select .dropdown-menu {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bootstrap-select .dropdown-menu > .inner:focus {
  outline: none !important;
}

.bootstrap-select .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bootstrap-select .dropdown-menu li {
  position: relative;
}

.bootstrap-select .dropdown-menu li.active small {
  color: rgba(255, 255, 255, 0.5) !important;
}

.bootstrap-select .dropdown-menu li.disabled a {
  cursor: not-allowed;
}

.bootstrap-select .dropdown-menu li a {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bootstrap-select .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em;
}

.bootstrap-select .dropdown-menu li a span.check-mark {
  display: none;
}

.bootstrap-select .dropdown-menu li a span.text {
  display: inline-block;
}

.bootstrap-select .dropdown-menu li small {
  padding-left: 0.5em;
}

.bootstrap-select .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bootstrap-select .dropdown-menu .notify.fadeOut {
  -webkit-animation: 300ms linear 750ms forwards bs-notify-fadeOut;
  -o-animation: 300ms linear 750ms forwards bs-notify-fadeOut;
  animation: 300ms linear 750ms forwards bs-notify-fadeOut;
}

.bootstrap-select .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
  white-space: nowrap;
}

.bootstrap-select.fit-width .dropdown-toggle .filter-option {
  position: static;
  display: inline;
  padding: 0;
}

.bootstrap-select.fit-width .dropdown-toggle .filter-option-inner,
.bootstrap-select.fit-width .dropdown-toggle .filter-option-inner-inner {
  display: inline;
}

.bootstrap-select.fit-width .dropdown-toggle .bs-caret:before {
  content: " ";
}

.bootstrap-select.fit-width .dropdown-toggle .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 5px;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}

.bootstrap-select .bs-ok-default:after {
  content: "";
  display: block;
  width: 0.5em;
  height: 1em;
  border-style: solid;
  border-width: 0 0.26em 0.26em 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle,
.bootstrap-select.show-menu-arrow.show > .dropdown-toggle {
  z-index: 1061;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle .filter-option:before {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle .filter-option:after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle .filter-option:before {
  bottom: auto;
  top: -4px;
  border-top: 7px solid rgba(204, 204, 204, 0.2);
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle .filter-option:after {
  bottom: auto;
  top: -4px;
  border-top: 6px solid white;
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle .filter-option:before {
  right: 12px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle .filter-option:after {
  right: 13px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle .filter-option:before,
.bootstrap-select.show-menu-arrow.show > .dropdown-toggle .filter-option:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle .filter-option:after,
.bootstrap-select.show-menu-arrow.show > .dropdown-toggle .filter-option:after {
  display: block;
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px;
}

.bs-actionsbox {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bs-actionsbox .btn-group button {
  width: 50%;
}

.bs-donebutton {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bs-donebutton .btn-group button {
  width: 100%;
}

.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}

.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
  float: none;
}

/*# sourceMappingURL=bootstrap-select.css.map */
.btn-outline-dark {
  background-color: #FFF;
  color: #242E3B;
  border: 1px solid #242E3B;
  padding: 5px 35px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}
.btn-outline-dark:hover {
  background-color: #242E3B;
  color: #FFF;
}

.btn-dark, .btn-dark--wide, .btn-dark--small {
  background-color: #242E3B;
  color: #FFF;
  border-color: #242E3B;
  padding: 10px 35px;
  border-radius: 5px;
  font-weight: 500;
}
.btn-dark--small {
  font-size: 12px;
  padding: 3px 18px;
}
.btn-dark--wide {
  padding: 10px 80px;
  font-size: 14px;
  height: 40px;
}
.btn-dark:hover, .btn-dark--small:hover, .btn-dark--wide:hover {
  background-color: #37475b;
  color: #FFF;
}

.btn-white {
  background-color: #FFF;
  color: #242E3B;
  border-color: #FFF;
  padding: 5px 35px;
  border-radius: 5px !important;
}
.btn-white:hover {
  background-color: #242E3B;
  color: #FFF;
  border: 1px solid #242E3B;
}

.btn-transparent {
  background-color: transparent;
  color: #242E3B;
  padding: 5px 35px;
  border-radius: 5px !important;
}
.btn-transparent:hover, .btn-transparent:active, .btn-transparent:focus {
  background-color: transparent;
  color: #242E3B;
  box-shadow: none;
}

.btn-grey {
  background-color: rgba(206, 206, 206, 0.3);
  color: #242E3B;
  padding: 12px 25px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
}
.btn-grey:hover, .btn-grey:focus {
  background-color: #cecece;
  box-shadow: none;
}

.btn-yellow {
  background-color: #FFB300;
  color: #FFF;
  padding: 12px 25px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
}
.btn-yellow:hover, .btn-yellow:focus {
  color: #FFF;
  background-color: #eba500;
  box-shadow: none;
}

.btn-green {
  background-color: #6DDA5F;
  color: #FFF;
  padding: 12px 25px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
}
.btn-green.disabled {
  background-color: #CECECE;
  color: #636363;
  pointer-events: none;
  opacity: 1;
}
.btn-green:hover, .btn-green:focus {
  color: #FFF;
  background-color: #5ad54a;
  box-shadow: none;
}

.btn-red {
  background-color: #FF3939;
  color: #FFF;
  padding: 12px 25px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
}
.btn-red:hover, .btn-red:focus {
  color: #FFF;
  background-color: #ff6c6c;
  box-shadow: none;
}

.btn-back {
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;
  background-color: #6DDA5F;
  border-radius: 50%;
  display: inline-flex;
  color: #FFF;
  border: none;
  outline: none;
  font-size: 18px;
  margin-right: 20px;
  transition: 0.3s;
}
.btn-back:hover {
  background-color: #47d036;
  color: #FFF;
  text-decoration: none;
}

.btn-start-free-trial, .btn-sign-up-dark {
  font-size: 12px;
  color: #fff;
  background-color: #242E3B;
  border: none;
  padding: 10px 20px;
  min-width: 100px;
}

.btn-start-free-trial {
  background-color: #6DDA5F;
}

.badge-red {
  background-color: #FF3939;
  padding: 2px 8px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
}

.badge-yellow {
  background-color: #FFB300;
  color: #FFF;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
}

.badge-green {
  background-color: #6DDA5F;
  color: #FFF;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
}

.badge-darkgreen {
  background-color: #32826D;
  color: #FFF;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
}

button:focus {
  outline: none;
}

.text-green {
  color: #6DDA5F;
}

.text-grey {
  color: #CECECE;
}

/*!
 * Bootstrap-select v1.13.14 (https://developer.snapappointments.com/bootstrap-select)
 *
 * Copyright 2012-2020 SnapAppointments, LLC
 * Licensed under MIT (https://github.com/snapappointments/bootstrap-select/blob/master/LICENSE)
 */
@-webkit-keyframes bs-notify-fadeOut {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes bs-notify-fadeOut {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bs-notify-fadeOut {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
select.bs-select-hidden,
.bootstrap-select > select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}

.bootstrap-select {
  width: 220px \0 ;
  /*IE9 and below*/
  vertical-align: middle;
}

.bootstrap-select > .dropdown-toggle {
  position: relative;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bootstrap-select > .dropdown-toggle:after {
  margin-top: -1px;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #999;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark--small,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark--wide,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:active {
  color: rgba(255, 255, 255, 0.5);
}

.bootstrap-select > select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: 0.5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: none;
  z-index: 0 !important;
}

.bootstrap-select > select.mobile-device {
  top: 0;
  left: 0;
  display: block !important;
  width: 100% !important;
  z-index: 2 !important;
}

.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle,
.bootstrap-select.is-invalid .dropdown-toggle,
.was-validated .bootstrap-select select:invalid + .dropdown-toggle {
  border-color: #b94a48;
}

.bootstrap-select.is-valid .dropdown-toggle,
.was-validated .bootstrap-select select:valid + .dropdown-toggle {
  border-color: #28a745;
}

.bootstrap-select.fit-width {
  width: auto !important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 220px;
}

.bootstrap-select > select.mobile-device:focus + .dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
  outline: thin dotted #333333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}

.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
  height: auto;
}

:not(.input-group) > .bootstrap-select.form-control:not([class*=col-]) {
  width: 100%;
}

.bootstrap-select.form-control.input-group-btn {
  float: none;
  z-index: auto;
}

.form-inline .bootstrap-select,
.form-inline .bootstrap-select.form-control:not([class*=col-]) {
  width: auto;
}

.bootstrap-select:not(.input-group-btn),
.bootstrap-select[class*=col-] {
  float: none;
  display: inline-block;
  margin-left: 0;
}

.bootstrap-select.dropdown-menu-right,
.bootstrap-select[class*=col-].dropdown-menu-right,
.row .bootstrap-select[class*=col-].dropdown-menu-right {
  float: right;
}

.form-inline .bootstrap-select,
.form-horizontal .bootstrap-select,
.form-group .bootstrap-select {
  margin-bottom: 0;
}

.form-group-lg .bootstrap-select.form-control,
.form-group-sm .bootstrap-select.form-control {
  padding: 0;
}

.form-group-lg .bootstrap-select.form-control .dropdown-toggle,
.form-group-sm .bootstrap-select.form-control .dropdown-toggle {
  height: 100%;
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}

.bootstrap-select.form-control-sm .dropdown-toggle,
.bootstrap-select.form-control-lg .dropdown-toggle {
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}

.bootstrap-select.form-control-sm .dropdown-toggle {
  padding: 0.25rem 0.5rem;
}

.bootstrap-select.form-control-lg .dropdown-toggle {
  padding: 0.5rem 1rem;
}

.form-inline .bootstrap-select .form-control {
  width: 100%;
}

.bootstrap-select.disabled,
.bootstrap-select > .disabled {
  cursor: not-allowed;
}

.bootstrap-select.disabled:focus,
.bootstrap-select > .disabled:focus {
  outline: none !important;
}

.bootstrap-select.bs-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 0 !important;
  padding: 0 !important;
}

.bootstrap-select.bs-container .dropdown-menu {
  z-index: 1060;
}

.bootstrap-select .dropdown-toggle .filter-option {
  position: static;
  top: 0;
  left: 0;
  float: left;
  height: 100%;
  width: 100%;
  text-align: left;
  overflow: hidden;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.bs3.bootstrap-select .dropdown-toggle .filter-option {
  padding-right: inherit;
}

.input-group .bs3-has-addon.bootstrap-select .dropdown-toggle .filter-option {
  position: absolute;
  padding-top: inherit;
  padding-bottom: inherit;
  padding-left: inherit;
  float: none;
}

.input-group .bs3-has-addon.bootstrap-select .dropdown-toggle .filter-option .filter-option-inner {
  padding-right: inherit;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  overflow: hidden;
}

.bootstrap-select .dropdown-toggle .filter-expand {
  width: 0 !important;
  float: left;
  opacity: 0 !important;
  overflow: hidden;
}

.bootstrap-select .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}

.input-group .bootstrap-select.form-control .dropdown-toggle {
  border-radius: inherit;
}

.bootstrap-select[class*=col-] .dropdown-toggle {
  width: 100%;
}

.bootstrap-select .dropdown-menu {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bootstrap-select .dropdown-menu > .inner:focus {
  outline: none !important;
}

.bootstrap-select .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bootstrap-select .dropdown-menu li {
  position: relative;
}

.bootstrap-select .dropdown-menu li.active small {
  color: rgba(255, 255, 255, 0.5) !important;
}

.bootstrap-select .dropdown-menu li.disabled a {
  cursor: not-allowed;
}

.bootstrap-select .dropdown-menu li a {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bootstrap-select .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em;
}

.bootstrap-select .dropdown-menu li a span.check-mark {
  display: none;
}

.bootstrap-select .dropdown-menu li a span.text {
  display: inline-block;
}

.bootstrap-select .dropdown-menu li small {
  padding-left: 0.5em;
}

.bootstrap-select .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bootstrap-select .dropdown-menu .notify.fadeOut {
  -webkit-animation: 300ms linear 750ms forwards bs-notify-fadeOut;
  -o-animation: 300ms linear 750ms forwards bs-notify-fadeOut;
  animation: 300ms linear 750ms forwards bs-notify-fadeOut;
}

.bootstrap-select .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
  white-space: nowrap;
}

.bootstrap-select.fit-width .dropdown-toggle .filter-option {
  position: static;
  display: inline;
  padding: 0;
}

.bootstrap-select.fit-width .dropdown-toggle .filter-option-inner,
.bootstrap-select.fit-width .dropdown-toggle .filter-option-inner-inner {
  display: inline;
}

.bootstrap-select.fit-width .dropdown-toggle .bs-caret:before {
  content: " ";
}

.bootstrap-select.fit-width .dropdown-toggle .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 5px;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}

.bootstrap-select .bs-ok-default:after {
  content: "";
  display: block;
  width: 0.5em;
  height: 1em;
  border-style: solid;
  border-width: 0 0.26em 0.26em 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle,
.bootstrap-select.show-menu-arrow.show > .dropdown-toggle {
  z-index: 1061;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle .filter-option:before {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle .filter-option:after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle .filter-option:before {
  bottom: auto;
  top: -4px;
  border-top: 7px solid rgba(204, 204, 204, 0.2);
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle .filter-option:after {
  bottom: auto;
  top: -4px;
  border-top: 6px solid white;
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle .filter-option:before {
  right: 12px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle .filter-option:after {
  right: 13px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle .filter-option:before,
.bootstrap-select.show-menu-arrow.show > .dropdown-toggle .filter-option:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle .filter-option:after,
.bootstrap-select.show-menu-arrow.show > .dropdown-toggle .filter-option:after {
  display: block;
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px;
}

.bs-actionsbox {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bs-actionsbox .btn-group button {
  width: 50%;
}

.bs-donebutton {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bs-donebutton .btn-group button {
  width: 100%;
}

.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}

.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
  float: none;
}

/*# sourceMappingURL=bootstrap-select.css.map */
.btn-sort {
  display: inline-block;
  width: 100px;
}
.btn-sort__wrap {
  width: 100% !important;
}
.btn-sort__wrap .dropdown-toggle::after {
  color: #6DDA5F;
  border-top: 0.7em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}
.btn-sort__wrap.show .dropdown-toggle::after {
  transform: scaleY(-1);
}
.btn-sort__wrap button.btn.dropdown-toggle.btn-light {
  background-color: #FFF;
  font-size: 14px;
  border-radius: 6px;
  font-weight: 300;
}
.btn-sort__wrap button.btn.dropdown-toggle.btn-light:focus {
  outline: none !important;
}
.btn-sort .dropdown-item {
  color: #4F4F4F;
  font-size: 14px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-sort .dropdown-item.active {
  color: #FFF;
  background-color: #242E3B;
}
.btn-sort .dropdown-item:hover {
  background-color: #242E3B;
  color: #FFF;
}

.submission__head {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.submission__title {
  font-size: 30px;
}
.submission__table {
  width: 100%;
  margin-top: 50px;
}
.submission__sort {
  margin-left: auto;
  font-weight: 500;
}

.custom-table tr:last-child .custom-table__body-td:first-child, .custom-table tr:last-child .custom-table__body-td--small:first-child, .custom-table tr:last-child .custom-table__body-td--muted:first-child {
  border-bottom-left-radius: 6px;
}
.custom-table tr:last-child .custom-table__body-td:last-child, .custom-table tr:last-child .custom-table__body-td--small:last-child, .custom-table tr:last-child .custom-table__body-td--muted:last-child {
  border-bottom-right-radius: 6px;
}
.custom-table__head-td {
  background-color: #242E3B;
  color: #FFF;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  padding: 20px 30px;
}
.custom-table__head-td:first-child {
  border-top-left-radius: 6px;
}
.custom-table__head-td:last-child {
  border-top-right-radius: 6px;
}
.custom-table__body-td, .custom-table__body-td--small, .custom-table__body-td--muted {
  background-color: #FFF;
  font-size: 14px;
  font-weight: 400;
  padding: 30px 30px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}
.custom-table__body-td--muted {
  font-size: 12px;
  color: #cecece;
  font-weight: 300;
}
.custom-table__body-td--small {
  font-size: 12px;
}
.custom-table__body-text {
  color: #000;
  transition: 0.1s;
  font-size: 16px;
  font-weight: 400;
}
.custom-table__body-text:hover {
  color: #6DDA5F;
  text-decoration: none;
}

.pagination-custom {
  margin: 64px auto 47px auto;
  width: 262px;
  display: flex;
  justify-content: space-between;
}
.pagination-custom__item {
  font-size: 16px;
  font-weight: 500;
  color: #4F4F4F;
  position: relative;
  z-index: 1;
  transition: 0.2s;
  width: 24px;
  height: 24px;
  text-align: center;
}
.pagination-custom__item::before {
  content: "";
  margin-top: -1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6DDA5F;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  z-index: -1;
  transition: 0.2s;
}
.pagination-custom__item:hover {
  color: #FFF;
  text-decoration: none;
}
.pagination-custom__item:hover::before {
  width: 24px;
  height: 24px;
  animation: big 0.3s ease-in-out;
}
.pagination-custom__item.active {
  color: #FFF;
}
.pagination-custom__item.active::before {
  width: 24px;
  height: 24px;
}
@keyframes big {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.custom-close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
}
.custom-close__button {
  color: #a0a0a0;
}

.modal-custom {
  padding: 40px 50px;
  border: none;
}
.modal-custom__title, .modal-custom__title--small {
  padding-top: 40px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.modal-custom__title--small {
  font-size: 26px;
}
.modal-custom__desc {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #636363;
}
.modal-custom__btn {
  font-size: 14px;
  font-weight: 400;
}
.modal-custom__footer-text {
  display: block;
  font-size: 12px;
  font-weight: 300;
  margin-top: 16px;
  color: #636363;
}
.modal-custom__footer-text:hover {
  color: #636363;
}

.account {
  margin-bottom: 52px;
}
.account__desc, .account__desc--small {
  font-size: 16px;
  font-weight: 400;
  color: #4f4f4f;
  margin-bottom: 10px;
}
.account__desc--small {
  font-size: 14px;
  color: #636363;
  margin-bottom: 38px;
}
.account__left {
  background-color: #fff;
  padding: 50px 90px;
  border-radius: 5px;
  height: 100%;
}
.account__right {
  background-color: #fff;
  padding: 50px 50px;
  border-radius: 5px;
  width: 100%;
}
.account__indicator {
  font-size: 16px;
  line-height: 25px;
  color: #6DDA5F;
  vertical-align: middle;
}
.account__indicator::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #6DDA5F;
  vertical-align: middle;
  margin-right: 10px;
}
.account__subtitle, .account__subtitle--small {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
}
.account__subtitle--small {
  font-size: 14px;
  font-weight: 300;
}
.account__date {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}
.account__time {
  font-size: 12px;
  line-height: 28px;
  color: #989898;
}

.progress-custom {
  position: relative;
  height: 25px;
  background-color: rgba(206, 206, 206, 0.2);
  border-radius: 12px;
}
.progress-custom__bar {
  background-color: #6DDA5F;
}
.progress-custom__percent {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 14px;
}

.account-setting__bg {
  padding: 80px 60px;
}

.account-navigation__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.account-navigation__item, .account-navigation__item--green {
  font-size: 16px;
  font-weight: 400;
  color: #4f4f4f;
  margin-bottom: 30px;
  position: relative;
  transition: padding-left 0.3s;
}
.account-navigation__item.active, .active.account-navigation__item--green {
  padding-left: 15px;
}
.account-navigation__item.active::before, .active.account-navigation__item--green::before {
  content: "";
  position: absolute;
  left: 0;
  width: 5px;
  height: 20px;
  background-color: #6DDA5F;
  opacity: 1;
}
.account-navigation__item:hover, .account-navigation__item--green:hover {
  text-decoration: none;
  color: inherit;
}
.account-navigation__item::before, .account-navigation__item--green::before {
  content: "";
  position: absolute;
  left: 0;
  width: 5px;
  height: 20px;
  background-color: #6DDA5F;
  transition: 0.3s;
  opacity: 0;
}
.account-navigation__item--green {
  color: #6DDA5F;
  margin-top: auto;
  margin-bottom: 0;
}

.account-info__title {
  font-size: 30px;
}
.account-info__desc {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 40px;
}
.account-info__image-wrapper {
  position: relative;
  cursor: pointer;
}
.account-info__image-wrapper::before {
  content: "\f304";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  background-color: #6DDA5F;
  border-radius: 50%;
  z-index: 1;
}
.account-info__image {
  border: none;
  padding: 0;
  position: relative;
}
.account-info__image-text {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #636363;
  margin-top: 25px;
}
.account-info__btn {
  font-size: 12px;
}

.progress-custom {
  position: relative;
  height: 25px;
  width: 100%;
  background-color: rgba(206, 206, 206, 0.3);
  border-radius: 12px;
  margin-top: 10px;
}
.progress-custom__bar {
  background-color: #6DDA5F;
  border-radius: 12px;
}
.progress-custom__percent {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 14px;
}

.overview {
  margin-bottom: 50px;
}
.overview__left {
  background-color: #fff;
  padding: 40px 90px;
  border-radius: 5px;
  height: 100%;
}
.overview__right {
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 5px;
  width: 100%;
}
.overview__title {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.overview__title-date {
  font-size: 12px;
  font-weight: 300;
  color: #636363;
}
.overview__subtitle {
  font-size: 15px;
  font-weight: 400;
}
.overview__badge {
  background-color: #32826d;
  color: #fff;
  font-size: 22px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}
.overview__badge-text {
  margin-left: 12px;
  font-size: 20px;
  font-weight: 500;
  color: #32826d;
  vertical-align: middle;
}
.overview__badge-info {
  cursor: pointer;
}
.overview__score {
  font-size: 40px;
  font-weight: 500;
  color: #6DDA5F;
}

.modal-custom__title, .modal-custom__title--small {
  padding-top: 10px;
}
.modal-custom__desc {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 30px;
}
.modal-custom__badge-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.modal-custom__badge-desc, .modal-custom__badge-desc--orange, .modal-custom__badge-desc--darkgreen, .modal-custom__badge-desc--green {
  font-size: 14px;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 0;
}
.modal-custom__badge-desc--green {
  color: #6DDA5F;
}
.modal-custom__badge-desc--darkgreen {
  color: #32826d;
}
.modal-custom__badge-desc--orange {
  color: #ffb300;
}
.modal-custom__score {
  font-size: 12px;
  color: #636363;
  font-weight: 400;
}

/*# sourceMappingURL=account.css.map */
