.nav-custom {
  margin-bottom: 0;
}

.body {
  position: relative;
  min-height: 100vh;
}
.body::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  background-image: url(../../img/chapter-opening/bg-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  width: 231px;
  height: 303px;
}

.chapter {
  position: relative;
  z-index: 2;
  padding-top: 50px;
  padding-bottom: 50px;
}
.chapter__bg {
  border-radius: 10px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 421px;
  padding: 55px;
}
.chapter__title {
  font-size: 40px;
  line-height: 60px;
  color: #242E3B;
  font-weight: 500;
}
.chapter__subtitle, .chapter__subtitle--green {
  font-size: 26px;
  line-height: 39px;
  font-weight: 500;
  color: #000;
}
.chapter__subtitle--green {
  color: #6DDA5F;
}
.chapter__desc, .chapter__desc--green {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #4f4f4f;
}
.chapter__desc--green {
  color: #6DDA5F;
}
.chapter__content.hidden {
  display: none;
}
.chapter__robot-image.hidden {
  display: none;
}
.chapter__button-container {
  position: absolute;
  right: 55px;
  bottom: 55px;
  left: 55px;
  text-align: right;
}
.chapter__next, .chapter__prev {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #6DDA5F;
  cursor: pointer;
}

/*# sourceMappingURL=chapter-opening.css.map */
