.topic {
  padding: 20px 0 20px 0;
}
.topic__title {
  width: 40%;
  transition: 0.3s;
}
.topic__progress {
  width: 15%;
  text-align: center;
}
.topic__progress-bar, .topic__progress-bar--0, .topic__progress-bar--50 {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 5px solid #6DDA5F;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #4F4F4F;
}
.topic__progress-bar--50 {
  border: 5px solid #CECECE;
  border-top: 5px solid #FFB300;
}
.topic__progress-bar--0 {
  border: 5px solid #CECECE;
}
.topic__desc {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #4F4F4F;
  width: 40%;
}
.topic__progress-text, .topic__progress-text--small {
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
  color: #4F4F4F;
  display: inline-flex;
  flex-direction: column;
}
.topic__progress-text--small {
  font-size: 12px;
}
.topic__checkbox {
  position: relative;
}
.topic__checkbox::before {
  content: "";
  font-size: 10px;
  color: #FFF;
  opacity: 1;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  border: 1px solid #707070;
  background-color: #FFF;
  transition: 0.2s;
}
.topic__checkbox::after {
  content: "";
  display: block;
  margin: auto;
  width: 6px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.topic__checkbox:checked::before {
  background-color: #6DDA5F;
  border: 1px solid #6DDA5F;
}

.topic-inner {
  margin-left: auto;
  width: 85%;
  padding: 0 0 0 5px;
}
.topic-inner__detail {
  min-height: 50px;
  display: flex;
  align-items: baseline;
}
.topic-inner__button {
  padding-left: 0;
  padding-right: 0;
  width: 25%;
}

.btn-accordion {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-accordion.collapsed .btn-accordion__icon::after {
  transform: translate(-50%, -50%) rotate(270deg);
}
.btn-accordion__icon {
  width: 30px;
  height: 30px;
  background-color: #6DDA5F;
  border-radius: 50%;
  color: #FFF;
  transition: 0.5s;
  text-align: center;
  position: relative;
}
.btn-accordion__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background-color: #FFF;
}
.btn-accordion__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background-color: #FFF;
  transition: 0.5s;
}

.btn-accordion-inner {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  text-decoration: none;
  position: relative;
}
.btn-accordion-inner.collapsed::before {
  transform: scaleY(-1);
}
.btn-accordion-inner::before {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 22px;
  order: 1;
  align-self: center;
  margin-left: auto;
  border-radius: 50%;
  color: #989898;
  transition: 0.5s;
}
.btn-accordion-inner:hover .topic__title {
  color: #6DDA5F;
}

.custom-close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
}
.custom-close__button {
  color: #a0a0a0;
}

.modal-custom {
  padding: 40px 50px;
  border: none;
}
.modal-custom__title, .modal-custom__title--small {
  padding-top: 40px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.modal-custom__title--small {
  font-size: 26px;
}
.modal-custom__desc {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #636363;
}
.modal-custom__btn {
  font-size: 14px;
  font-weight: 400;
}
.modal-custom__footer-text {
  display: block;
  font-size: 12px;
  font-weight: 300;
  margin-top: 16px;
  color: #636363;
}
.modal-custom__footer-text:hover {
  color: #636363;
}

.side-bar {
  position: fixed;
  z-index: 8;
  top: 63px;
  bottom: 0;
  right: -600px;
  width: 583px;
  padding: 30px 70px;
  background-color: #FFF;
  box-shadow: 0px 3px 6px #00000029;
  transition: 0.6s;
  overflow-y: auto;
}
.side-bar__btn-show, .side-bar__btn-close {
  cursor: pointer;
}
.side-bar__btn-show {
  position: relative;
}
.side-bar__btn-show.highlight::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -15px;
  right: -15px;
  bottom: -10px;
  border: 5px solid #6DDA5F;
  animation: blink 1.5s linear infinite;
}
.side-bar__btn-close {
  color: #CECECE;
}
.side-bar.show {
  right: 0;
}
.side-bar__head {
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-bar__title {
  font-size: 26px;
  font-weight: 500;
}
.side-bar__subtitle, .side-bar__subtitle--small {
  font-size: 16px;
  margin-bottom: 0;
  display: block;
}
.side-bar__subtitle--small {
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
}

.header-chapter {
  width: 100%;
  background-color: #FFF;
  box-shadow: 0px 3px 13px #00000029;
  padding: 14px 0 13px 0;
  position: sticky;
  top: 66px;
  z-index: 8;
}
.header-chapter__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-chapter__title {
  font-size: 26px;
  font-weight: 500;
  display: inline-block;
  padding-right: 25px;
  margin-bottom: 0;
}
.header-chapter__subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #4F4F4F;
  display: inline-block;
  margin-bottom: 0;
}
.header-chapter__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-back {
  width: 36px;
  height: 36px;
}

.topic__title {
  width: inherit;
  font-size: 14px;
  font-weight: 300;
}

.btn-green {
  font-size: 12px;
  font-weight: 400;
  padding: 7px 25px;
  align-self: center;
}

.btn-accordion-inner {
  padding: 10px 0;
}

.nav-custom {
  margin-bottom: 0;
}

.progress-bar-custom {
  position: relative;
}
.progress-bar-custom.highlight::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -30px;
  right: 0px;
  bottom: -10px;
  border: 5px solid #6DDA5F;
  animation: blink 1.5s linear infinite;
}
.progress-bar-custom__item {
  margin-right: 30px;
  display: inline-block;
  font-size: 12px;
  color: #CECECE;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: 0.3s;
}
.progress-bar-custom__item.active, .progress-bar-custom__item:hover {
  color: #FFF;
}
.progress-bar-custom__item.active::before, .progress-bar-custom__item:hover::before {
  background-color: #6DDA5F;
  border: 2px solid #6DDA5F;
}
.progress-bar-custom__item.active:not(:first-child)::after, .progress-bar-custom__item:hover:not(:first-child)::after {
  background-position: left;
}
.progress-bar-custom__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border: 2px solid #CECECE;
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s;
}
.progress-bar-custom__line {
  position: relative;
}
.progress-bar-custom__line:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -27px;
  transform: translateY(-50%);
  width: 20px;
  height: 3px;
  background: linear-gradient(to right, #6DDA5F 50%, #CECECE 50%);
  transition: 0.3s;
  background-position: right;
  background-size: 200% 100%;
}

.coding {
  height: calc(100vh - (63px + 66px));
}
.coding__left {
  height: calc(100vh - (63px + 66px));
  overflow: auto;
  background-color: #fff;
}
.coding__left.highlight {
  border: 5px solid #6DDA5F;
  animation: blink 1.5s linear infinite;
}
@keyframes blink {
  0% {
    border-color: #6DDA5F;
  }
  25% {
    border-color: #fff;
  }
  50% {
    border-color: #6DDA5F;
  }
  75% {
    border-color: #fff;
  }
  100% {
    border-color: #6DDA5F;
  }
}
.coding__left-head {
  display: flex;
}
.coding__left-title {
  padding: 8px 37px;
  background-color: #6DDA5F;
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
}
.coding__left-container {
  padding: 30px 37px;
}
.coding__left-number {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  font-size: 16px;
  color: #FFF;
  line-height: 31px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #6DDA5F;
}
.coding__left-subtitle {
  display: inline-block;
  margin-bottom: 38px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #4F4F4F;
  width: 90%;
}
.coding__left-desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #4F4F4F;
  margin-bottom: 20px;
}
.coding__left-video {
  text-align: center;
}
.coding__right {
  height: calc(100vh - (63px + 66px));
}

.editor {
  background-color: #161926;
  color: #FFF;
  display: flex;
  position: relative;
  overflow-x: hidden;
}
.editor__content {
  width: 100%;
  overflow-y: hidden;
  position: relative;
}
.editor__head {
  background-color: #242E3B;
  position: sticky;
  top: 0;
  z-index: 2;
}
.editor__head.highlight {
  border: 5px solid #6DDA5F;
  animation: blink 1.5s linear infinite;
}
.editor__head-items {
  margin: 0;
  padding: 0;
}
.editor__head-item {
  display: inline-block;
  list-style: none;
  position: relative;
  width: 120px;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.editor__head-item.active, .editor__head-item:hover {
  background-color: #32826D;
  cursor: pointer;
}
.editor__text-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - (63px + 66px + 47px + 68px));
  color: #fff;
}
.editor__text-wrapper.highlight {
  border: 5px solid #6DDA5F;
  animation: blink 1.5s linear infinite;
}
.editor__footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #242E3B;
  padding: 13px 30px;
  display: flex;
  justify-content: space-between;
}
.editor__footer-text {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  vertical-align: middle;
  line-height: 3;
}
.editor__footer-check {
  position: relative;
}
.editor__footer-check.highlight::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  border: 5px solid #6DDA5F;
  animation: blink 1.5s linear infinite;
}
.editor__sidebar {
  width: 200px;
  height: calc(100vh - (66px + 63px));
  background-color: #1D202D;
  transition: margin-left 0.3s;
  position: relative;
  flex: 0 0 200px;
}
.editor__sidebar.highlight {
  position: absolute;
  top: -8px;
  left: -30px;
  right: 0px;
  bottom: -10px;
  border: 5px solid #6DDA5F;
  animation: blink 1.5s linear infinite;
}
.editor__sidebar.hide {
  margin-left: -200px;
  color: #1D202D;
  padding: 0;
}
.editor__sidebar.hide .editor__sidebar-btn {
  color: #FFF;
  right: -16px;
}
.editor__sidebar.hide .editor__sidebar-btn .arrow-right {
  display: block !important;
}
.editor__sidebar.hide .editor__sidebar-btn .arrow-left {
  display: none;
}
.editor__sidebar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
  width: 16px;
  height: 32px;
  background-color: #2c3545;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}
.editor__sidebar-head {
  height: 47px;
  font-size: 16px;
  background-color: #242E3B;
  padding: 10px 20px;
  color: #FFF;
  vertical-align: middle;
}
.editor__sidebar-content {
  height: calc(100% - 47px - 66px - 67px);
  overflow: auto;
}
.editor__sidebar-subtitle {
  font-size: 14px;
  font-weight: 300;
  padding: 10px 20px;
  color: #6DDA5F;
  margin: 0;
}
.editor__sidebar-footer {
  background-color: #1D202D;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 20px 20px;
  padding-left: 0;
  width: 80%;
  border-top: 1px solid rgba(206, 206, 206, 0.18);
}
.editor__sidebar-footer.highlight {
  border: 5px solid #6DDA5F;
  animation: blink 1.5s linear infinite;
}

.sidebar-content {
  padding: 10px 20px;
}
.sidebar-content__folder {
  font-size: 12px;
  font-weight: 400;
  margin-top: 15px;
  color: #FFF;
  padding: 0;
  text-align: left;
  width: 100%;
}
.sidebar-content__folder.collapsed .folder-close {
  display: inline-block !important;
}
.sidebar-content__folder.collapsed .folder-open {
  display: none;
}
.sidebar-content__folder:focus {
  box-shadow: none;
}
.sidebar-content__folder:hover {
  cursor: pointer;
  color: #6DDA5F;
}
.sidebar-content__files, .sidebar-content__files--sub, .sidebar-content__subfolder {
  font-size: 10px;
  font-weight: 300;
  line-height: 28px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  color: #FFF;
  width: 100%;
  text-align: left;
}
.sidebar-content__files:focus, .sidebar-content__files--sub:focus, .sidebar-content__subfolder:focus {
  box-shadow: none;
}
.sidebar-content__files:hover, .sidebar-content__files--sub:hover, .sidebar-content__subfolder:hover {
  cursor: pointer;
  color: #6DDA5F;
}
.sidebar-content__subfolder {
  line-height: 1;
}
.sidebar-content__subfolder.collapsed .folder-close {
  display: inline-block !important;
}
.sidebar-content__subfolder.collapsed .folder-open {
  display: none;
}
.sidebar-content__files.active, .active.sidebar-content__files--sub {
  color: #6DDA5F;
}
.sidebar-content__files--sub {
  padding-left: 40px;
}

.overlay {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.overlay.show {
  visibility: visible;
  opacity: 1;
}
.overlay__icon-check {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  transition: 0.5s;
  animation: breathing 1.5s linear infinite;
}
.overlay__icon-check.show {
  visibility: visible;
  opacity: 1;
}
@keyframes breathing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.overlay__icon {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) scale(0);
  text-align: center;
  background-color: #FFF;
  border-radius: 10px;
  width: 276px;
  height: 236px;
  padding: 50px;
  color: #4F4F4F;
  transition: 0.5s;
}
.overlay__error.show, .overlay__success.show {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -60%) scale(1);
}
.overlay__icon-title {
  font-size: 20px;
  font-weight: 500;
  color: #4F4F4F;
}
.overlay__icon-desc {
  font-size: 12px;
  font-weight: 300;
  color: #636363;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #161926;
}

.ace-tomorrow-night-bright .ace_gutter {
  background: #161926;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242e3b;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c4a5e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #556a88;
}

.robot-overlay {
  position: absolute;
  z-index: 5;
  top: 129px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
}
.robot-overlay.hidden {
  visibility: hidden;
  opacity: 0;
}
.robot-overlay__image {
  position: absolute;
}
.robot-overlay__image.opening {
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.robot-overlay__image.first {
  bottom: 50px;
  left: 40%;
}
.robot-overlay__image.second {
  top: 10%;
  left: 65%;
}
.robot-overlay__image.third {
  top: 10%;
  left: 75%;
}
.robot-overlay__image.fourth {
  top: 30%;
  left: 50%;
}
.robot-overlay__image.fifth {
  bottom: 15%;
  left: 40%;
}
.robot-overlay__image.sixth {
  top: 40%;
  left: 40%;
}
.robot-overlay__image.eighth {
  top: 15%;
  right: 20%;
}
.robot-overlay__image.ninth {
  bottom: 50px;
  right: 12%;
}
.robot-overlay__text, .robot-overlay__text--small {
  position: absolute;
  top: 0;
  right: -400px;
  background-color: #fff;
  border-radius: 6px;
  padding: 35px 40px;
  max-width: 373px;
}
.robot-overlay__text.opening, .opening.robot-overlay__text--small {
  top: -10px;
  right: -300px;
}
.robot-overlay__text.opening::before, .opening.robot-overlay__text--small::before {
  content: "";
  position: absolute;
  top: 145px;
  left: -15px;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-right: 15px solid #fff;
}
.robot-overlay__text--small {
  padding: 35px 20px;
  max-width: 320px;
}
.robot-overlay__text--small.first {
  top: -250px;
  left: 0;
}
.robot-overlay__text--small.first::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 15%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-top: 15px solid #fff;
  border-right: 15px solid transparent;
}
.robot-overlay__text--small.second {
  top: -35px;
  left: -350px;
}
.robot-overlay__text--small.second::before {
  content: "";
  position: absolute;
  top: 70px;
  right: -15px;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-left: 15px solid #fff;
}
.robot-overlay__text--small.third {
  top: -35px;
  left: -350px;
}
.robot-overlay__text--small.third::before {
  content: "";
  position: absolute;
  top: 70px;
  right: -15px;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-left: 15px solid #fff;
}
.robot-overlay__text--small.fourth {
  top: -35px;
  right: -350px;
}
.robot-overlay__text--small.fourth::before {
  content: "";
  position: absolute;
  top: 70px;
  left: -15px;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-right: 15px solid #fff;
}
.robot-overlay__text--small.fifth {
  top: -35px;
  left: -350px;
}
.robot-overlay__text--small.fifth::before {
  content: "";
  position: absolute;
  top: 70px;
  right: -15px;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-left: 15px solid #fff;
}
.robot-overlay__text--small.sixth {
  top: -35px;
  left: -350px;
}
.robot-overlay__text--small.sixth::before {
  content: "";
  position: absolute;
  top: 70px;
  right: -15px;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-left: 15px solid #fff;
}
.robot-overlay__text--small.eighth {
  top: -35px;
  left: -350px;
}
.robot-overlay__text--small.eighth::before {
  content: "";
  position: absolute;
  top: 70px;
  right: -15px;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-left: 15px solid #fff;
}
.robot-overlay__text--small.ninth {
  top: -250px;
  left: -150px;
}
.robot-overlay__text--small.ninth::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 63%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-top: 15px solid #fff;
  border-right: 15px solid transparent;
}
.robot-overlay__title, .robot-overlay__title--small {
  font-size: 21px;
  font-weight: 500;
  color: #6DDA5F;
  line-height: 31px;
}
.robot-overlay__title--small {
  font-size: 16px;
}
.robot-overlay__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #636363;
}
.robot-overlay__info {
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
}
.robot-overlay__number {
  font-size: 14px;
  font-weight: 300;
  color: #989898;
}
.robot-overlay__next, .robot-overlay__next--small, .robot-overlay__prev--small, .robot-overlay__prev {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  color: #6DDA5F;
  cursor: pointer;
  padding: 0;
}
.robot-overlay__next--small, .robot-overlay__prev--small {
  padding: 0;
  font-size: 14px;
}
.robot-overlay__next:hover, .robot-overlay__next--small:hover, .robot-overlay__prev--small:hover, .robot-overlay__prev:hover {
  color: #6DDA5F;
  text-decoration: none;
}
.robot-overlay__prev--small {
  margin-left: auto;
  margin-right: 10px;
}
.robot-overlay__close {
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 1;
  color: #707070;
  cursor: pointer;
}

/*# sourceMappingURL=coding-practice.css.map */
