/*=======================================================*/
/*                                                       */
/* Timedoor CSS Preset Library                           */
/* v. 2.0 - 28 December 2020                             */
/*                                                       */
/*=======================================================*/
/*                                                       */
/* Table of Content                                      */
/*                                                       */
/* COL 20% ------------------------------------- [COL20] */
/* EFFECT ------------------------------------- [EFFECT] */
/* SPACING ------------------------------------- [SPACE] */
/* FONT SIZE ------------------------------------ [FONT] */
/*                                                       */
/*=======================================================*/
/*=======================================================*/
/* COL 20% ------------------------------------- [COL20] */
/*=======================================================*/
.col-20 {
  flex: 0 0 20%;
  max-width: 20%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .col-sm-20 {
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .col-md-20 {
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 992px) {
  .col-lg-20 {
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .col-xl-20 {
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*=======================================================*/
/* EFFECT ------------------------------------- [EFFECT] */
/*=======================================================*/
.effect, .effect--shimmer, .effect--ripple {
  position: relative;
  overflow: hidden;
}
.effect--shimmer:before {
  content: "";
  position: absolute;
  z-index: 25;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ddd;
}
.effect--shimmer:after {
  content: "";
  position: absolute;
  z-index: 25;
  top: -25%;
  width: 25px;
  height: 150%;
  background-color: rgba(255, 255, 255, 0.6);
  animation: shimmer 1s;
  animation-iteration-count: infinite;
  transform: rotate(15deg);
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes shimmer {
  from {
    left: -25%;
  }
  to {
    left: 125%;
  }
}
.ripple-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  pointer-events: none;
  overflow: hidden;
}

.ripple-effect {
  margin-top: 0px;
  margin-left: 0px;
  width: 1px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  pointer-events: none;
}

.ripple-effect.light {
  background-color: rgba(255, 255, 255, 0.15);
}

.ripple-effect.dark {
  background-color: rgba(0, 0, 0, 0.1);
}

/*=======================================================*/
/* SPACING ------------------------------------- [SPACE] */
/*=======================================================*/
.m-0px {
  margin: 0px !important;
}

.p-0px {
  padding: 0px !important;
}

.m-5px {
  margin: 5px !important;
}

.p-5px {
  padding: 5px !important;
}

.m-10px {
  margin: 10px !important;
}

.p-10px {
  padding: 10px !important;
}

.m-15px {
  margin: 15px !important;
}

.p-15px {
  padding: 15px !important;
}

.m-20px {
  margin: 20px !important;
}

.p-20px {
  padding: 20px !important;
}

.m-25px {
  margin: 25px !important;
}

.p-25px {
  padding: 25px !important;
}

.m-30px {
  margin: 30px !important;
}

.p-30px {
  padding: 30px !important;
}

.m-35px {
  margin: 35px !important;
}

.p-35px {
  padding: 35px !important;
}

.m-40px {
  margin: 40px !important;
}

.p-40px {
  padding: 40px !important;
}

.m-45px {
  margin: 45px !important;
}

.p-45px {
  padding: 45px !important;
}

.m-50px {
  margin: 50px !important;
}

.p-50px {
  padding: 50px !important;
}

.m-55px {
  margin: 55px !important;
}

.p-55px {
  padding: 55px !important;
}

.m-60px {
  margin: 60px !important;
}

.p-60px {
  padding: 60px !important;
}

.m-65px {
  margin: 65px !important;
}

.p-65px {
  padding: 65px !important;
}

.m-70px {
  margin: 70px !important;
}

.p-70px {
  padding: 70px !important;
}

.m-75px {
  margin: 75px !important;
}

.p-75px {
  padding: 75px !important;
}

.m-80px {
  margin: 80px !important;
}

.p-80px {
  padding: 80px !important;
}

.m-85px {
  margin: 85px !important;
}

.p-85px {
  padding: 85px !important;
}

.m-90px {
  margin: 90px !important;
}

.p-90px {
  padding: 90px !important;
}

.m-95px {
  margin: 95px !important;
}

.p-95px {
  padding: 95px !important;
}

.m-100px {
  margin: 100px !important;
}

.p-100px {
  padding: 100px !important;
}

.mx-0px {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.px-0px {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.mx-5px {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.px-5px {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.mx-10px {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.px-10px {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.mx-15px {
  margin-right: 15px !important;
  margin-left: 15px !important;
}

.px-15px {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.mx-20px {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.px-20px {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.mx-25px {
  margin-right: 25px !important;
  margin-left: 25px !important;
}

.px-25px {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.mx-30px {
  margin-right: 30px !important;
  margin-left: 30px !important;
}

.px-30px {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.mx-35px {
  margin-right: 35px !important;
  margin-left: 35px !important;
}

.px-35px {
  padding-right: 35px !important;
  padding-left: 35px !important;
}

.mx-40px {
  margin-right: 40px !important;
  margin-left: 40px !important;
}

.px-40px {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.mx-45px {
  margin-right: 45px !important;
  margin-left: 45px !important;
}

.px-45px {
  padding-right: 45px !important;
  padding-left: 45px !important;
}

.mx-50px {
  margin-right: 50px !important;
  margin-left: 50px !important;
}

.px-50px {
  padding-right: 50px !important;
  padding-left: 50px !important;
}

.mx-55px {
  margin-right: 55px !important;
  margin-left: 55px !important;
}

.px-55px {
  padding-right: 55px !important;
  padding-left: 55px !important;
}

.mx-60px {
  margin-right: 60px !important;
  margin-left: 60px !important;
}

.px-60px {
  padding-right: 60px !important;
  padding-left: 60px !important;
}

.mx-65px {
  margin-right: 65px !important;
  margin-left: 65px !important;
}

.px-65px {
  padding-right: 65px !important;
  padding-left: 65px !important;
}

.mx-70px {
  margin-right: 70px !important;
  margin-left: 70px !important;
}

.px-70px {
  padding-right: 70px !important;
  padding-left: 70px !important;
}

.mx-75px {
  margin-right: 75px !important;
  margin-left: 75px !important;
}

.px-75px {
  padding-right: 75px !important;
  padding-left: 75px !important;
}

.mx-80px {
  margin-right: 80px !important;
  margin-left: 80px !important;
}

.px-80px {
  padding-right: 80px !important;
  padding-left: 80px !important;
}

.mx-85px {
  margin-right: 85px !important;
  margin-left: 85px !important;
}

.px-85px {
  padding-right: 85px !important;
  padding-left: 85px !important;
}

.mx-90px {
  margin-right: 90px !important;
  margin-left: 90px !important;
}

.px-90px {
  padding-right: 90px !important;
  padding-left: 90px !important;
}

.mx-95px {
  margin-right: 95px !important;
  margin-left: 95px !important;
}

.px-95px {
  padding-right: 95px !important;
  padding-left: 95px !important;
}

.mx-100px {
  margin-right: 100px !important;
  margin-left: 100px !important;
}

.px-100px {
  padding-right: 100px !important;
  padding-left: 100px !important;
}

.my-0px {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.py-0px {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.my-5px {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.py-5px {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.my-10px {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.py-10px {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.my-15px {
  margin-right: 15px !important;
  margin-left: 15px !important;
}

.py-15px {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.my-20px {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.py-20px {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.my-25px {
  margin-right: 25px !important;
  margin-left: 25px !important;
}

.py-25px {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.my-30px {
  margin-right: 30px !important;
  margin-left: 30px !important;
}

.py-30px {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.my-35px {
  margin-right: 35px !important;
  margin-left: 35px !important;
}

.py-35px {
  padding-right: 35px !important;
  padding-left: 35px !important;
}

.my-40px {
  margin-right: 40px !important;
  margin-left: 40px !important;
}

.py-40px {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.my-45px {
  margin-right: 45px !important;
  margin-left: 45px !important;
}

.py-45px {
  padding-right: 45px !important;
  padding-left: 45px !important;
}

.my-50px {
  margin-right: 50px !important;
  margin-left: 50px !important;
}

.py-50px {
  padding-right: 50px !important;
  padding-left: 50px !important;
}

.my-55px {
  margin-right: 55px !important;
  margin-left: 55px !important;
}

.py-55px {
  padding-right: 55px !important;
  padding-left: 55px !important;
}

.my-60px {
  margin-right: 60px !important;
  margin-left: 60px !important;
}

.py-60px {
  padding-right: 60px !important;
  padding-left: 60px !important;
}

.my-65px {
  margin-right: 65px !important;
  margin-left: 65px !important;
}

.py-65px {
  padding-right: 65px !important;
  padding-left: 65px !important;
}

.my-70px {
  margin-right: 70px !important;
  margin-left: 70px !important;
}

.py-70px {
  padding-right: 70px !important;
  padding-left: 70px !important;
}

.my-75px {
  margin-right: 75px !important;
  margin-left: 75px !important;
}

.py-75px {
  padding-right: 75px !important;
  padding-left: 75px !important;
}

.my-80px {
  margin-right: 80px !important;
  margin-left: 80px !important;
}

.py-80px {
  padding-right: 80px !important;
  padding-left: 80px !important;
}

.my-85px {
  margin-right: 85px !important;
  margin-left: 85px !important;
}

.py-85px {
  padding-right: 85px !important;
  padding-left: 85px !important;
}

.my-90px {
  margin-right: 90px !important;
  margin-left: 90px !important;
}

.py-90px {
  padding-right: 90px !important;
  padding-left: 90px !important;
}

.my-95px {
  margin-right: 95px !important;
  margin-left: 95px !important;
}

.py-95px {
  padding-right: 95px !important;
  padding-left: 95px !important;
}

.my-100px {
  margin-right: 100px !important;
  margin-left: 100px !important;
}

.py-100px {
  padding-right: 100px !important;
  padding-left: 100px !important;
}

.mt-0px {
  margin-top: 0px !important;
}

.pt-0px {
  padding-top: 0px !important;
}

.mt-5px {
  margin-top: 5px !important;
}

.pt-5px {
  padding-top: 5px !important;
}

.mt-10px {
  margin-top: 10px !important;
}

.pt-10px {
  padding-top: 10px !important;
}

.mt-15px {
  margin-top: 15px !important;
}

.pt-15px {
  padding-top: 15px !important;
}

.mt-20px {
  margin-top: 20px !important;
}

.pt-20px {
  padding-top: 20px !important;
}

.mt-25px {
  margin-top: 25px !important;
}

.pt-25px {
  padding-top: 25px !important;
}

.mt-30px {
  margin-top: 30px !important;
}

.pt-30px {
  padding-top: 30px !important;
}

.mt-35px {
  margin-top: 35px !important;
}

.pt-35px {
  padding-top: 35px !important;
}

.mt-40px {
  margin-top: 40px !important;
}

.pt-40px {
  padding-top: 40px !important;
}

.mt-45px {
  margin-top: 45px !important;
}

.pt-45px {
  padding-top: 45px !important;
}

.mt-50px {
  margin-top: 50px !important;
}

.pt-50px {
  padding-top: 50px !important;
}

.mt-55px {
  margin-top: 55px !important;
}

.pt-55px {
  padding-top: 55px !important;
}

.mt-60px {
  margin-top: 60px !important;
}

.pt-60px {
  padding-top: 60px !important;
}

.mt-65px {
  margin-top: 65px !important;
}

.pt-65px {
  padding-top: 65px !important;
}

.mt-70px {
  margin-top: 70px !important;
}

.pt-70px {
  padding-top: 70px !important;
}

.mt-75px {
  margin-top: 75px !important;
}

.pt-75px {
  padding-top: 75px !important;
}

.mt-80px {
  margin-top: 80px !important;
}

.pt-80px {
  padding-top: 80px !important;
}

.mt-85px {
  margin-top: 85px !important;
}

.pt-85px {
  padding-top: 85px !important;
}

.mt-90px {
  margin-top: 90px !important;
}

.pt-90px {
  padding-top: 90px !important;
}

.mt-95px {
  margin-top: 95px !important;
}

.pt-95px {
  padding-top: 95px !important;
}

.mt-100px {
  margin-top: 100px !important;
}

.pt-100px {
  padding-top: 100px !important;
}

.mr-0px {
  margin-right: 0px !important;
}

.pr-0px {
  padding-right: 0px !important;
}

.mr-5px {
  margin-right: 5px !important;
}

.pr-5px {
  padding-right: 5px !important;
}

.mr-10px {
  margin-right: 10px !important;
}

.pr-10px {
  padding-right: 10px !important;
}

.mr-15px {
  margin-right: 15px !important;
}

.pr-15px {
  padding-right: 15px !important;
}

.mr-20px {
  margin-right: 20px !important;
}

.pr-20px {
  padding-right: 20px !important;
}

.mr-25px {
  margin-right: 25px !important;
}

.pr-25px {
  padding-right: 25px !important;
}

.mr-30px {
  margin-right: 30px !important;
}

.pr-30px {
  padding-right: 30px !important;
}

.mr-35px {
  margin-right: 35px !important;
}

.pr-35px {
  padding-right: 35px !important;
}

.mr-40px {
  margin-right: 40px !important;
}

.pr-40px {
  padding-right: 40px !important;
}

.mr-45px {
  margin-right: 45px !important;
}

.pr-45px {
  padding-right: 45px !important;
}

.mr-50px {
  margin-right: 50px !important;
}

.pr-50px {
  padding-right: 50px !important;
}

.mr-55px {
  margin-right: 55px !important;
}

.pr-55px {
  padding-right: 55px !important;
}

.mr-60px {
  margin-right: 60px !important;
}

.pr-60px {
  padding-right: 60px !important;
}

.mr-65px {
  margin-right: 65px !important;
}

.pr-65px {
  padding-right: 65px !important;
}

.mr-70px {
  margin-right: 70px !important;
}

.pr-70px {
  padding-right: 70px !important;
}

.mr-75px {
  margin-right: 75px !important;
}

.pr-75px {
  padding-right: 75px !important;
}

.mr-80px {
  margin-right: 80px !important;
}

.pr-80px {
  padding-right: 80px !important;
}

.mr-85px {
  margin-right: 85px !important;
}

.pr-85px {
  padding-right: 85px !important;
}

.mr-90px {
  margin-right: 90px !important;
}

.pr-90px {
  padding-right: 90px !important;
}

.mr-95px {
  margin-right: 95px !important;
}

.pr-95px {
  padding-right: 95px !important;
}

.mr-100px {
  margin-right: 100px !important;
}

.pr-100px {
  padding-right: 100px !important;
}

.mb-0px {
  margin-bottom: 0px !important;
}

.pb-0px {
  padding-bottom: 0px !important;
}

.mb-5px {
  margin-bottom: 5px !important;
}

.pb-5px {
  padding-bottom: 5px !important;
}

.mb-10px {
  margin-bottom: 10px !important;
}

.pb-10px {
  padding-bottom: 10px !important;
}

.mb-15px {
  margin-bottom: 15px !important;
}

.pb-15px {
  padding-bottom: 15px !important;
}

.mb-20px {
  margin-bottom: 20px !important;
}

.pb-20px {
  padding-bottom: 20px !important;
}

.mb-25px {
  margin-bottom: 25px !important;
}

.pb-25px {
  padding-bottom: 25px !important;
}

.mb-30px {
  margin-bottom: 30px !important;
}

.pb-30px {
  padding-bottom: 30px !important;
}

.mb-35px {
  margin-bottom: 35px !important;
}

.pb-35px {
  padding-bottom: 35px !important;
}

.mb-40px {
  margin-bottom: 40px !important;
}

.pb-40px {
  padding-bottom: 40px !important;
}

.mb-45px {
  margin-bottom: 45px !important;
}

.pb-45px {
  padding-bottom: 45px !important;
}

.mb-50px {
  margin-bottom: 50px !important;
}

.pb-50px {
  padding-bottom: 50px !important;
}

.mb-55px {
  margin-bottom: 55px !important;
}

.pb-55px {
  padding-bottom: 55px !important;
}

.mb-60px {
  margin-bottom: 60px !important;
}

.pb-60px {
  padding-bottom: 60px !important;
}

.mb-65px {
  margin-bottom: 65px !important;
}

.pb-65px {
  padding-bottom: 65px !important;
}

.mb-70px {
  margin-bottom: 70px !important;
}

.pb-70px {
  padding-bottom: 70px !important;
}

.mb-75px {
  margin-bottom: 75px !important;
}

.pb-75px {
  padding-bottom: 75px !important;
}

.mb-80px {
  margin-bottom: 80px !important;
}

.pb-80px {
  padding-bottom: 80px !important;
}

.mb-85px {
  margin-bottom: 85px !important;
}

.pb-85px {
  padding-bottom: 85px !important;
}

.mb-90px {
  margin-bottom: 90px !important;
}

.pb-90px {
  padding-bottom: 90px !important;
}

.mb-95px {
  margin-bottom: 95px !important;
}

.pb-95px {
  padding-bottom: 95px !important;
}

.mb-100px {
  margin-bottom: 100px !important;
}

.pb-100px {
  padding-bottom: 100px !important;
}

.ml-0px {
  margin-left: 0px !important;
}

.pl-0px {
  padding-left: 0px !important;
}

.ml-5px {
  margin-left: 5px !important;
}

.pl-5px {
  padding-left: 5px !important;
}

.ml-10px {
  margin-left: 10px !important;
}

.pl-10px {
  padding-left: 10px !important;
}

.ml-15px {
  margin-left: 15px !important;
}

.pl-15px {
  padding-left: 15px !important;
}

.ml-20px {
  margin-left: 20px !important;
}

.pl-20px {
  padding-left: 20px !important;
}

.ml-25px {
  margin-left: 25px !important;
}

.pl-25px {
  padding-left: 25px !important;
}

.ml-30px {
  margin-left: 30px !important;
}

.pl-30px {
  padding-left: 30px !important;
}

.ml-35px {
  margin-left: 35px !important;
}

.pl-35px {
  padding-left: 35px !important;
}

.ml-40px {
  margin-left: 40px !important;
}

.pl-40px {
  padding-left: 40px !important;
}

.ml-45px {
  margin-left: 45px !important;
}

.pl-45px {
  padding-left: 45px !important;
}

.ml-50px {
  margin-left: 50px !important;
}

.pl-50px {
  padding-left: 50px !important;
}

.ml-55px {
  margin-left: 55px !important;
}

.pl-55px {
  padding-left: 55px !important;
}

.ml-60px {
  margin-left: 60px !important;
}

.pl-60px {
  padding-left: 60px !important;
}

.ml-65px {
  margin-left: 65px !important;
}

.pl-65px {
  padding-left: 65px !important;
}

.ml-70px {
  margin-left: 70px !important;
}

.pl-70px {
  padding-left: 70px !important;
}

.ml-75px {
  margin-left: 75px !important;
}

.pl-75px {
  padding-left: 75px !important;
}

.ml-80px {
  margin-left: 80px !important;
}

.pl-80px {
  padding-left: 80px !important;
}

.ml-85px {
  margin-left: 85px !important;
}

.pl-85px {
  padding-left: 85px !important;
}

.ml-90px {
  margin-left: 90px !important;
}

.pl-90px {
  padding-left: 90px !important;
}

.ml-95px {
  margin-left: 95px !important;
}

.pl-95px {
  padding-left: 95px !important;
}

.ml-100px {
  margin-left: 100px !important;
}

.pl-100px {
  padding-left: 100px !important;
}

/*=======================================================*/
/* FONT SIZE ------------------------------------ [FONT] */
/*=======================================================*/
.font8 {
  font-size: 8px !important;
}

.font10 {
  font-size: 10px !important;
}

.font12 {
  font-size: 12px !important;
}

.font14 {
  font-size: 14px !important;
}

.font16 {
  font-size: 16px !important;
}

.font18 {
  font-size: 18px !important;
}

.font20 {
  font-size: 20px !important;
}

.font22 {
  font-size: 22px !important;
}

.font24 {
  font-size: 24px !important;
}

.font26 {
  font-size: 26px !important;
}

.font28 {
  font-size: 28px !important;
}

.font30 {
  font-size: 30px !important;
}

.font32 {
  font-size: 32px !important;
}

.font34 {
  font-size: 34px !important;
}

.font36 {
  font-size: 36px !important;
}

.font38 {
  font-size: 38px !important;
}

.font40 {
  font-size: 40px !important;
}

.font42 {
  font-size: 42px !important;
}

.font44 {
  font-size: 44px !important;
}

.font46 {
  font-size: 46px !important;
}

.font48 {
  font-size: 48px !important;
}

.font50 {
  font-size: 50px !important;
}

.font52 {
  font-size: 52px !important;
}

.font54 {
  font-size: 54px !important;
}

.font56 {
  font-size: 56px !important;
}

.font58 {
  font-size: 58px !important;
}

.font60 {
  font-size: 60px !important;
}

.font62 {
  font-size: 62px !important;
}

.font64 {
  font-size: 64px !important;
}

.font66 {
  font-size: 66px !important;
}

.font68 {
  font-size: 68px !important;
}

.font70 {
  font-size: 70px !important;
}

.font72 {
  font-size: 72px !important;
}

.body-subscribe {
  position: relative;
}
.body-subscribe::before {
  content: "";
  position: absolute;
  top: 66px;
  right: 0;
  background-image: url(../../img/subscription-course/bg-top-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 349px;
  height: 421px;
}
@media (max-width: 425px) {
  .body-subscribe::before {
    width: 157px;
    height: 230px;
  }
}
@media (max-width: 320px) {
  .body-subscribe::before {
    width: 149px;
    height: 221px;
  }
}

.nav-custom {
  margin-bottom: 0;
}

.section {
  padding: 70px 0;
}
.section__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  color: #000;
}
.section__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 38px;
  color: #4f4f4f;
}
@media (max-width: 425px) {
  .section {
    padding: 50px 0;
    padding-top: 0;
  }
  .section__title {
    font-size: 34px;
    line-height: 51px;
  }
  .section__desc {
    font-size: 14px;
    line-height: 36px;
  }
}

.heading {
  padding: 20px 0;
  padding-top: 60px;
}
.heading__title, .heading__title--green {
  font-size: 50px;
  font-weight: 600;
  line-height: 76px;
  color: #000;
}
.heading__title--green {
  color: #6DDA5F;
}
@media (max-width: 425px) {
  .heading {
    padding-top: 20px;
  }
  .heading__title, .heading__title--green {
    font-size: 34px;
    line-height: 50px;
  }
}

.mentor {
  position: relative;
}
.mentor::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  background-image: url(../../img/subscription-course/green-dot-3x7.svg);
  background-repeat: no-repeat;
  width: 59px;
  height: 159px;
}
@media (max-width: 768px) {
  .mentor {
    padding-top: 0;
  }
  .mentor__title {
    margin-top: 50px;
  }
}

.how-to {
  position: relative;
  overflow: hidden;
}
.how-to__subtitle {
  font-size: 26px;
  line-height: 39px;
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
}
.how-to__desc {
  line-height: 28px;
}

.curriculum__desc {
  margin-bottom: 20px;
  line-height: 28px;
}

.schedule {
  position: relative;
}
.schedule::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 10px;
  background-image: url(../../img/subscription-course/green-dot-border-3x10.svg);
  background-repeat: no-repeat;
  width: 82px;
  height: 250px;
}
.schedule__title {
  text-align: center;
  margin-bottom: 35px;
}
.schedule__subtitle {
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
  color: #000;
}
.schedule__recomend-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #6DDA5F;
}
.schedule__image-container {
  position: relative;
}
.schedule__dot {
  line-height: 28px;
  margin-right: 10px;
}
.schedule__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4f4f4f;
  display: flex;
}
.schedule__btn-dark, .schedule__btn-grey {
  background-color: #242E3B;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  padding: 6px 0;
}
.schedule__btn-dark:hover, .schedule__btn-grey:hover {
  color: #fff;
}
.schedule__btn-grey {
  background-color: #3E4F66;
}

.subscribe {
  position: relative;
}
.subscribe::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -150px;
  left: -100px;
  background-color: #FAFAFA;
  border-radius: 50%;
  max-width: 446px;
  width: 100%;
  height: 446px;
}
.subscribe::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -250px;
  left: 25px;
  background-color: #FAFAFA;
  border-radius: 50%;
  width: 66px;
  height: 66px;
}
.subscribe__title {
  margin-bottom: 85px;
  text-align: center;
}
.subscribe__title::before {
  content: "";
  position: absolute;
  top: 15%;
  right: 10px;
  width: 89px;
  height: 180px;
  background-image: url(../../img/subscription-course/green-dot-4x6.svg);
  background-repeat: no-repeat;
}
.subscribe__image {
  text-align: center;
  padding-bottom: 50px;
}
.subscribe__step-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #4f4f4f;
  padding: 0 10%;
}
.subscribe__step-desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #4f4f4f;
  padding: 0 10%;
}
@media (max-width: 768px) {
  .subscribe {
    text-align: center;
  }
  .subscribe__image {
    padding-bottom: 30px;
  }
  .subscribe__step-desc {
    margin-bottom: 50px;
  }
}

.payment {
  position: relative;
}
.payment::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 10px;
  background-image: url(../../img/subscription-course/green-dot-border-2x10.svg);
  background-repeat: no-repeat;
  width: 80px;
  height: 265px;
}
.payment__desc {
  line-height: 28px;
  margin-bottom: 60px;
}
.payment__image {
  text-align: center;
}
.payment__choices {
  margin-bottom: 50px;
}
.payment__choices-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 28px;
  color: #4f4f4f;
  margin-bottom: 10px;
}
.payment__choices-item::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #3B567A;
  border-radius: 50%;
  margin-right: 10px;
}
.payment__best-deal {
  vertical-align: bottom;
}
.payment__price-container {
  margin-bottom: 30px;
}
.payment__price, .payment__price--month, .payment__price--small {
  font-size: 48px;
  font-weight: 400;
  color: #242E3B;
  display: inline-block;
}
.payment__price--small {
  font-size: 28px;
}
.payment__price--month {
  font-size: 20px;
}
.payment__btn, .payment__btn--border {
  font-size: 16px;
  color: #fff;
  line-height: 32px;
  font-weight: 500;
  width: 100%;
  background-color: #6DDA5F;
}
.payment__btn--border {
  color: #6DDA5F;
  background: #fff;
  border: 1px solid #6DDA5F;
}
@media (max-width: 425px) {
  .payment__desc {
    margin-bottom: 30px;
  }
  .payment__choices {
    margin-bottom: 20px;
  }
  .payment__price--month {
    font-size: 16px;
    display: block;
  }
}

.faq {
  padding: 50px 0;
  background-color: #242E3B;
  position: relative;
}
.faq::before {
  content: "";
  width: 50px;
  height: 290px;
  background-image: url(../../img/subscription-course/green-dot-border-2x10.svg);
  position: absolute;
  top: 20%;
  left: 0px;
}
.faq__title {
  color: #fff;
  text-align: center;
  margin-bottom: 65px;
}
.faq__accordion {
  margin-bottom: 50px;
}
.faq__accordion-title {
  font-size: 20px;
  line-height: 30px;
  padding: 0;
  font-weight: 600;
  color: #6DDA5F;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.faq__accordion-title:focus, .faq__accordion-title:active, .faq__accordion-title:hover {
  color: #6DDA5F;
  box-shadow: none;
}
.faq__accordion-title.collapsed .faq__accordion-icon::after {
  transform: translate(-50%, -50%) rotate(270deg);
}
.faq__accordion-icon {
  flex: 0 0 23px;
  width: 23px;
  height: 23px;
  background-color: #6DDA5F;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease 0s;
  position: relative;
}
.faq__accordion-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background-color: #fff;
}
.faq__accordion-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background-color: #fff;
  transition: 0.5s;
}
.faq__accordion-body {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #fff;
  padding: 10px 0;
  max-width: 95%;
}
.faq__divider {
  border-color: #fff;
  opacity: 0.3;
  margin: 25px 0;
}
@media (max-width: 768px) {
  .faq::before {
    content: unset;
  }
}

.terms__title {
  text-align: center;
  margin-bottom: 26px;
}
.terms__desc {
  text-align: center;
  line-height: 28px;
  margin-bottom: 30px;
}
.terms__btn {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #6DDA5F;
  padding: 12px 30px;
}
@media (max-width: 425px) {
  .terms {
    padding-bottom: 100px;
  }
}

.contact {
  position: relative;
}
.contact::before {
  content: "";
  background-image: url(../../img/subscription-course/green-dot-border-2x10.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 265px;
  position: absolute;
  top: -120px;
  right: 10px;
}
.contact__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4f4f4f;
  display: flex;
}

.footer {
  padding-bottom: 20px;
  position: relative;
}
.footer::before {
  content: "";
  background-image: url(../../img/subscription-course/bg-bottom-left.svg);
  background-repeat: no-repeat;
  width: 211px;
  height: 254px;
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: 0;
}
.footer__text {
  font-size: 12px;
  font-weight: 300;
  line-height: 28px;
  color: #636363;
  opacity: 0.6;
}
@media (max-width: 768px) {
  .footer::before {
    content: unset;
  }
}

/*# sourceMappingURL=course-subscription.css.map */
