@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:700);
.topic {
  padding: 20px 0 20px 0;
}
.topic__title {
  width: 40%;
  transition: 0.3s;
}
.topic__progress {
  width: 15%;
  text-align: center;
}
.topic__progress-bar, .topic__progress-bar--0, .topic__progress-bar--50 {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 5px solid #6DDA5F;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #4F4F4F;
}
.topic__progress-bar--50 {
  border: 5px solid #CECECE;
  border-top: 5px solid #FFB300;
}
.topic__progress-bar--0 {
  border: 5px solid #CECECE;
}
.topic__desc {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #4F4F4F;
  width: 40%;
}
.topic__progress-text, .topic__progress-text--small {
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
  color: #4F4F4F;
  display: inline-flex;
  flex-direction: column;
}
.topic__progress-text--small {
  font-size: 12px;
}
.topic__checkbox {
  position: relative;
}
.topic__checkbox::before {
  content: "";
  font-size: 10px;
  color: #FFF;
  opacity: 1;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  border: 1px solid #707070;
  background-color: #FFF;
  transition: 0.2s;
}
.topic__checkbox::after {
  content: "";
  display: block;
  margin: auto;
  width: 6px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.topic__checkbox:checked::before {
  background-color: #6DDA5F;
  border: 1px solid #6DDA5F;
}

.topic-inner {
  margin-left: auto;
  width: 85%;
  padding: 0 0 0 5px;
}
.topic-inner__detail {
  min-height: 50px;
  display: flex;
  align-items: baseline;
}
.topic-inner__button {
  padding-left: 0;
  padding-right: 0;
  width: 25%;
}

.btn-accordion {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-accordion.collapsed .btn-accordion__icon::after {
  transform: translate(-50%, -50%) rotate(270deg);
}
.btn-accordion__icon {
  width: 30px;
  height: 30px;
  background-color: #6DDA5F;
  border-radius: 50%;
  color: #FFF;
  transition: 0.5s;
  text-align: center;
  position: relative;
}
.btn-accordion__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background-color: #FFF;
}
.btn-accordion__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background-color: #FFF;
  transition: 0.5s;
}

.btn-accordion-inner {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  text-decoration: none;
  position: relative;
}
.btn-accordion-inner.collapsed::before {
  transform: scaleY(-1);
}
.btn-accordion-inner::before {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 22px;
  order: 1;
  align-self: center;
  margin-left: auto;
  border-radius: 50%;
  color: #989898;
  transition: 0.5s;
}
.btn-accordion-inner:hover .topic__title {
  color: #6DDA5F;
}

.set-size {
  font-size: 16PX;
}

.charts-container:after {
  clear: both;
  content: "";
  display: table;
}

.pie-wrapper {
  height: 52PX;
  width: 52PX;
  position: relative;
  display: inline-block;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 52PX, 52PX, 26PX);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 5.2PX solid #3498db;
  border-radius: 50%;
  clip: rect(0, 26PX, 52PX, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 12px;
  line-height: 52px;
  position: absolute;
  text-align: center;
  width: 52px;
  height: 52px;
}
.pie-wrapper .label .smaller {
  color: #000;
  font-size: 12px;
  padding-bottom: 20px;
}
.pie-wrapper .pie-shadow {
  height: 100%;
  width: 100%;
  border: 5.2PX solid #CECECE;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #000;
}
.pie-wrapper.style-2 .label .smaller {
  color: #000;
}
.pie-wrapper.progress-0 .pie .half-circle {
  border-color: #CECECE;
}
.pie-wrapper.progress-0 .pie .left-side {
  transform: rotate(0deg);
}
.pie-wrapper.progress-0 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-25 .pie .half-circle {
  border-color: #FFB300;
}
.pie-wrapper.progress-25 .pie .left-side {
  transform: rotate(90deg);
}
.pie-wrapper.progress-25 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-50 .pie .half-circle {
  border-color: #ffee00;
}
.pie-wrapper.progress-50 .pie .left-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-50 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #b3ff00;
}
.pie-wrapper.progress-75 .pie .left-side {
  transform: rotate(270deg);
}
.pie-wrapper.progress-75 .pie .right-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-100 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-100 .pie .half-circle {
  border-color: #6DDA5F;
}
.pie-wrapper.progress-100 .pie .left-side {
  transform: rotate(360deg);
}
.pie-wrapper.progress-100 .pie .right-side {
  transform: rotate(180deg);
}

/*!
 * Bootstrap-select v1.13.14 (https://developer.snapappointments.com/bootstrap-select)
 *
 * Copyright 2012-2020 SnapAppointments, LLC
 * Licensed under MIT (https://github.com/snapappointments/bootstrap-select/blob/master/LICENSE)
 */
@-webkit-keyframes bs-notify-fadeOut {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes bs-notify-fadeOut {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bs-notify-fadeOut {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
select.bs-select-hidden,
.bootstrap-select > select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}

.bootstrap-select {
  width: 220px \0 ;
  /*IE9 and below*/
  vertical-align: middle;
}

.bootstrap-select > .dropdown-toggle {
  position: relative;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bootstrap-select > .dropdown-toggle:after {
  margin-top: -1px;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #999;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:active {
  color: rgba(255, 255, 255, 0.5);
}

.bootstrap-select > select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: 0.5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: none;
  z-index: 0 !important;
}

.bootstrap-select > select.mobile-device {
  top: 0;
  left: 0;
  display: block !important;
  width: 100% !important;
  z-index: 2 !important;
}

.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle,
.bootstrap-select.is-invalid .dropdown-toggle,
.was-validated .bootstrap-select select:invalid + .dropdown-toggle {
  border-color: #b94a48;
}

.bootstrap-select.is-valid .dropdown-toggle,
.was-validated .bootstrap-select select:valid + .dropdown-toggle {
  border-color: #28a745;
}

.bootstrap-select.fit-width {
  width: auto !important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 220px;
}

.bootstrap-select > select.mobile-device:focus + .dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
  outline: thin dotted #333333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}

.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
  height: auto;
}

:not(.input-group) > .bootstrap-select.form-control:not([class*=col-]) {
  width: 100%;
}

.bootstrap-select.form-control.input-group-btn {
  float: none;
  z-index: auto;
}

.form-inline .bootstrap-select,
.form-inline .bootstrap-select.form-control:not([class*=col-]) {
  width: auto;
}

.bootstrap-select:not(.input-group-btn),
.bootstrap-select[class*=col-] {
  float: none;
  display: inline-block;
  margin-left: 0;
}

.bootstrap-select.dropdown-menu-right,
.bootstrap-select[class*=col-].dropdown-menu-right,
.row .bootstrap-select[class*=col-].dropdown-menu-right {
  float: right;
}

.form-inline .bootstrap-select,
.form-horizontal .bootstrap-select,
.form-group .bootstrap-select {
  margin-bottom: 0;
}

.form-group-lg .bootstrap-select.form-control,
.form-group-sm .bootstrap-select.form-control {
  padding: 0;
}

.form-group-lg .bootstrap-select.form-control .dropdown-toggle,
.form-group-sm .bootstrap-select.form-control .dropdown-toggle {
  height: 100%;
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}

.bootstrap-select.form-control-sm .dropdown-toggle,
.bootstrap-select.form-control-lg .dropdown-toggle {
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}

.bootstrap-select.form-control-sm .dropdown-toggle {
  padding: 0.25rem 0.5rem;
}

.bootstrap-select.form-control-lg .dropdown-toggle {
  padding: 0.5rem 1rem;
}

.form-inline .bootstrap-select .form-control {
  width: 100%;
}

.bootstrap-select.disabled,
.bootstrap-select > .disabled {
  cursor: not-allowed;
}

.bootstrap-select.disabled:focus,
.bootstrap-select > .disabled:focus {
  outline: none !important;
}

.bootstrap-select.bs-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 0 !important;
  padding: 0 !important;
}

.bootstrap-select.bs-container .dropdown-menu {
  z-index: 1060;
}

.bootstrap-select .dropdown-toggle .filter-option {
  position: static;
  top: 0;
  left: 0;
  float: left;
  height: 100%;
  width: 100%;
  text-align: left;
  overflow: hidden;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.bs3.bootstrap-select .dropdown-toggle .filter-option {
  padding-right: inherit;
}

.input-group .bs3-has-addon.bootstrap-select .dropdown-toggle .filter-option {
  position: absolute;
  padding-top: inherit;
  padding-bottom: inherit;
  padding-left: inherit;
  float: none;
}

.input-group .bs3-has-addon.bootstrap-select .dropdown-toggle .filter-option .filter-option-inner {
  padding-right: inherit;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  overflow: hidden;
}

.bootstrap-select .dropdown-toggle .filter-expand {
  width: 0 !important;
  float: left;
  opacity: 0 !important;
  overflow: hidden;
}

.bootstrap-select .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}

.input-group .bootstrap-select.form-control .dropdown-toggle {
  border-radius: inherit;
}

.bootstrap-select[class*=col-] .dropdown-toggle {
  width: 100%;
}

.bootstrap-select .dropdown-menu {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bootstrap-select .dropdown-menu > .inner:focus {
  outline: none !important;
}

.bootstrap-select .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bootstrap-select .dropdown-menu li {
  position: relative;
}

.bootstrap-select .dropdown-menu li.active small {
  color: rgba(255, 255, 255, 0.5) !important;
}

.bootstrap-select .dropdown-menu li.disabled a {
  cursor: not-allowed;
}

.bootstrap-select .dropdown-menu li a {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bootstrap-select .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em;
}

.bootstrap-select .dropdown-menu li a span.check-mark {
  display: none;
}

.bootstrap-select .dropdown-menu li a span.text {
  display: inline-block;
}

.bootstrap-select .dropdown-menu li small {
  padding-left: 0.5em;
}

.bootstrap-select .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bootstrap-select .dropdown-menu .notify.fadeOut {
  -webkit-animation: 300ms linear 750ms forwards bs-notify-fadeOut;
  -o-animation: 300ms linear 750ms forwards bs-notify-fadeOut;
  animation: 300ms linear 750ms forwards bs-notify-fadeOut;
}

.bootstrap-select .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
  white-space: nowrap;
}

.bootstrap-select.fit-width .dropdown-toggle .filter-option {
  position: static;
  display: inline;
  padding: 0;
}

.bootstrap-select.fit-width .dropdown-toggle .filter-option-inner,
.bootstrap-select.fit-width .dropdown-toggle .filter-option-inner-inner {
  display: inline;
}

.bootstrap-select.fit-width .dropdown-toggle .bs-caret:before {
  content: " ";
}

.bootstrap-select.fit-width .dropdown-toggle .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 5px;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}

.bootstrap-select .bs-ok-default:after {
  content: "";
  display: block;
  width: 0.5em;
  height: 1em;
  border-style: solid;
  border-width: 0 0.26em 0.26em 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle,
.bootstrap-select.show-menu-arrow.show > .dropdown-toggle {
  z-index: 1061;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle .filter-option:before {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle .filter-option:after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle .filter-option:before {
  bottom: auto;
  top: -4px;
  border-top: 7px solid rgba(204, 204, 204, 0.2);
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle .filter-option:after {
  bottom: auto;
  top: -4px;
  border-top: 6px solid white;
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle .filter-option:before {
  right: 12px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle .filter-option:after {
  right: 13px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle .filter-option:before,
.bootstrap-select.show-menu-arrow.show > .dropdown-toggle .filter-option:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle .filter-option:after,
.bootstrap-select.show-menu-arrow.show > .dropdown-toggle .filter-option:after {
  display: block;
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px;
}

.bs-actionsbox {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bs-actionsbox .btn-group button {
  width: 50%;
}

.bs-donebutton {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bs-donebutton .btn-group button {
  width: 100%;
}

.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}

.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
  float: none;
}

/*# sourceMappingURL=bootstrap-select.css.map */
.btn-sort {
  display: inline-block;
  width: 100px;
}
.btn-sort__wrap {
  width: 100% !important;
}
.btn-sort__wrap .dropdown-toggle::after {
  color: #6DDA5F;
  border-top: 0.7em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}
.btn-sort__wrap.show .dropdown-toggle::after {
  transform: scaleY(-1);
}
.btn-sort__wrap button.btn.dropdown-toggle.btn-light {
  background-color: #FFF;
  font-size: 14px;
  border-radius: 6px;
  font-weight: 300;
}
.btn-sort__wrap button.btn.dropdown-toggle.btn-light:focus {
  outline: none !important;
}
.btn-sort .dropdown-item {
  color: #4F4F4F;
  font-size: 14px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-sort .dropdown-item.active {
  color: #FFF;
  background-color: #242E3B;
}
.btn-sort .dropdown-item:hover {
  background-color: #242E3B;
  color: #FFF;
}

.submission__head {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.submission__title {
  font-size: 30px;
}
.submission__table {
  width: 100%;
  margin-top: 50px;
}
.submission__sort {
  margin-left: auto;
  font-weight: 500;
}

.custom-table tr:last-child .custom-table__body-td:first-child, .custom-table tr:last-child .custom-table__body-td--small:first-child, .custom-table tr:last-child .custom-table__body-td--muted:first-child {
  border-bottom-left-radius: 6px;
}
.custom-table tr:last-child .custom-table__body-td:last-child, .custom-table tr:last-child .custom-table__body-td--small:last-child, .custom-table tr:last-child .custom-table__body-td--muted:last-child {
  border-bottom-right-radius: 6px;
}
.custom-table__head-td {
  background-color: #242E3B;
  color: #FFF;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  padding: 20px 30px;
}
.custom-table__head-td:first-child {
  border-top-left-radius: 6px;
}
.custom-table__head-td:last-child {
  border-top-right-radius: 6px;
}
.custom-table__body-td, .custom-table__body-td--small, .custom-table__body-td--muted {
  background-color: #FFF;
  font-size: 14px;
  font-weight: 400;
  padding: 30px 30px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}
.custom-table__body-td--muted {
  font-size: 12px;
  color: #cecece;
  font-weight: 300;
}
.custom-table__body-td--small {
  font-size: 12px;
}
.custom-table__body-text {
  color: #000;
  transition: 0.1s;
  font-size: 16px;
  font-weight: 400;
}
.custom-table__body-text:hover {
  color: #6DDA5F;
  text-decoration: none;
}

.pagination-custom {
  margin: 64px auto 47px auto;
  width: 262px;
  display: flex;
  justify-content: space-between;
}
.pagination-custom__item {
  font-size: 16px;
  font-weight: 500;
  color: #4F4F4F;
  position: relative;
  z-index: 1;
  transition: 0.2s;
  width: 24px;
  height: 24px;
  text-align: center;
}
.pagination-custom__item::before {
  content: "";
  margin-top: -1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6DDA5F;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  z-index: -1;
  transition: 0.2s;
}
.pagination-custom__item:hover {
  color: #FFF;
  text-decoration: none;
}
.pagination-custom__item:hover::before {
  width: 24px;
  height: 24px;
  animation: big 0.3s ease-in-out;
}
.pagination-custom__item.active {
  color: #FFF;
}
.pagination-custom__item.active::before {
  width: 24px;
  height: 24px;
}
@keyframes big {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.topic-inner {
  width: 45%;
}

.jumbotron-custom {
  background-color: #242E3B;
  color: #FFF;
  border-radius: 5px;
  padding: 35px 90px;
  position: relative;
}
.jumbotron-custom__title {
  font-size: 26px;
  line-height: 39px;
  font-weight: 500;
}
.jumbotron-custom__desc {
  font-size: 12px;
  line-height: 21px;
  font-weight: 300;
}
.jumbotron-custom__image {
  position: absolute;
  top: -55px;
  right: 80px;
}

.recent {
  margin-bottom: 52px;
}
.recent__left {
  background-color: #FFF;
  padding: 50px 90px;
  border-radius: 5px;
}
.recent__right {
  background-color: #FFF;
  padding: 35px 50px;
  border-radius: 5px;
  width: 100%;
}
.recent__indicator {
  font-size: 16px;
  line-height: 25px;
  color: #6DDA5F;
  vertical-align: middle;
}
.recent__indicator::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #6DDA5F;
  vertical-align: middle;
  margin-right: 10px;
}
.recent__joined {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 0;
}
.recent__date {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 0;
}
.recent__time {
  font-size: 12px;
  line-height: 28px;
  color: #989898;
}

.progress-custom, .progress-custom--submission {
  position: relative;
  height: 25px;
  width: 80%;
  background-color: rgba(206, 206, 206, 0.3);
  border-radius: 12px;
}
.progress-custom--submission {
  height: 11px;
  width: 100%;
  margin-top: 6px;
}
.progress-custom__bar {
  background-color: #6DDA5F;
  border-radius: 12px;
}
.progress-custom__percent {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 14px;
}

.freetrial {
  margin-bottom: 76px;
}

.accordion-border {
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin: 0 -20px;
  padding: 0 20px;
  transition: 0.3s;
}
.accordion-border.show {
  border: 2px solid #989898;
}

.subscribe-course {
  margin-bottom: 40px;
}
.subscribe-course__note {
  font-size: 12px;
  align-self: center;
  padding-right: 125px;
}

.submission__title.border-darkgreen {
  border-left: 12px solid #32826d;
  padding-left: 20px;
}
.submission__title.border-orange {
  border-left: 12px solid #ffb300;
  padding-left: 20px;
}
.submission__title.border-green {
  border-left: 12px solid #6DDA5F;
  padding-left: 20px;
}
.submission__title.border-darkblue {
  background-color: #44546A;
}
.submission__title.border-dark {
  background-color: #242E3B;
}

.overview {
  margin-top: 50px;
  margin-bottom: 40px;
}

.total-student {
  background-color: #FFF;
  padding: 3px 38px;
  min-width: 260px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-student__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  text-align: left;
  gap: 10px;
  position: relative;
}
.total-student__img-container::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 0;
  right: 10px;
  width: 2px;
  background-color: rgba(112, 112, 112, 0.25);
}
.total-student__img {
  position: relative;
}
.total-student__img::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6DDA5F;
}
.total-student__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.total-student__number {
  font-size: 30px;
  font-weight: 500;
  color: #000;
}

.categories {
  margin-bottom: 80px;
  overflow-x: hidden;
}
.categories__wrapper {
  display: flex;
  gap: 27px;
  transition: all 0.7s ease-in-out;
}
.categories__wrapper.next {
  margin-left: -758px;
}

.card-custom {
  background-color: #FFF;
  min-height: 110px;
  min-width: 352px;
  display: flex;
  color: #4F4F4F;
  cursor: pointer;
}
.card-custom img {
  transition: 0.5s;
}
.card-custom:hover {
  color: #4F4F4F;
  text-decoration: none;
}
.card-custom:hover img {
  transform: scale(1.2) scaleX(-1) rotateY(180deg);
}
.card-custom__bg {
  background-color: #FFB300;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-custom__bg.orange {
  background-color: #FFB300;
}
.card-custom__bg.green {
  background-color: #6DDA5F;
}
.card-custom__bg.darkgreen {
  background-color: #32826D;
}
.card-custom__bg.darkblue {
  background-color: #44546A;
}
.card-custom__bg.dark {
  background-color: #242E3B;
}
.card-custom__text {
  padding-left: 20px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.card-custom__title {
  font-size: 18px;
  font-weight: 500;
}
.card-custom__desc {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
}

.arrow-slider__left, .arrow-slider__right {
  transition: 0.3s;
  cursor: pointer;
  color: #6DDA5F;
}
.arrow-slider__left:hover, .arrow-slider__right:hover {
  color: #32826d;
}
.arrow-slider__left.disabled, .arrow-slider__right.disabled {
  color: #CECECE;
  pointer-events: none;
  cursor: none;
}

.dropdown-action {
  min-width: 164px;
  top: -260%;
  right: -90%;
  box-shadow: 0px 3px 6px #00000029;
  padding: 15px 0;
}
.dropdown-action::before {
  content: unset;
}
.dropdown-action__item {
  font-size: 12px;
  font-weight: 300;
  color: #4F4F4F;
  display: flex;
  white-space: inherit;
}
.dropdown-action__item:active {
  background-color: #37475b;
}

.btn-action {
  background-color: #FFF;
  border-radius: 6px;
  font-size: 14px;
}
.btn-action:focus {
  box-shadow: none;
}

/*# sourceMappingURL=dashboard.css.map */
