.topic {
  padding: 20px 0 20px 0;
}
.topic__title {
  width: 40%;
  transition: 0.3s;
}
.topic__progress {
  width: 15%;
  text-align: center;
}
.topic__progress-bar, .topic__progress-bar--0, .topic__progress-bar--50 {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 5px solid #6DDA5F;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #4F4F4F;
}
.topic__progress-bar--50 {
  border: 5px solid #CECECE;
  border-top: 5px solid #FFB300;
}
.topic__progress-bar--0 {
  border: 5px solid #CECECE;
}
.topic__desc {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #4F4F4F;
  width: 40%;
}
.topic__progress-text, .topic__progress-text--small {
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
  color: #4F4F4F;
  display: inline-flex;
  flex-direction: column;
}
.topic__progress-text--small {
  font-size: 12px;
}
.topic__checkbox {
  position: relative;
}
.topic__checkbox::before {
  content: "";
  font-size: 10px;
  color: #FFF;
  opacity: 1;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  border: 1px solid #707070;
  background-color: #FFF;
  transition: 0.2s;
}
.topic__checkbox::after {
  content: "";
  display: block;
  margin: auto;
  width: 6px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.topic__checkbox:checked::before {
  background-color: #6DDA5F;
  border: 1px solid #6DDA5F;
}

.topic-inner {
  margin-left: auto;
  width: 85%;
  padding: 0 0 0 5px;
}
.topic-inner__detail {
  min-height: 50px;
  display: flex;
  align-items: baseline;
}
.topic-inner__button {
  padding-left: 0;
  padding-right: 0;
  width: 25%;
}

.btn-accordion {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-accordion.collapsed .btn-accordion__icon::after {
  transform: translate(-50%, -50%) rotate(270deg);
}
.btn-accordion__icon {
  width: 30px;
  height: 30px;
  background-color: #6DDA5F;
  border-radius: 50%;
  color: #FFF;
  transition: 0.5s;
  text-align: center;
  position: relative;
}
.btn-accordion__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background-color: #FFF;
}
.btn-accordion__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background-color: #FFF;
  transition: 0.5s;
}

.btn-accordion-inner {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  text-decoration: none;
  position: relative;
}
.btn-accordion-inner.collapsed::before {
  transform: scaleY(-1);
}
.btn-accordion-inner::before {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 22px;
  order: 1;
  align-self: center;
  margin-left: auto;
  border-radius: 50%;
  color: #989898;
  transition: 0.5s;
}
.btn-accordion-inner:hover .topic__title {
  color: #6DDA5F;
}

.custom-close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
}
.custom-close__button {
  color: #a0a0a0;
}

.modal-custom {
  padding: 40px 50px;
  border: none;
}
.modal-custom__title, .modal-custom__title--small {
  padding-top: 40px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.modal-custom__title--small {
  font-size: 26px;
}
.modal-custom__desc {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #636363;
}
.modal-custom__btn {
  font-size: 14px;
  font-weight: 400;
}
.modal-custom__footer-text {
  display: block;
  font-size: 12px;
  font-weight: 300;
  margin-top: 16px;
  color: #636363;
}
.modal-custom__footer-text:hover {
  color: #636363;
}

.side-bar {
  position: fixed;
  z-index: 8;
  top: 63px;
  bottom: 0;
  right: -600px;
  width: 583px;
  padding: 30px 70px;
  background-color: #FFF;
  box-shadow: 0px 3px 6px #00000029;
  transition: 0.6s;
  overflow-y: auto;
}
.side-bar__btn-show, .side-bar__btn-close {
  cursor: pointer;
}
.side-bar__btn-show {
  position: relative;
}
.side-bar__btn-show.highlight::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -15px;
  right: -15px;
  bottom: -10px;
  border: 5px solid #6DDA5F;
  animation: blink 1.5s linear infinite;
}
.side-bar__btn-close {
  color: #CECECE;
}
.side-bar.show {
  right: 0;
}
.side-bar__head {
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-bar__title {
  font-size: 26px;
  font-weight: 500;
}
.side-bar__subtitle, .side-bar__subtitle--small {
  font-size: 16px;
  margin-bottom: 0;
  display: block;
}
.side-bar__subtitle--small {
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
}

.header-chapter {
  width: 100%;
  background-color: #FFF;
  box-shadow: 0px 3px 13px #00000029;
  padding: 14px 0 13px 0;
  position: sticky;
  top: 66px;
  z-index: 8;
}
.header-chapter__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-chapter__title {
  font-size: 26px;
  font-weight: 500;
  display: inline-block;
  padding-right: 25px;
  margin-bottom: 0;
}
.header-chapter__subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #4F4F4F;
  display: inline-block;
  margin-bottom: 0;
}
.header-chapter__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-back {
  width: 36px;
  height: 36px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button.btn.dropdown-toggle.btn-light {
  color: #4F4F4F;
  background-color: #FFF;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #CECECE;
}

.form__input--small button.btn.dropdown-toggle.btn-light {
  color: #4F4F4F;
  background-color: #FFF;
  border-radius: 7px;
  font-size: 12px;
  font-weight: 300;
}

.form__input--small .dropdown-item {
  color: #4F4F4F;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form__input--small .dropdown-item.active {
  color: #FFF;
  background-color: #242E3B;
}
.form__input--small .dropdown-item:hover {
  background-color: #242E3B;
  color: #FFF;
}

.input-password {
  position: relative;
}
.input-password__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}
.input-password__icon.show {
  opacity: 1;
}
.input-password__icon:hover {
  opacity: 1;
}
.input-password__icon:active {
  transform: translateY(-50%) scale(0.9);
}

.form-control.is-invalid {
  color: #FF3939;
  background-image: unset;
}

.form {
  color: #4F4F4F;
}
.form__title, .form__title--green {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
.form__title--green {
  color: #6DDA5F;
  cursor: pointer;
  font-weight: 400;
}
.form__title--green:hover {
  color: #3dc02c;
  text-decoration: none;
}
.form__input, .form__input--password, .form__input--small {
  border: 1px solid #CECECE;
  border-radius: 7px;
  padding: 10px 22px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  position: relative;
}
.form__input .dropdown-item, .form__input--password .dropdown-item, .form__input--small .dropdown-item {
  color: #4F4F4F;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form__input .dropdown-item.active, .form__input--password .dropdown-item.active, .form__input--small .dropdown-item.active {
  color: #FFF;
  background-color: #242E3B;
}
.form__input .dropdown-item:hover, .form__input--password .dropdown-item:hover, .form__input--small .dropdown-item:hover {
  background-color: #242E3B;
  color: #FFF;
}
.form__input--small {
  font-size: 12px;
  color: #000;
  padding: 11px 10px;
}
.form__input--password {
  padding-right: 40px;
}
.form__input:focus, .form__input--small:focus, .form__input--password:focus {
  border: 1.5px solid #636363;
  box-shadow: none;
}
.form__slash {
  font-weight: 400;
  color: #9e9e9e;
  vertical-align: middle;
  margin-top: 5px;
}
.form__checkbox {
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}
.form__remember {
  font-size: 12px;
  line-height: 28px;
  font-weight: 300;
  vertical-align: middle;
}
.form__member, .form__member--green {
  font-size: 12px;
  line-height: 28px;
  margin-top: 67px;
}
.form__member--green {
  color: #6DDA5F;
  cursor: pointer;
  margin-top: 0;
  line-height: 12px;
}
.form__member--green:hover {
  color: #3dc02c;
  text-decoration: none;
}
.form__custom-invalid {
  width: unset;
  margin-top: 0.25rem;
  font-size: 70%;
  color: #dc3545;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-custom {
  margin-bottom: 0;
}

.btn-requirement {
  padding: 11px 37px;
  background-color: #6DDA5F;
  font-size: 16px;
  font-weight: 500;
  color: #FFF;
  position: relative;
  border-radius: 0;
  border: none;
  display: block;
  width: 100%;
  text-align: left;
}
.btn-requirement::before {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  color: #FFF;
  transition: 0.3s;
}
.btn-requirement.collapsed.btn-requirement::before {
  transform: translateY(-50%) scaleY(-1);
}

.accordion > .card {
  overflow: inherit;
}

.coding {
  height: calc(100vh - (90px + 66px));
}
.coding__right {
  height: 100%;
}
.coding__right-title {
  position: relative;
  background-color: #7aff69;
  box-shadow: 0px 3px 10px #00000071;
  z-index: 2;
}
.coding__right-container {
  padding: 30px 37px;
  height: calc(100vh - (90px + 66px + 42px + 42px));
  overflow-y: auto;
}
.coding__right-number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 65px;
  height: 31px;
  border-radius: 50%;
  background-color: #6DDA5F;
  color: #FFF;
}
.coding__right-subtitle {
  font-size: 26px;
  font-weight: 500;
  line-height: 25px;
  color: #4F4F4F;
  margin-bottom: 38px;
}
.coding__right-desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #4F4F4F;
  margin-bottom: 20px;
}
.coding__right-name {
  font-size: 16px;
  font-weight: 500;
  color: #4F4F4F;
}
.coding__right-date {
  font-size: 14px;
  font-weight: 300;
  color: #6DDA5F;
}
.coding__right-badge {
  background-color: #FF3939;
  border-radius: 50%;
  font-size: 10px;
  padding: 5px;
  width: 17px;
  height: 17px;
}
.coding__left {
  height: calc(100vh - (90px + 66px));
}

.editor {
  background-color: #161926;
  color: #FFF;
  display: flex;
  position: relative;
}
.editor__content {
  width: 100%;
  overflow-y: auto;
  position: relative;
}
.editor__head {
  background-color: #242E3B;
  position: sticky;
  top: 0;
  z-index: 5;
}
.editor__head-items {
  margin: 0;
  padding: 0;
}
.editor__head-item {
  display: inline-block;
  list-style: none;
  position: relative;
  width: 120px;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
}
.editor__head-item.active, .editor__head-item:hover {
  background-color: #32826D;
  cursor: pointer;
}
.editor__text-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - (66px + 90px + 47px + 68px));
}
.editor__footer {
  position: sticky;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #242E3B;
  padding: 13px 30px;
  display: flex;
  justify-content: space-between;
}
.editor__footer-text, .editor__footer-text--green {
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  line-height: 3;
}
.editor__footer-text--green {
  margin-right: auto;
  font-size: 12px;
  font-weight: 300;
  color: #6DDA5F;
  align-self: center;
}
.editor__footer-badge {
  margin-left: 10px;
  cursor: pointer;
}
.editor__sidebar {
  width: 200px;
  height: calc(100vh - (66px + 90px));
  background-color: #1D202D;
  transition: width 0.3s;
  position: relative;
}
.editor__sidebar.hide {
  width: 0;
  color: #1D202D;
  padding: 0;
}
.editor__sidebar.hide .editor__sidebar-btn {
  color: #FFF;
  right: -16px;
}
.editor__sidebar.hide .editor__sidebar-btn .arrow-right {
  display: block !important;
}
.editor__sidebar.hide .editor__sidebar-btn .arrow-left {
  display: none;
}
.editor__sidebar.hide .editor__sidebar-head,
.editor__sidebar.hide .editor__sidebar-subtitle,
.editor__sidebar.hide .sidebar-content,
.editor__sidebar.hide .editor__sidebar-footer {
  display: none;
}
.editor__sidebar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
  width: 16px;
  height: 32px;
  background-color: #2c3545;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}
.editor__sidebar-head {
  height: 47px;
  width: 200px;
  font-size: 16px;
  background-color: #242E3B;
  padding: 10px 20px;
  color: #FFF;
  vertical-align: middle;
}
.editor__sidebar-subtitle {
  font-size: 14px;
  font-weight: 300;
  padding: 10px 20px;
  color: #6DDA5F;
}
.editor__sidebar-footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 20px 20px;
  padding-left: 0;
  width: 80%;
  border-top: 1px solid rgba(206, 206, 206, 0.18);
}
.editor__btn-draft {
  margin-right: auto;
  margin-left: 20px;
  cursor: pointer;
}
.editor__btn-draft.disabled {
  pointer-events: none;
  color: #636363;
}

.sidebar-content {
  padding: 10px 20px;
}
.sidebar-content__folder {
  font-size: 12px;
  font-weight: 400;
  margin-top: 15px;
  color: #FFF;
  padding: 0;
  text-align: left;
  width: 100%;
}
.sidebar-content__folder.collapsed .folder-close {
  display: inline-block !important;
}
.sidebar-content__folder.collapsed .folder-open {
  display: none;
}
.sidebar-content__folder:focus {
  box-shadow: none;
}
.sidebar-content__folder:hover {
  cursor: pointer;
  color: #6DDA5F;
}
.sidebar-content__files, .sidebar-content__files--sub, .sidebar-content__subfolder {
  font-size: 10px;
  font-weight: 300;
  line-height: 28px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  color: #FFF;
  width: 100%;
  text-align: left;
}
.sidebar-content__files:focus, .sidebar-content__files--sub:focus, .sidebar-content__subfolder:focus {
  box-shadow: none;
}
.sidebar-content__files:hover, .sidebar-content__files--sub:hover, .sidebar-content__subfolder:hover {
  cursor: pointer;
  color: #6DDA5F;
}
.sidebar-content__subfolder {
  line-height: 1;
}
.sidebar-content__subfolder.collapsed .folder-close {
  display: inline-block !important;
}
.sidebar-content__subfolder.collapsed .folder-open {
  display: none;
}
.sidebar-content__files.active, .active.sidebar-content__files--sub {
  color: #6DDA5F;
}
.sidebar-content__files--sub {
  padding-left: 40px;
}

.overlay {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.overlay.show {
  visibility: visible;
  opacity: 1;
}
.overlay__score-close {
  color: #CECECE;
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 24px;
  cursor: pointer;
}
.overlay__score {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  background-color: #FFF;
  min-width: 391px;
  min-height: 335px;
  border-radius: 10px;
  padding: 30px;
  transition: 0.5s;
}
.overlay__score.show {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -60%) scale(1);
}
.overlay__score-text, .overlay__score-text--orange, .overlay__score-text--darkgreen, .overlay__score-text--green {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  text-align: left;
}
.overlay__score-text--green {
  color: #6DDA5F;
}
.overlay__score-text--darkgreen {
  color: #32826D;
}
.overlay__score-text--orange {
  color: #FFB300;
}
.overlay__score-points {
  font-size: 12px;
  font-weight: 300;
  color: #636363;
  text-align: left;
}
.overlay__title {
  font-size: 26px;
  font-weight: 500;
  color: #000;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 20px;
  display: block;
}

.comment {
  background-color: #CECECE;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 24px;
  display: flex;
  justify-content: space-between;
}
.comment__input {
  border: 1px solid #CECECE;
  border-radius: 7px;
  padding: 10px 22px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  width: 100%;
}
.comment__input:focus {
  border: 1.5px solid #636363;
  box-shadow: none;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #161926;
}

.ace-tomorrow-night-bright .ace_gutter {
  background: #161926;
}

/*# sourceMappingURL=final-exam-review.css.map */
