.topic {
  padding: 20px 0 20px 0;
}
.topic__title {
  width: 40%;
  transition: 0.3s;
}
.topic__progress {
  width: 15%;
  text-align: center;
}
.topic__progress-bar, .topic__progress-bar--0, .topic__progress-bar--50 {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 5px solid #6DDA5F;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #4F4F4F;
}
.topic__progress-bar--50 {
  border: 5px solid #CECECE;
  border-top: 5px solid #FFB300;
}
.topic__progress-bar--0 {
  border: 5px solid #CECECE;
}
.topic__desc {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #4F4F4F;
  width: 40%;
}
.topic__progress-text, .topic__progress-text--small {
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
  color: #4F4F4F;
  display: inline-flex;
  flex-direction: column;
}
.topic__progress-text--small {
  font-size: 12px;
}
.topic__checkbox {
  position: relative;
}
.topic__checkbox::before {
  content: "";
  font-size: 10px;
  color: #FFF;
  opacity: 1;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  border: 1px solid #707070;
  background-color: #FFF;
  transition: 0.2s;
}
.topic__checkbox::after {
  content: "";
  display: block;
  margin: auto;
  width: 6px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.topic__checkbox:checked::before {
  background-color: #6DDA5F;
  border: 1px solid #6DDA5F;
}

.topic-inner {
  margin-left: auto;
  width: 85%;
  padding: 0 0 0 5px;
}
.topic-inner__detail {
  min-height: 50px;
  display: flex;
  align-items: baseline;
}
.topic-inner__button {
  padding-left: 0;
  padding-right: 0;
  width: 25%;
}

.btn-accordion {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-accordion.collapsed .btn-accordion__icon::after {
  transform: translate(-50%, -50%) rotate(270deg);
}
.btn-accordion__icon {
  width: 30px;
  height: 30px;
  background-color: #6DDA5F;
  border-radius: 50%;
  color: #FFF;
  transition: 0.5s;
  text-align: center;
  position: relative;
}
.btn-accordion__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background-color: #FFF;
}
.btn-accordion__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background-color: #FFF;
  transition: 0.5s;
}

.btn-accordion-inner {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  text-decoration: none;
  position: relative;
}
.btn-accordion-inner.collapsed::before {
  transform: scaleY(-1);
}
.btn-accordion-inner::before {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 22px;
  order: 1;
  align-self: center;
  margin-left: auto;
  border-radius: 50%;
  color: #989898;
  transition: 0.5s;
}
.btn-accordion-inner:hover .topic__title {
  color: #6DDA5F;
}

.custom-close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
}
.custom-close__button {
  color: #a0a0a0;
}

.modal-custom {
  padding: 40px 50px;
  border: none;
}
.modal-custom__title, .modal-custom__title--small {
  padding-top: 40px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.modal-custom__title--small {
  font-size: 26px;
}
.modal-custom__desc {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #636363;
}
.modal-custom__btn {
  font-size: 14px;
  font-weight: 400;
}
.modal-custom__footer-text {
  display: block;
  font-size: 12px;
  font-weight: 300;
  margin-top: 16px;
  color: #636363;
}
.modal-custom__footer-text:hover {
  color: #636363;
}

.header-chapter {
  width: 100%;
  background-color: #FFF;
  box-shadow: 0px 3px 13px #00000029;
  padding: 14px 0 13px 0;
  position: sticky;
  top: 66px;
  z-index: 8;
}
.header-chapter__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-chapter__title {
  font-size: 26px;
  font-weight: 500;
  display: inline-block;
  padding-right: 25px;
  margin-bottom: 0;
}
.header-chapter__subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #4F4F4F;
  display: inline-block;
  margin-bottom: 0;
}
.header-chapter__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-back {
  width: 36px;
  height: 36px;
}

.side-bar {
  position: fixed;
  z-index: 8;
  top: 63px;
  bottom: 0;
  right: -600px;
  width: 583px;
  padding: 30px 70px;
  background-color: #FFF;
  box-shadow: 0px 3px 6px #00000029;
  transition: 0.6s;
  overflow-y: auto;
}
.side-bar__btn-show, .side-bar__btn-close {
  cursor: pointer;
}
.side-bar__btn-show {
  position: relative;
}
.side-bar__btn-show.highlight::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -15px;
  right: -15px;
  bottom: -10px;
  border: 5px solid #6DDA5F;
  animation: blink 1.5s linear infinite;
}
.side-bar__btn-close {
  color: #CECECE;
}
.side-bar.show {
  right: 0;
}
.side-bar__head {
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-bar__title {
  font-size: 26px;
  font-weight: 500;
}
.side-bar__subtitle, .side-bar__subtitle--small {
  font-size: 16px;
  margin-bottom: 0;
  display: block;
}
.side-bar__subtitle--small {
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
}

.nav-custom {
  margin-bottom: 0;
}

.video {
  width: 100%;
  height: calc(100vh - (63px + 66px));
  object-fit: cover;
  position: relative;
}
.video__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: 0.5s;
}
.video__button.hide {
  opacity: 0;
}
.video__button::before {
  content: "\f04b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  background-color: #6DDA5F;
  padding-left: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  cursor: pointer;
  opacity: 1;
}
.video__button:hover::before {
  background-color: #32826D;
}

.topic__title {
  width: inherit;
  font-size: 14px;
  font-weight: 300;
}

.btn-accordion-inner {
  padding: 10px 0;
}

.topic-inner__container {
  width: 85%;
}

/*# sourceMappingURL=learning-video.css.map */
