.custom-close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
}
.custom-close__button {
  color: #a0a0a0;
}

.modal-custom {
  padding: 40px 50px;
  border: none;
}
.modal-custom__title, .modal-custom__title--small {
  padding-top: 40px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.modal-custom__title--small {
  font-size: 26px;
}
.modal-custom__desc {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #636363;
}
.modal-custom__btn {
  font-size: 14px;
  font-weight: 400;
}
.modal-custom__footer-text {
  display: block;
  font-size: 12px;
  font-weight: 300;
  margin-top: 16px;
  color: #636363;
}
.modal-custom__footer-text:hover {
  color: #636363;
}

.btn-language .arrow-down {
  transition: 0.3s;
}
.btn-language.show .arrow-down {
  transform: scaleY(-1);
}

.input-password {
  position: relative;
}
.input-password__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}
.input-password__icon.show {
  opacity: 1;
}
.input-password__icon:hover {
  opacity: 1;
}
.input-password__icon:active {
  transform: translateY(-50%) scale(0.9);
}

.body-bg::before {
  content: "";
  background-image: url(../../img/login/bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 95vh;
}

.header {
  background-color: #FFF;
}

.banner {
  padding-top: 30px;
}
.banner__title, .banner__title--small {
  padding-top: 40px;
  font-size: 30px;
  font-weight: 600;
  line-height: 46px;
  margin-bottom: 0;
}
.banner__title--small {
  font-size: 26px;
}
.banner__desc {
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #636363;
}

.form {
  color: #4F4F4F;
}
.form__title, .form__title--green {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
.form__title--green {
  color: #6DDA5F;
  cursor: pointer;
  font-weight: 400;
}
.form__title--green:hover {
  color: #3dc02c;
  text-decoration: none;
}
.form__input, .form__input--password {
  border: 1px solid #CECECE;
  border-radius: 7px;
  padding: 10px 22px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
.form__input--password {
  padding-right: 40px;
}
.form__input:focus, .form__input--password:focus {
  border: 1.5px solid #636363;
  box-shadow: none;
}
.form__checkbox {
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}
.form__remember {
  font-size: 12px;
  line-height: 28px;
  font-weight: 300;
  vertical-align: middle;
}
.form__member, .form__member--green {
  font-size: 12px;
  line-height: 28px;
  margin-top: 67px;
}
.form__member--green {
  color: #6DDA5F;
  cursor: pointer;
}
.form__member--green:hover {
  color: #3dc02c;
  text-decoration: none;
}

/*# sourceMappingURL=login.css.map */
