.nav-custom {
  margin-bottom: 0;
}

.policy {
  position: relative;
  z-index: 1;
  background-color: #F2F2F2;
  padding-top: 70px;
  padding-bottom: 70px;
}
.policy::before {
  content: "";
  background-image: url(../../img/privacy-terms/bg-top-right.svg);
  background-repeat: no-repeat;
  width: 230px;
  height: 276px;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}
.policy__title {
  font-size: 40px;
  line-height: 60px;
  color: #000;
  margin-bottom: 40px;
}
.policy__inner {
  background-color: #fff;
  padding: 50px 90px;
}
.policy__accordion-title {
  font-size: 30px;
  line-height: 30px;
  padding: 30px 0;
  font-weight: 500;
  color: #000000;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.policy__accordion-title:focus, .policy__accordion-title:active {
  box-shadow: none;
}
.policy__accordion-title.collapsed .policy__accordion-icon::after {
  transform: translate(-50%, -50%) rotate(270deg);
}
.policy__accordion-icon {
  width: 23px;
  height: 23px;
  background-color: #6DDA5F;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease 0s;
  position: relative;
}
.policy__accordion-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background-color: #fff;
}
.policy__accordion-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background-color: #fff;
  transition: 0.5s;
}
.policy__accordion-subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  color: #6DDA5F;
  margin-bottom: 19px;
}
.policy__accordion-body {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #4f4f4f;
  padding: 10px 0;
  max-width: 95%;
}
.policy__accordion-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #4f4f4f;
}
@media (max-width: 425px) {
  .policy {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .policy__inner {
    padding: 20px 30px;
  }
  .policy__title {
    font-size: 32px;
    line-height: 42px;
  }
}

.footer {
  position: relative;
  z-index: 1;
  background-color: #F2F2F2;
}
.footer::before {
  content: "";
  background-image: url(../../img/privacy-terms/bg-bottom-left.svg);
  background-repeat: no-repeat;
  width: 188px;
  height: 220px;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
}
.footer__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  color: #4f4f4f;
}

/*# sourceMappingURL=privacy-terms.css.map */
